In [1]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline
import json
import datetime


from scipy.cluster.hierarchy import dendrogram, linkage

from sklearn.cluster import AgglomerativeClustering
#import scipy.cluster.hierarchy as sch

#import April12.ipynb
#%store -r icd_grouped 
import statsmodels.api as sm
from patsy import dmatrices 

# model selection
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LassoCV

import seaborn
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

/Users/kathy908000/anaconda3/lib/python3.7/site-packages/statsmodels/compat/pandas.py:49: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  data_klasses = (pandas.Series, pandas.DataFrame, pandas.Panel)

In [3]:
data= pd.read_csv("/Users/kathy908000/github/health-care-research/data/diabetes_matrix.csv")
data.head(30)

,Unnamed: 0,SUBJECT_ID,LOS,HOSPITALIZATION,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,...,NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER,HISPANIC/LATINO - CENTRAL AMERICAN (OTHER),ASIAN - JAPANESE,ASIAN - THAI,HISPANIC/LATINO - HONDURAN,HISPANIC/LATINO - CUBAN,MIDDLE EASTERN,ASIAN - OTHER,HISPANIC/LATINO - MEXICAN,AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE
0,0,13,3.6660,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,18,1.2885,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,20,1.0508,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,21,14.2664,2,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,24,0.5124,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,5,25,3.5466,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,6,28,1.1224,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,7,35,5.3757,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,8,37,1.1397,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,9,55,1.9138,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,10,59,2.2017,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,11,75,1.2469,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,12,83,2.3141,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
13,13,117,14.5181,2,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
14,14,123,1.4941,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15,15,130,17.4592,2,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,16,135,1.3460,2,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,17,137,5.1326,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,18,141,3.4765,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,19,157,6.1813,2,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,20,173,1.3722,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,21,184,5.0941,2,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,22,186,3.7078,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,23,188,26.9190,7,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,24,191,10.1558,2,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,25,192,1.0840,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,26,199,7.1739,2,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
27,27,205,2.9076,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
28,28,209,8.3211,2,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,29,210,1.0253,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data.shape

(10310, 931)

In [12]:
for col in data.columns: 
    print(col)

Unnamed: 0
SUBJECT_ID
LOS
HOSPITALIZATION
ELECTIVE
EMERGENCY
NEWBORN
URGENT
Government
Medicaid
Medicare
Private
Self Pay
DIVORCED
LIFE PARTNER
MARRIED
NAN
SEPARATED
SINGLE
UNKNOWN
WIDOWED
GENDER
003
004
005
007
008
009
010
011
012
013
014
018
027
031
032
034
035
038
039
040
041
042
046
047
048
049
052
053
054
057
058
066
070
075
078
079
082
086
088
094
096
097
110
111
112
117
120
121
127
130
131
135
136
137
138
139
140
141
142
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
161
162
163
164
171
172
173
174
175
176
180
182
183
184
185
186
187
188
189
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
207
208
209
210
211
212
213
214
215
216
217
218
220
221
223
225
226
227
228
229
230
232
233
235
236
237
238
239
240
241
242
244
245
246
249
250
251
252
253
254
255
256
257
258
259
261
262
263
265
266
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
303
304
305
306
307
308
309
310
311
312
313
314
315
317
318
319
320
321
322
323
324
325
327
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
382
383
385
386
387
388
389
390
391
394
395
396
397
398
401
402
403
404
405
410
411
412
413
414
415
416
417
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
440
441
442
443
444
445
446
447
448
449
451
452
453
454
455
456
457
458
459
461
462
463
464
465
466
471
472
473
475
477
478
480
481
482
483
484
485
486
487
488
490
491
492
493
494
495
496
500
501
502
506
507
508
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
540
541
542
543
550
551
552
553
555
556
557
558
560
562
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
607
608
611
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
632
633
634
642
644
646
647
648
649
652
654
666
670
674
680
681
682
683
684
685
686
690
692
693
694
695
696
697
698
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
741
742
745
746
747
748
750
751
752
753
754
755
756
757
758
759
765
766
770
774
775
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
799
800
801
802
803
804
805
806
807
808
810
811
812
813
814
815
816
817
820
821
822
823
824
825
826
830
831
833
834
835
836
839
840
842
845
846
847
850
851
852
853
854
860
861
862
863
864
865
866
867
868
869
870
872
873
874
875
879
880
881
882
883
884
886
887
890
891
892
893
894
896
897
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
916
917
918
919
920
921
922
923
924
926
927
933
934
935
936
937
939
941
942
944
945
947
948
950
951
952
953
954
955
956
958
959
961
962
964
965
966
967
968
969
970
971
972
974
975
977
983
987
989
990
991
992
994
995
996
997
998
999
E812
E813
E814
E815
E816
E817
E818
E819
E821
E822
E823
E824
E825
E826
E838
E848
E849
E850
E851
E852
E853
E854
E855
E857
E858
E866
E869
E870
E871
E874
E876
E878
E879
E880
E881
E882
E884
E885
E887
E888
E890
E899
E900
E901
E906
E910
E911
E912
E915
E916
E917
E918
E920
E922
E924
E927
E928
E929
E930
E931
E932
E933
E934
E935
E936
E937
E938
E939
E940
E941
E942
E943
E944
E945
E946
E947
E950
E953
E955
E956
E957
E958
E960
E965
E966
E967
E968
E969
E980
E988
E989
V01
V02
V03
V04
V05
V06
V07
V08
V09
V10
V11
V12
V13
V14
V15
V16
V17
V18
V19
V23
V26
V27
V29
V30
V42
V43
V44
V45
V46
V49
V50
V53
V54
V55
V56
V58
V60
V61
V62
V63
V64
V65
V66
V69
V70
V72
V74
V76
DEAD
AGE: 0-10
AGE: 11-20
AGE: 21-30
AGE: 31-40
AGE: 41-50
AGE: 51-60
AGE: 61-70
AGE: 71-80
AGE: 81-89
AGE: 90+
ASIAN
WHITE
UNKNOWN/NOT SPECIFIED
BLACK/AFRICAN AMERICAN
PATIENT DECLINED TO ANSWER
OTHER
HISPANIC OR LATINO
HISPANIC/LATINO - GUATEMALAN
ASIAN - CHINESE
HISPANIC/LATINO - PUERTO RICAN
ASIAN - ASIAN INDIAN
ASIAN - VIETNAMESE
MULTI RACE ETHNICITY
HISPANIC/LATINO - DOMINICAN
AMERICAN INDIAN/ALASKA NATIVE
WHITE - RUSSIAN
BLACK/AFRICAN
HISPANIC/LATINO - SALVADORAN
UNABLE TO OBTAIN
BLACK/CAPE VERDEAN
BLACK/HAITIAN
WHITE - OTHER EUROPEAN
PORTUGUESE
ASIAN - CAMBODIAN
SOUTH AMERICAN
WHITE - EASTERN EUROPEAN
ASIAN - FILIPINO
CARIBBEAN ISLAND
ASIAN - KOREAN
HISPANIC/LATINO - COLOMBIAN
WHITE - BRAZILIAN
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER
HISPANIC/LATINO - CENTRAL AMERICAN (OTHER)
ASIAN - JAPANESE
ASIAN - THAI
HISPANIC/LATINO - HONDURAN
HISPANIC/LATINO - CUBAN
MIDDLE EASTERN
ASIAN - OTHER
HISPANIC/LATINO - MEXICAN
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE

In [14]:
#data2 = data.iloc[: , [0, 30]]
data2 = data.iloc[: , 890: ]
data2.head(30)

,ASIAN,WHITE,UNKNOWN/NOT SPECIFIED,BLACK/AFRICAN AMERICAN,PATIENT DECLINED TO ANSWER,OTHER,HISPANIC OR LATINO,HISPANIC/LATINO - GUATEMALAN,ASIAN - CHINESE,HISPANIC/LATINO - PUERTO RICAN,...,NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER,HISPANIC/LATINO - CENTRAL AMERICAN (OTHER),ASIAN - JAPANESE,ASIAN - THAI,HISPANIC/LATINO - HONDURAN,HISPANIC/LATINO - CUBAN,MIDDLE EASTERN,ASIAN - OTHER,HISPANIC/LATINO - MEXICAN,AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
#nan rows 
data[data.isna().any(axis=1)]

Empty DataFrame
Columns: [Unnamed: 0, SUBJECT_ID, LOS, HOSPITALIZATION, ELECTIVE, EMERGENCY, NEWBORN, URGENT, Government, Medicaid, Medicare, Private, Self Pay, DIVORCED, LIFE PARTNER, MARRIED, NAN, SEPARATED, SINGLE, UNKNOWN, WIDOWED, GENDER, 003, 004, 005, 007, 008, 009, 010, 011, 012, 013, 014, 018, 027, 031, 032, 034, 035, 038, 039, 040, 041, 042, 046, 047, 048, 049, 052, 053, 054, 057, 058, 066, 070, 075, 078, 079, 082, 086, 088, 094, 096, 097, 110, 111, 112, 117, 120, 121, 127, 130, 131, 135, 136, 137, 138, 139, 140, 141, 142, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 161, 162, 163, ...]
Index: []

[0 rows x 931 columns]

In [16]:
print("No. of columns containing null values")
print(len(data.columns[data.isna().any()]))

print("No. of columns not containing null values")
print(len(data.columns[data.notna().all()]))

print("Total no. of columns in the dataframe")
print(len(data.columns))

No. of columns containing null values
0
No. of columns not containing null values
931
Total no. of columns in the dataframe
931

In [5]:
f= pd.read_csv("diabetesmatrix.csv")
f.head()

,SUBJECT_ID,LOS,HOSPITALIZATION,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,...,M9961,M9962,M9963,M9964,M9965,M9966,M9967,M9968,M9969,M9970
0,21280,207.1306,8,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,19911,152.7318,3,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,78076,134.1599,5,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,22818,130.2998,2,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,26519,128.9605,4,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [6]:
f.isnull().values.any()

True

In [8]:
df= pd.read_csv('diagnose_merged.csv')
df.head()

,Unnamed: 0,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,0,2,163353,1.0,V3001,Single lb in-hosp w cs,"Single liveborn, born in hospital, delivered b..."
1,1,2,163353,2.0,V053,Need prphyl vc vrl hepat,Need for prophylactic vaccination and inoculat...
2,2,2,163353,3.0,V290,NB obsrv suspct infect,Observation for suspected infectious condition
3,3,3,145834,9.0,2639,Protein-cal malnutr NOS,Unspecified protein-calorie malnutrition
4,4,3,145834,7.0,6826,Cellulitis of leg,"Cellulitis and abscess of leg, except foot"

In [21]:
df.tail()

,Unnamed: 0,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE,SHORT_TITLE,LONG_TITLE
651042,651042,99999,113369,4.0,25000,DMII wo cmp nt st uncntr,Diabetes mellitus without mention of complicat...
651043,651043,99999,113369,2.0,7861,Stridor,Stridor
651044,651044,99999,113369,5.0,4139,Angina pectoris NEC/NOS,Other and unspecified angina pectoris
651045,651045,99999,113369,3.0,4019,Hypertension NOS,Unspecified essential hypertension
651046,651046,99999,113369,1.0,75612,Spondylolisthesis,Spondylolisthesis

In [13]:
df.loc[df['ICD9_CODE']==53909]

Empty DataFrame
Columns: [Unnamed: 0, SUBJECT_ID, HADM_ID, SEQ_NUM, ICD9_CODE, SHORT_TITLE, LONG_TITLE]
Index: []

In [ ]:
df = df.astype({'ELECTIVE': int,

In [22]:
df2= pd.read_csv('D_ICD_DIAGNOSES.csv')
df2.head()

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,174,01166,TB pneumonia-oth test,"Tuberculous pneumonia [any form], tubercle bac..."
1,175,01170,TB pneumothorax-unspec,"Tuberculous pneumothorax, unspecified"
2,176,01171,TB pneumothorax-no exam,"Tuberculous pneumothorax, bacteriological or h..."
3,177,01172,TB pneumothorx-exam unkn,"Tuberculous pneumothorax, bacteriological or h..."
4,178,01173,TB pneumothorax-micro dx,"Tuberculous pneumothorax, tubercle bacilli fou..."

In [23]:
df2.dtypes

ROW_ID          int64
ICD9_CODE      object
SHORT_TITLE    object
LONG_TITLE     object
dtype: object

In [18]:
df2.loc[df2['ICD9_CODE']=='53901']

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
6130,6134,53901,Inf d/t gastrc band proc,Infection due to gastric band procedure

In [20]:
df2.loc[df2['ICD9_CODE']=='05310']

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
514,565,05310,H zoster nerv syst NOS,Herpes zoster with unspecified nervous system ...

In [24]:
df2.loc[df2['ICD9_CODE']=='2355']

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
1714,1717,2355,Unc behav neo GI NEC,Neoplasm of uncertain behavior of other and un...