In [524]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline
import json
import datetime


from scipy.cluster.hierarchy import dendrogram, linkage

from sklearn.cluster import AgglomerativeClustering
#import scipy.cluster.hierarchy as sch

#import April12.ipynb
#%store -r icd_grouped 
import statsmodels.api as sm
from patsy import dmatrices 

# model selection
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LassoCV

import seaborn
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Demographics

In [525]:
data2= pd.read_csv('ADMISSIONS.csv')
data2.head()
data2.shape # doesn't have empty rows
#data.head()
#data['SUBJECT_ID'].head(10)

(58976, 19)

In [526]:
data2.dtypes

ROW_ID                   int64
SUBJECT_ID               int64
HADM_ID                  int64
ADMITTIME               object
DISCHTIME               object
DEATHTIME               object
ADMISSION_TYPE          object
ADMISSION_LOCATION      object
DISCHARGE_LOCATION      object
INSURANCE               object
LANGUAGE                object
RELIGION                object
MARITAL_STATUS          object
ETHNICITY               object
EDREGTIME               object
EDOUTTIME               object
DIAGNOSIS               object
HOSPITAL_EXPIRE_FLAG     int64
HAS_CHARTEVENTS_DATA     int64
dtype: object

In [527]:
df = data2[['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ADMISSION_TYPE', 'INSURANCE', 'MARITAL_STATUS', 'ETHNICITY', 'DIAGNOSIS']]
df.head(30)

,ROW_ID,SUBJECT_ID,HADM_ID,ADMISSION_TYPE,INSURANCE,MARITAL_STATUS,ETHNICITY,DIAGNOSIS
0,21,22,165315,EMERGENCY,Private,MARRIED,WHITE,BENZODIAZEPINE OVERDOSE
1,22,23,152223,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...
2,23,23,124321,EMERGENCY,Medicare,MARRIED,WHITE,BRAIN MASS
3,24,24,161859,EMERGENCY,Private,SINGLE,WHITE,INTERIOR MYOCARDIAL INFARCTION
4,25,25,129635,EMERGENCY,Private,MARRIED,WHITE,ACUTE CORONARY SYNDROME
5,26,26,197661,EMERGENCY,Medicare,SINGLE,UNKNOWN/NOT SPECIFIED,V-TACH
6,27,27,134931,NEWBORN,Private,NaN,WHITE,NEWBORN
7,28,28,162569,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...
8,29,30,104557,URGENT,Medicare,MARRIED,UNKNOWN/NOT SPECIFIED,UNSTABLE ANGINA\CATH
9,30,31,128652,EMERGENCY,Medicare,MARRIED,WHITE,STATUS EPILEPTICUS
10,31,32,175413,ELECTIVE,Medicaid,NaN,WHITE,TRACHEAL STENOSIS/SDA
11,32,33,176176,EMERGENCY,Medicare,MARRIED,UNKNOWN/NOT SPECIFIED,SEPSIS;TELEMETRY
12,33,34,115799,EMERGENCY,Medicare,MARRIED,WHITE,CHEST PAIN\CATH
13,34,34,144319,EMERGENCY,Medicare,MARRIED,WHITE,BRADYCARDIA
14,35,35,166707,ELECTIVE,Medicare,DIVORCED,WHITE,AORTIC VALVE DISEASE\CORONARY ARTERY BYPASS GR...
15,36,36,182104,EMERGENCY,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...
16,37,36,122659,EMERGENCY,Medicare,MARRIED,WHITE,CHEST PAIN/SHORTNESS OF BREATH
17,38,36,165660,ELECTIVE,Medicare,MARRIED,WHITE,VENTRAL HERNIA/SDA
18,39,37,188670,EMERGENCY,Medicare,MARRIED,WHITE,CONGESTIVE HEART FAILURE
19,40,38,185910,EMERGENCY,Medicare,WIDOWED,WHITE,ACUTE MYOCARDIAL INFARCTION-SEPSIS
20,41,39,106266,NEWBORN,Private,NaN,UNKNOWN/NOT SPECIFIED,NEWBORN
21,42,41,101757,ELECTIVE,Private,SINGLE,WHITE,RIGHT BRAIN STEM LESION/SDA
22,456,357,174486,EMERGENCY,Private,MARRIED,WHITE,GASTROINTESTINAL BLEED
23,457,357,145674,EMERGENCY,Private,MARRIED,WHITE,SEIZURE
24,458,357,122609,EMERGENCY,Private,MARRIED,WHITE,SEPSIS
25,459,357,101651,EMERGENCY,Private,MARRIED,WHITE,PNEUMONIA
26,460,357,117876,EMERGENCY,Private,MARRIED,WHITE,ALTERED MENTAL STATUS
27,461,358,110872,NEWBORN,Private,NaN,WHITE,NEWBORN
28,462,359,144265,EMERGENCY,Self Pay,MARRIED,UNKNOWN/NOT SPECIFIED,R/O MYOCARDIAL INFARCTION
29,463,360,154871,EMERGENCY,Medicare,MARRIED,WHITE,CEREBROVASCULAR ACCIDENT;TELEMETRY

# Label Encoding

In [528]:
le = LabelEncoder()
df['ADMISSION_TYPEc']= le.fit_transform(df['ADMISSION_TYPE']) 
df.head(10)
#df.loc[df['ADMISSION_TYPEc']==4]

/Users/kathy908000/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ROW_ID,SUBJECT_ID,HADM_ID,ADMISSION_TYPE,INSURANCE,MARITAL_STATUS,ETHNICITY,DIAGNOSIS,ADMISSION_TYPEc
0,21,22,165315,EMERGENCY,Private,MARRIED,WHITE,BENZODIAZEPINE OVERDOSE,1
1,22,23,152223,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0
2,23,23,124321,EMERGENCY,Medicare,MARRIED,WHITE,BRAIN MASS,1
3,24,24,161859,EMERGENCY,Private,SINGLE,WHITE,INTERIOR MYOCARDIAL INFARCTION,1
4,25,25,129635,EMERGENCY,Private,MARRIED,WHITE,ACUTE CORONARY SYNDROME,1
5,26,26,197661,EMERGENCY,Medicare,SINGLE,UNKNOWN/NOT SPECIFIED,V-TACH,1
6,27,27,134931,NEWBORN,Private,NaN,WHITE,NEWBORN,2
7,28,28,162569,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0
8,29,30,104557,URGENT,Medicare,MARRIED,UNKNOWN/NOT SPECIFIED,UNSTABLE ANGINA\CATH,3
9,30,31,128652,EMERGENCY,Medicare,MARRIED,WHITE,STATUS EPILEPTICUS,1

In [529]:
#preprocess NaN
df.fillna("NAN", inplace = True)
df.head(20)

/Users/kathy908000/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

,ROW_ID,SUBJECT_ID,HADM_ID,ADMISSION_TYPE,INSURANCE,MARITAL_STATUS,ETHNICITY,DIAGNOSIS,ADMISSION_TYPEc
0,21,22,165315,EMERGENCY,Private,MARRIED,WHITE,BENZODIAZEPINE OVERDOSE,1
1,22,23,152223,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0
2,23,23,124321,EMERGENCY,Medicare,MARRIED,WHITE,BRAIN MASS,1
3,24,24,161859,EMERGENCY,Private,SINGLE,WHITE,INTERIOR MYOCARDIAL INFARCTION,1
4,25,25,129635,EMERGENCY,Private,MARRIED,WHITE,ACUTE CORONARY SYNDROME,1
5,26,26,197661,EMERGENCY,Medicare,SINGLE,UNKNOWN/NOT SPECIFIED,V-TACH,1
6,27,27,134931,NEWBORN,Private,NAN,WHITE,NEWBORN,2
7,28,28,162569,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0
8,29,30,104557,URGENT,Medicare,MARRIED,UNKNOWN/NOT SPECIFIED,UNSTABLE ANGINA\CATH,3
9,30,31,128652,EMERGENCY,Medicare,MARRIED,WHITE,STATUS EPILEPTICUS,1
10,31,32,175413,ELECTIVE,Medicaid,NAN,WHITE,TRACHEAL STENOSIS/SDA,0
11,32,33,176176,EMERGENCY,Medicare,MARRIED,UNKNOWN/NOT SPECIFIED,SEPSIS;TELEMETRY,1
12,33,34,115799,EMERGENCY,Medicare,MARRIED,WHITE,CHEST PAIN\CATH,1
13,34,34,144319,EMERGENCY,Medicare,MARRIED,WHITE,BRADYCARDIA,1
14,35,35,166707,ELECTIVE,Medicare,DIVORCED,WHITE,AORTIC VALVE DISEASE\CORONARY ARTERY BYPASS GR...,0
15,36,36,182104,EMERGENCY,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,1
16,37,36,122659,EMERGENCY,Medicare,MARRIED,WHITE,CHEST PAIN/SHORTNESS OF BREATH,1
17,38,36,165660,ELECTIVE,Medicare,MARRIED,WHITE,VENTRAL HERNIA/SDA,0
18,39,37,188670,EMERGENCY,Medicare,MARRIED,WHITE,CONGESTIVE HEART FAILURE,1
19,40,38,185910,EMERGENCY,Medicare,WIDOWED,WHITE,ACUTE MYOCARDIAL INFARCTION-SEPSIS,1

In [530]:
df['INSURANCEc']= le.fit_transform(df['INSURANCE']) 
df['MARITAL_STATUSc']= le.fit_transform(df['MARITAL_STATUS']) 
df['ETHNICITYc']= le.fit_transform(df['ETHNICITY']) 

df.head(30)

/Users/kathy908000/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/kathy908000/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/kathy908000/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,ROW_ID,SUBJECT_ID,HADM_ID,ADMISSION_TYPE,INSURANCE,MARITAL_STATUS,ETHNICITY,DIAGNOSIS,ADMISSION_TYPEc,INSURANCEc,MARITAL_STATUSc,ETHNICITYc
0,21,22,165315,EMERGENCY,Private,MARRIED,WHITE,BENZODIAZEPINE OVERDOSE,1,3,2,36
1,22,23,152223,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,2,2,36
2,23,23,124321,EMERGENCY,Medicare,MARRIED,WHITE,BRAIN MASS,1,2,2,36
3,24,24,161859,EMERGENCY,Private,SINGLE,WHITE,INTERIOR MYOCARDIAL INFARCTION,1,3,5,36
4,25,25,129635,EMERGENCY,Private,MARRIED,WHITE,ACUTE CORONARY SYNDROME,1,3,2,36
5,26,26,197661,EMERGENCY,Medicare,SINGLE,UNKNOWN/NOT SPECIFIED,V-TACH,1,2,5,35
6,27,27,134931,NEWBORN,Private,NAN,WHITE,NEWBORN,2,3,3,36
7,28,28,162569,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,2,2,36
8,29,30,104557,URGENT,Medicare,MARRIED,UNKNOWN/NOT SPECIFIED,UNSTABLE ANGINA\CATH,3,2,2,35
9,30,31,128652,EMERGENCY,Medicare,MARRIED,WHITE,STATUS EPILEPTICUS,1,2,2,36
10,31,32,175413,ELECTIVE,Medicaid,NAN,WHITE,TRACHEAL STENOSIS/SDA,0,1,3,36
11,32,33,176176,EMERGENCY,Medicare,MARRIED,UNKNOWN/NOT SPECIFIED,SEPSIS;TELEMETRY,1,2,2,35
12,33,34,115799,EMERGENCY,Medicare,MARRIED,WHITE,CHEST PAIN\CATH,1,2,2,36
13,34,34,144319,EMERGENCY,Medicare,MARRIED,WHITE,BRADYCARDIA,1,2,2,36
14,35,35,166707,ELECTIVE,Medicare,DIVORCED,WHITE,AORTIC VALVE DISEASE\CORONARY ARTERY BYPASS GR...,0,2,0,36
15,36,36,182104,EMERGENCY,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,1,2,2,36
16,37,36,122659,EMERGENCY,Medicare,MARRIED,WHITE,CHEST PAIN/SHORTNESS OF BREATH,1,2,2,36
17,38,36,165660,ELECTIVE,Medicare,MARRIED,WHITE,VENTRAL HERNIA/SDA,0,2,2,36
18,39,37,188670,EMERGENCY,Medicare,MARRIED,WHITE,CONGESTIVE HEART FAILURE,1,2,2,36
19,40,38,185910,EMERGENCY,Medicare,WIDOWED,WHITE,ACUTE MYOCARDIAL INFARCTION-SEPSIS,1,2,7,36
20,41,39,106266,NEWBORN,Private,NAN,UNKNOWN/NOT SPECIFIED,NEWBORN,2,3,3,35
21,42,41,101757,ELECTIVE,Private,SINGLE,WHITE,RIGHT BRAIN STEM LESION/SDA,0,3,5,36
22,456,357,174486,EMERGENCY,Private,MARRIED,WHITE,GASTROINTESTINAL BLEED,1,3,2,36
23,457,357,145674,EMERGENCY,Private,MARRIED,WHITE,SEIZURE,1,3,2,36
24,458,357,122609,EMERGENCY,Private,MARRIED,WHITE,SEPSIS,1,3,2,36
25,459,357,101651,EMERGENCY,Private,MARRIED,WHITE,PNEUMONIA,1,3,2,36
26,460,357,117876,EMERGENCY,Private,MARRIED,WHITE,ALTERED MENTAL STATUS,1,3,2,36
27,461,358,110872,NEWBORN,Private,NAN,WHITE,NEWBORN,2,3,3,36
28,462,359,144265,EMERGENCY,Self Pay,MARRIED,UNKNOWN/NOT SPECIFIED,R/O MYOCARDIAL INFARCTION,1,4,2,35
29,463,360,154871,EMERGENCY,Medicare,MARRIED,WHITE,CEREBROVASCULAR ACCIDENT;TELEMETRY,1,2,2,36

In [531]:
df.loc[df['INSURANCEc']==3]

,ROW_ID,SUBJECT_ID,HADM_ID,ADMISSION_TYPE,INSURANCE,MARITAL_STATUS,ETHNICITY,DIAGNOSIS,ADMISSION_TYPEc,INSURANCEc,MARITAL_STATUSc,ETHNICITYc
0,21,22,165315,EMERGENCY,Private,MARRIED,WHITE,BENZODIAZEPINE OVERDOSE,1,3,2,36
3,24,24,161859,EMERGENCY,Private,SINGLE,WHITE,INTERIOR MYOCARDIAL INFARCTION,1,3,5,36
4,25,25,129635,EMERGENCY,Private,MARRIED,WHITE,ACUTE CORONARY SYNDROME,1,3,2,36
6,27,27,134931,NEWBORN,Private,NAN,WHITE,NEWBORN,2,3,3,36
20,41,39,106266,NEWBORN,Private,NAN,UNKNOWN/NOT SPECIFIED,NEWBORN,2,3,3,35
...,...,...,...,...,...,...,...,...,...,...,...,...
58968,58591,98790,187987,EMERGENCY,Private,MARRIED,WHITE,JOINT EFFUSION,1,3,2,36
58971,58594,98800,191113,EMERGENCY,Private,SINGLE,WHITE,TRAUMA,1,3,5,36
58973,58596,98805,122631,ELECTIVE,Private,MARRIED,WHITE,RENAL CANCER/SDA,0,3,2,36
58974,58597,98813,170407,EMERGENCY,Private,MARRIED,WHITE,S/P FALL,1,3,2,36
58975,58598,98813,190264,EMERGENCY,Private,MARRIED,WHITE,INTRACRANIAL HEMORRHAGE,1,3,2,36

onehotencoder = OneHotEncoder()
columnTransformer = ColumnTransformer([('encoder', 
                                        OneHotEncoder(), 
                                        [0])], 
                                      remainder='passthrough') 
df = np.array(columnTransformer.fit_transform(df), dtype = np.str)

In [532]:
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')

# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(df[['ADMISSION_TYPEc']]).toarray())

enc_df.head(20)

      0    1    2    3
0   0.0  1.0  0.0  0.0
1   1.0  0.0  0.0  0.0
2   0.0  1.0  0.0  0.0
3   0.0  1.0  0.0  0.0
4   0.0  1.0  0.0  0.0
5   0.0  1.0  0.0  0.0
6   0.0  0.0  1.0  0.0
7   1.0  0.0  0.0  0.0
8   0.0  0.0  0.0  1.0
9   0.0  1.0  0.0  0.0
10  1.0  0.0  0.0  0.0
11  0.0  1.0  0.0  0.0
12  0.0  1.0  0.0  0.0
13  0.0  1.0  0.0  0.0
14  1.0  0.0  0.0  0.0
15  0.0  1.0  0.0  0.0
16  0.0  1.0  0.0  0.0
17  1.0  0.0  0.0  0.0
18  0.0  1.0  0.0  0.0
19  0.0  1.0  0.0  0.0

In [533]:
# merge with main df bridge_df on key values
df = df.join(enc_df)
df.head(10)

,ROW_ID,SUBJECT_ID,HADM_ID,ADMISSION_TYPE,INSURANCE,MARITAL_STATUS,ETHNICITY,DIAGNOSIS,ADMISSION_TYPEc,INSURANCEc,MARITAL_STATUSc,ETHNICITYc,0,1,2,3
0,21,22,165315,EMERGENCY,Private,MARRIED,WHITE,BENZODIAZEPINE OVERDOSE,1,3,2,36,0.0,1.0,0.0,0.0
1,22,23,152223,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,2,2,36,1.0,0.0,0.0,0.0
2,23,23,124321,EMERGENCY,Medicare,MARRIED,WHITE,BRAIN MASS,1,2,2,36,0.0,1.0,0.0,0.0
3,24,24,161859,EMERGENCY,Private,SINGLE,WHITE,INTERIOR MYOCARDIAL INFARCTION,1,3,5,36,0.0,1.0,0.0,0.0
4,25,25,129635,EMERGENCY,Private,MARRIED,WHITE,ACUTE CORONARY SYNDROME,1,3,2,36,0.0,1.0,0.0,0.0
5,26,26,197661,EMERGENCY,Medicare,SINGLE,UNKNOWN/NOT SPECIFIED,V-TACH,1,2,5,35,0.0,1.0,0.0,0.0
6,27,27,134931,NEWBORN,Private,NAN,WHITE,NEWBORN,2,3,3,36,0.0,0.0,1.0,0.0
7,28,28,162569,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,2,2,36,1.0,0.0,0.0,0.0
8,29,30,104557,URGENT,Medicare,MARRIED,UNKNOWN/NOT SPECIFIED,UNSTABLE ANGINA\CATH,3,2,2,35,0.0,0.0,0.0,1.0
9,30,31,128652,EMERGENCY,Medicare,MARRIED,WHITE,STATUS EPILEPTICUS,1,2,2,36,0.0,1.0,0.0,0.0

In [534]:
#rename onehotencoded columns
df = df.rename({0: 'ELECTIVE', 1: 'EMERGENCY', 2: 'NEWBORN', 3: 'URGENT'}, axis=1)
df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ADMISSION_TYPE,INSURANCE,MARITAL_STATUS,ETHNICITY,DIAGNOSIS,ADMISSION_TYPEc,INSURANCEc,MARITAL_STATUSc,ETHNICITYc,ELECTIVE,EMERGENCY,NEWBORN,URGENT
0,21,22,165315,EMERGENCY,Private,MARRIED,WHITE,BENZODIAZEPINE OVERDOSE,1,3,2,36,0.0,1.0,0.0,0.0
1,22,23,152223,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,2,2,36,1.0,0.0,0.0,0.0
2,23,23,124321,EMERGENCY,Medicare,MARRIED,WHITE,BRAIN MASS,1,2,2,36,0.0,1.0,0.0,0.0
3,24,24,161859,EMERGENCY,Private,SINGLE,WHITE,INTERIOR MYOCARDIAL INFARCTION,1,3,5,36,0.0,1.0,0.0,0.0
4,25,25,129635,EMERGENCY,Private,MARRIED,WHITE,ACUTE CORONARY SYNDROME,1,3,2,36,0.0,1.0,0.0,0.0

In [535]:
enc_df2 = pd.DataFrame(enc.fit_transform(df[['INSURANCEc']]).toarray())

enc_df2.head()
df = df.join(enc_df2)
df.head(10)
#rename onehotencoded columns
df = df.rename({0: 'Government', 1: 'Medicaid', 2: 'Medicare', 3: 'Private', 4: 'Self Pay'}, axis=1)
df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ADMISSION_TYPE,INSURANCE,MARITAL_STATUS,ETHNICITY,DIAGNOSIS,ADMISSION_TYPEc,INSURANCEc,...,ETHNICITYc,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,Private,Self Pay
0,21,22,165315,EMERGENCY,Private,MARRIED,WHITE,BENZODIAZEPINE OVERDOSE,1,3,...,36,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,22,23,152223,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,2,...,36,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,23,23,124321,EMERGENCY,Medicare,MARRIED,WHITE,BRAIN MASS,1,2,...,36,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,24,24,161859,EMERGENCY,Private,SINGLE,WHITE,INTERIOR MYOCARDIAL INFARCTION,1,3,...,36,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,25,25,129635,EMERGENCY,Private,MARRIED,WHITE,ACUTE CORONARY SYNDROME,1,3,...,36,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [536]:
enc_df3 = pd.DataFrame(enc.fit_transform(df[['MARITAL_STATUSc']]).toarray())

enc_df3.head()
df = df.join(enc_df3)
df.head(10)
#rename onehotencoded columns
df = df.rename({0: 'DIVORCED', 1: 'LIFE PARTNER', 2: 'MARRIED', 3: 'NAN', 4: 'SEPARATED', 5:'SINGLE', 6: 'UNKNOWN', 7: 'WIDOWED' }, axis=1)
df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ADMISSION_TYPE,INSURANCE,MARITAL_STATUS,ETHNICITY,DIAGNOSIS,ADMISSION_TYPEc,INSURANCEc,...,Private,Self Pay,DIVORCED,LIFE PARTNER,MARRIED,NAN,SEPARATED,SINGLE,UNKNOWN,WIDOWED
0,21,22,165315,EMERGENCY,Private,MARRIED,WHITE,BENZODIAZEPINE OVERDOSE,1,3,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,22,23,152223,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,2,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,23,23,124321,EMERGENCY,Medicare,MARRIED,WHITE,BRAIN MASS,1,2,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,24,24,161859,EMERGENCY,Private,SINGLE,WHITE,INTERIOR MYOCARDIAL INFARCTION,1,3,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,25,25,129635,EMERGENCY,Private,MARRIED,WHITE,ACUTE CORONARY SYNDROME,1,3,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [537]:
enc_df4 = pd.DataFrame(enc.fit_transform(df[['ETHNICITYc']]).toarray())

enc_df4.head()
df = df.join(enc_df4)
df.head(10)
#number columns are ethnicity

,ROW_ID,SUBJECT_ID,HADM_ID,ADMISSION_TYPE,INSURANCE,MARITAL_STATUS,ETHNICITY,DIAGNOSIS,ADMISSION_TYPEc,INSURANCEc,...,31,32,33,34,35,36,37,38,39,40
0,21,22,165315,EMERGENCY,Private,MARRIED,WHITE,BENZODIAZEPINE OVERDOSE,1,3,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,22,23,152223,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,23,23,124321,EMERGENCY,Medicare,MARRIED,WHITE,BRAIN MASS,1,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,24,24,161859,EMERGENCY,Private,SINGLE,WHITE,INTERIOR MYOCARDIAL INFARCTION,1,3,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,25,25,129635,EMERGENCY,Private,MARRIED,WHITE,ACUTE CORONARY SYNDROME,1,3,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,26,26,197661,EMERGENCY,Medicare,SINGLE,UNKNOWN/NOT SPECIFIED,V-TACH,1,2,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6,27,27,134931,NEWBORN,Private,NAN,WHITE,NEWBORN,2,3,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,28,28,162569,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8,29,30,104557,URGENT,Medicare,MARRIED,UNKNOWN/NOT SPECIFIED,UNSTABLE ANGINA\CATH,3,2,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
9,30,31,128652,EMERGENCY,Medicare,MARRIED,WHITE,STATUS EPILEPTICUS,1,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [538]:
df = df.sort_values(by=['SUBJECT_ID'])
#mergednodup = mergednodup.sort_values(by=['SUBJECT_ID'])
df[['SUBJECT_ID', 'ELECTIVE']].head(30)

     SUBJECT_ID  ELECTIVE
211           2       0.0
212           3       0.0
213           4       0.0
214           5       0.0
215           6       1.0
216           7       0.0
217           8       0.0
218           9       0.0
219          10       0.0
220          11       0.0
221          12       1.0
222          13       0.0
223          16       0.0
224          17       1.0
225          17       0.0
226          18       0.0
227          19       0.0
228          20       1.0
229          21       0.0
230          21       0.0
0            22       0.0
1            23       1.0
2            23       0.0
3            24       0.0
4            25       0.0
5            26       0.0
6            27       0.0
7            28       1.0
8            30       0.0
9            31       0.0

# Check weather groupby works

In [539]:
df.dtypes

ROW_ID              int64
SUBJECT_ID          int64
HADM_ID             int64
ADMISSION_TYPE     object
INSURANCE          object
                   ...
36                float64
37                float64
38                float64
39                float64
40                float64
Length: 70, dtype: object

In [540]:
#round, remove the decimal points

df = df.astype({'ELECTIVE': int, 'EMERGENCY': int, 'NEWBORN': int, 'URGENT': int  })
df = df.astype({'ELECTIVE': str, 'EMERGENCY': str, 'NEWBORN': str, 'URGENT': str })




#df['ELECTIVE'].apply(np.ceil)

#df['ELECTIVE'] = df['ELECTIVE'].round(decimals=0)
#df['ELECTIVE'] = (df['ELECTIVE'] // 1e-5) * 1e-5
#df = df.astype ({'ELECTIVE': 'int' }) 
#df['ELECTIVE'] = df['ELECTIVE'].astype(int)
#df['ELECTIVE'] = (df['ELECTIVE'] * 1e2).astype(int) / 1e2

#df.style.set_precision(1)
#df.style.format({ 'ELECTIVE': '{:,.1f}'.format, 'EMERGENCY': '{:,.3f}'.format, })

#df.round()
#df = df.astype ({'ELECTIVE': 'int32' }) 
#df = df.astype ({'ELECTIVE': str }) 
#df['ELECTIVE'].head()
df.head(20)

,ROW_ID,SUBJECT_ID,HADM_ID,ADMISSION_TYPE,INSURANCE,MARITAL_STATUS,ETHNICITY,DIAGNOSIS,ADMISSION_TYPEc,INSURANCEc,...,31,32,33,34,35,36,37,38,39,40
211,1,2,163353,NEWBORN,Private,NAN,ASIAN,NEWBORN,2,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
212,2,3,145834,EMERGENCY,Medicare,MARRIED,WHITE,HYPOTENSION,1,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
213,3,4,185777,EMERGENCY,Private,SINGLE,WHITE,"FEVER,DEHYDRATION,FAILURE TO THRIVE",1,3,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
214,4,5,178980,NEWBORN,Private,NAN,ASIAN,NEWBORN,2,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
215,5,6,107064,ELECTIVE,Medicare,MARRIED,WHITE,CHRONIC RENAL FAILURE/SDA,0,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
216,6,7,118037,NEWBORN,Private,NAN,WHITE,NEWBORN,2,3,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
217,7,8,159514,NEWBORN,Private,NAN,WHITE,NEWBORN,2,3,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
218,8,9,150750,EMERGENCY,Medicaid,NAN,UNKNOWN/NOT SPECIFIED,HEMORRHAGIC CVA,1,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
219,9,10,184167,NEWBORN,Medicaid,NAN,BLACK/AFRICAN AMERICAN,NEWBORN,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
220,10,11,194540,EMERGENCY,Private,MARRIED,WHITE,BRAIN MASS,1,3,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
221,11,12,112213,ELECTIVE,Medicare,MARRIED,WHITE,PANCREATIC CANCER/SDA,0,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
222,12,13,143045,EMERGENCY,Medicaid,NAN,WHITE,CORONARY ARTERY DISEASE,1,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
223,13,16,103251,NEWBORN,Private,NAN,WHITE,NEWBORN,2,3,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
224,14,17,194023,ELECTIVE,Private,MARRIED,WHITE,PATIENT FORAMEN OVALE\ PATENT FORAMEN OVALE MI...,0,3,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
225,15,17,161087,EMERGENCY,Private,MARRIED,WHITE,PERICARDIAL EFFUSION,1,3,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
226,16,18,188822,EMERGENCY,Private,MARRIED,WHITE,HYPOGLYCEMIA;SEIZURES,1,3,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
227,17,19,109235,EMERGENCY,Medicare,NAN,WHITE,C-2 FRACTURE,1,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
228,18,20,157681,ELECTIVE,Medicare,WIDOWED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
229,19,21,109451,EMERGENCY,Medicare,MARRIED,WHITE,CONGESTIVE HEART FAILURE,1,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
230,20,21,111970,EMERGENCY,Medicare,MARRIED,WHITE,SEPSIS,1,2,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [541]:
cols = [0,2,3,4,5,6,7,8,9,10,11]
dfpart= df.drop(df.columns[cols],axis=1)
#dfpart = df.iloc[:, 8:]
dfpart.head()
# need subject id

,SUBJECT_ID,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,Private,Self Pay,...,31,32,33,34,35,36,37,38,39,40
211,2,0,0,1,0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
212,3,0,1,0,0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
213,4,0,1,0,0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
214,5,0,0,1,0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
215,6,1,0,0,0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [542]:
dfpart['SUBJECT_ID']

211          2
212          3
213          4
214          5
215          6
         ...
56435    99985
56436    99991
56437    99992
56565    99995
56566    99999
Name: SUBJECT_ID, Length: 58976, dtype: int64

In [543]:
dfpart.head()

,SUBJECT_ID,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,Private,Self Pay,...,31,32,33,34,35,36,37,38,39,40
211,2,0,0,1,0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
212,3,0,1,0,0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
213,4,0,1,0,0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
214,5,0,0,1,0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
215,6,1,0,0,0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [544]:
dfpart.iloc[:,0]

211          2
212          3
213          4
214          5
215          6
         ...
56435    99985
56436    99991
56437    99992
56565    99995
56566    99999
Name: SUBJECT_ID, Length: 58976, dtype: int64

In [545]:
dfpart = dfpart.astype(int)
dfpart = dfpart.astype(str)
dfpart.head()

,SUBJECT_ID,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,Private,Self Pay,...,31,32,33,34,35,36,37,38,39,40
211,2,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
212,3,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
213,4,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
214,5,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
215,6,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [546]:
#convert subject ID back to int 
dfpart = dfpart.astype({'SUBJECT_ID': int})

In [547]:
dfpart.dtypes

SUBJECT_ID       int64
ELECTIVE        object
EMERGENCY       object
NEWBORN         object
URGENT          object
Government      object
Medicaid        object
Medicare        object
Private         object
Self Pay        object
DIVORCED        object
LIFE PARTNER    object
MARRIED         object
NAN             object
SEPARATED       object
SINGLE          object
UNKNOWN         object
WIDOWED         object
0               object
1               object
2               object
3               object
4               object
5               object
6               object
7               object
8               object
9               object
10              object
11              object
12              object
13              object
14              object
15              object
16              object
17              object
18              object
19              object
20              object
21              object
22              object
23              object
24              object
25              object
26              object
27              object
28              object
29              object
30              object
31              object
32              object
33              object
34              object
35              object
36              object
37              object
38              object
39              object
40              object
dtype: object

In [548]:
#check join 
ndf = df.groupby('SUBJECT_ID').agg({'ELECTIVE' : lambda x: ''.join(x)})
ndf.head(30)
#ndf['ELECTIVE'].head(30)

           ELECTIVE
SUBJECT_ID
2                 0
3                 0
4                 0
5                 0
6                 1
7                 0
8                 0
9                 0
10                0
11                0
12                1
13                0
16                0
17               10
18                0
19                0
20                1
21               00
22                0
23               10
24                0
25                0
26                0
27                0
28                1
30                0
31                0
32                1
33                0
34               00

ndf = df.groupby('SUBJECT_ID').agg({'ELECTIVE' : lambda x: ''.join(x)})
ndf.head(30)

ndf.dtypes

#ndf = ndf.astype(str)
ndf = ndf.astype ({'ELECTIVE': str })

ndf.dtypes

df['ELECTIVE'] = ndf['ELECTIVE']
df.head(30)

#check regex
a  = 
#ndf.loc[ndf['ELECTIVE']str.contains('1'), ELECTIVE'] = 1

print(ndf)

In [549]:
#elective = ndf['ELECTIVE']
#elective.head(20)

In [550]:
ndf.dtypes

ELECTIVE    object
dtype: object

In [551]:
#ndf = ndf.to_string()
ndf = ndf.astype({'ELECTIVE': int })
ndf= ndf.applymap(str) # whole dataframe is string

#ndf = ndf['ELECTIVE'].apply(str)

#ndf = ndf.astype({'ELECTIVE': str })



#ndf = ndf['ELECTIVE'].astype(int)

#ndf = ndf['ELECTIVE'].astype(str)
ndf.head(20)

           ELECTIVE
SUBJECT_ID
2                 0
3                 0
4                 0
5                 0
6                 1
7                 0
8                 0
9                 0
10                0
11                0
12                1
13                0
16                0
17               10
18                0
19                0
20                1
21                0
22                0
23               10

In [552]:
ndf.dtypes

ELECTIVE    object
dtype: object

In [553]:
#ndf = ndf[['SUBJECT_ID','ELECTIVE']]
#ndf['SUBJECT_ID']
ndf.iloc[:, 0]

SUBJECT_ID
2        0
3        0
4        0
5        0
6        1
        ..
99985    0
99991    1
99992    0
99995    1
99999    1
Name: ELECTIVE, Length: 46520, dtype: object

In [554]:
elective = ndf['ELECTIVE']
elective.head(20)

SUBJECT_ID
2      0
3      0
4      0
5      0
6      1
7      0
8      0
9      0
10     0
11     0
12     1
13     0
16     0
17    10
18     0
19     0
20     1
21     0
22     0
23    10
Name: ELECTIVE, dtype: object

In [555]:
if '0' in '1011':
    print('yes')
else:
    print('no')

yes

In [556]:
elective.iloc[13 ]

'10'

In [557]:
ndf['ELECTIVE'][13]

'0'

In [558]:

for i in range(46520):
    #row  = elective.iloc[i]
    #if  row.contains('1'):
    if '1' in elective.iloc[i]: 
        elective.iloc[i] = '1'       
    else:
        elective.iloc[i] = '0'

In [559]:
ndf['ELECTIVE'] = elective
ndf.head(30)

           ELECTIVE
SUBJECT_ID
2                 0
3                 0
4                 0
5                 0
6                 1
7                 0
8                 0
9                 0
10                0
11                0
12                1
13                0
16                0
17                1
18                0
19                0
20                1
21                0
22                0
23                1
24                0
25                0
26                0
27                0
28                1
30                0
31                0
32                1
33                0
34                0


for i in range(46520):
    row  = elective.iloc[i]
    #if  row.contains('1'):
    if '1' in row: 
        ndf['ELECTIVE'][i] = '1'       
    else:
        ndf['ELECTIVE'][i] = '0'

In [560]:
dfpart.iloc[:,0]

211          2
212          3
213          4
214          5
215          6
         ...
56435    99985
56436    99991
56437    99992
56565    99995
56566    99999
Name: SUBJECT_ID, Length: 58976, dtype: int64

# loop through each column 
#group by, dfpart.iloc[:,0]
#2nd to 17th column
arr = []
for i in range(1,18):
    col = dfpart.iloc[:,i]
    groupedcol = dfpart.groupby('SUBJECT_ID').agg({col : lambda x: ''.join(x)})
    arr.apend(groupedcol)
newdf = arr
#arr[0] is subject id 

    #newdf = dfpart

ELECTIVE        object
EMERGENCY       object
NEWBORN         object
URGENT          object
Government      object
Medicaid        object
Medicare        object
Private         object
Self Pay        object
DIVORCED        object
LIFE PARTNER    object
MARRIED         object
NAN             object
SEPARATED       object
SINGLE          object
UNKNOWN         object
WIDOWED         object

In [561]:
dfpart.head(20)

,SUBJECT_ID,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,Private,Self Pay,...,31,32,33,34,35,36,37,38,39,40
211,2,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
212,3,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
213,4,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
214,5,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
215,6,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
216,7,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
217,8,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
218,9,0,1,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
219,10,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
220,11,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
221,12,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
222,13,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
223,16,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
224,17,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
225,17,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
226,18,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
227,19,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
228,20,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
229,21,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
230,21,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [562]:
dfpart['SUBJECT_ID'].head()

211    2
212    3
213    4
214    5
215    6
Name: SUBJECT_ID, dtype: int64

In [563]:
dfpart.dtypes

SUBJECT_ID       int64
ELECTIVE        object
EMERGENCY       object
NEWBORN         object
URGENT          object
Government      object
Medicaid        object
Medicare        object
Private         object
Self Pay        object
DIVORCED        object
LIFE PARTNER    object
MARRIED         object
NAN             object
SEPARATED       object
SINGLE          object
UNKNOWN         object
WIDOWED         object
0               object
1               object
2               object
3               object
4               object
5               object
6               object
7               object
8               object
9               object
10              object
11              object
12              object
13              object
14              object
15              object
16              object
17              object
18              object
19              object
20              object
21              object
22              object
23              object
24              object
25              object
26              object
27              object
28              object
29              object
30              object
31              object
32              object
33              object
34              object
35              object
36              object
37              object
38              object
39              object
40              object
dtype: object

In [564]:
ndf2 = dfpart.groupby('SUBJECT_ID').agg({'EMERGENCY' : lambda x: ''.join(x)})
ndf3 = dfpart.groupby('SUBJECT_ID').agg({'NEWBORN' : lambda x: ''.join(x)})
ndf4 = dfpart.groupby('SUBJECT_ID').agg({'URGENT' : lambda x: ''.join(x)})

ndf5 = dfpart.groupby('SUBJECT_ID').agg({'Government' : lambda x: ''.join(x)})
ndf6 = dfpart.groupby('SUBJECT_ID').agg({'Medicaid' : lambda x: ''.join(x)})
ndf7 = dfpart.groupby('SUBJECT_ID').agg({'Medicare' : lambda x: ''.join(x)})
ndf8 = dfpart.groupby('SUBJECT_ID').agg({'Private' : lambda x: ''.join(x)})
ndf9 = dfpart.groupby('SUBJECT_ID').agg({'Self Pay' : lambda x: ''.join(x)})



ndf10 = dfpart.groupby('SUBJECT_ID').agg({'DIVORCED' : lambda x: ''.join(x)})

ndf11 = dfpart.groupby('SUBJECT_ID').agg({'LIFE PARTNER' : lambda x: ''.join(x)})
ndf12 = dfpart.groupby('SUBJECT_ID').agg({'MARRIED' : lambda x: ''.join(x)})
ndf13 = dfpart.groupby('SUBJECT_ID').agg({'NAN' : lambda x: ''.join(x)})
ndf14 = dfpart.groupby('SUBJECT_ID').agg({'SEPARATED' : lambda x: ''.join(x)})
ndf15 = dfpart.groupby('SUBJECT_ID').agg({'SINGLE' : lambda x: ''.join(x)})
ndf16 = dfpart.groupby('SUBJECT_ID').agg({'UNKNOWN' : lambda x: ''.join(x)})
ndf17 = dfpart.groupby('SUBJECT_ID').agg({'WIDOWED' : lambda x: ''.join(x)})

In [565]:
#ndf17 = ndf17.sort_values(by=['SUBJECT_ID'])
ndf4.head(20)

           URGENT
SUBJECT_ID
2               0
3               0
4               0
5               0
6               0
7               0
8               0
9               0
10              0
11              0
12              0
13              0
16              0
17             00
18              0
19              0
20              0
21             00
22              0
23             00

In [566]:
#ndf = ndf.astype({'ELECTIVE': int })
#ndf= ndf.applymap(str)

In [567]:

for i in range(46520):
    #row  = elective.iloc[i]
    #if  row.contains('1'):
    if '1' in ndf['ELECTIVE'].iloc[i]: 
        ndf['ELECTIVE'].iloc[i] = '1'       
    else:
        ndf['ELECTIVE'].iloc[i] = '0'

In [568]:
ndf.head(10)

           ELECTIVE
SUBJECT_ID
2                 0
3                 0
4                 0
5                 0
6                 1
7                 0
8                 0
9                 0
10                0
11                0

In [569]:
for i in range(46520):
    #row  = elective.iloc[i]
    #if  row.contains('1'):
    if '1' in ndf['ELECTIVE'].iloc[i]: 
        ndf['ELECTIVE'].iloc[i] = '1'       
    else:
        ndf['ELECTIVE'].iloc[i] = '0'

In [570]:
for i in range(46520):
    if '1' in ndf2['EMERGENCY'].iloc[i]: 
        ndf2['EMERGENCY'].iloc[i] = '1'       
    else:
        ndf2['EMERGENCY'].iloc[i] = '0'
ndf2.head()

           EMERGENCY
SUBJECT_ID
2                  0
3                  1
4                  1
5                  0
6                  0

In [571]:
for i in range(46520):
    if '1' in ndf3['NEWBORN'].iloc[i]: 
        ndf3['NEWBORN'].iloc[i] = '1'       
    else:
        ndf3['NEWBORN'].iloc[i] = '0'
ndf3.head()

           NEWBORN
SUBJECT_ID
2                1
3                0
4                0
5                1
6                0

In [572]:
for i in range(46520):
    if '1' in ndf4['URGENT'].iloc[i]: 
        ndf4['URGENT'].iloc[i] = '1'       
    else:
        ndf4['URGENT'].iloc[i] = '0'
ndf4.head()

           URGENT
SUBJECT_ID
2               0
3               0
4               0
5               0
6               0

In [573]:
for i in range(46520):
    if '1' in ndf5['Government'].iloc[i]: 
        ndf5['Government'].iloc[i] = '1'       
    else:
        ndf5['Government'].iloc[i] = '0'
ndf5.head()

           Government
SUBJECT_ID
2                   0
3                   0
4                   0
5                   0
6                   0

In [574]:
for i in range(46520):
    if '1' in ndf6['Medicaid'].iloc[i]: 
        ndf6['Medicaid'].iloc[i] = '1'       
    else:
        ndf6['Medicaid'].iloc[i] = '0'
ndf6.head()

           Medicaid
SUBJECT_ID
2                 0
3                 0
4                 0
5                 0
6                 0

In [575]:
for i in range(46520):
    if '1' in ndf7['Medicare'].iloc[i]: 
        ndf7['Medicare'].iloc[i] = '1'       
    else:
        ndf7['Medicare'].iloc[i] = '0'
ndf7.head()

           Medicare
SUBJECT_ID
2                 0
3                 1
4                 0
5                 0
6                 1

In [576]:
for i in range(46520):
    if '1' in ndf8['Private'].iloc[i]: 
        ndf8['Private'].iloc[i] = '1'       
    else:
        ndf8['Private'].iloc[i] = '0'
ndf8.head()

           Private
SUBJECT_ID
2                1
3                0
4                1
5                1
6                0

In [577]:
for i in range(46520):
    if '1' in ndf9['Self Pay'].iloc[i]: 
        ndf9['Self Pay'].iloc[i] = '1'       
    else:
        ndf9['Self Pay'].iloc[i] = '0'
ndf9.head()

           Self Pay
SUBJECT_ID
2                 0
3                 0
4                 0
5                 0
6                 0

In [578]:
for i in range(46520):
    if '1' in ndf10['DIVORCED'].iloc[i]: 
        ndf10['DIVORCED'].iloc[i] = '1'       
    else:
        ndf10['DIVORCED'].iloc[i] = '0'
ndf10.head()

           DIVORCED
SUBJECT_ID
2                 0
3                 0
4                 0
5                 0
6                 0

In [579]:
for i in range(46520):
    if '1' in ndf11['LIFE PARTNER'].iloc[i]: 
        ndf11['LIFE PARTNER'].iloc[i] = '1'       
    else:
        ndf11['LIFE PARTNER'].iloc[i] = '0'
ndf11.head()

           LIFE PARTNER
SUBJECT_ID
2                     0
3                     0
4                     0
5                     0
6                     0

In [580]:
for i in range(46520):
    if '1' in ndf12['MARRIED'].iloc[i]: 
        ndf12['MARRIED'].iloc[i] = '1'       
    else:
        ndf12['MARRIED'].iloc[i] = '0'
ndf12.head()

           MARRIED
SUBJECT_ID
2                0
3                1
4                0
5                0
6                1

In [581]:
for i in range(46520):
    if '1' in ndf13['NAN'].iloc[i]: 
        ndf13['NAN'].iloc[i] = '1'       
    else:
        ndf13['NAN'].iloc[i] = '0'
ndf13.head()

           NAN
SUBJECT_ID
2            1
3            0
4            0
5            1
6            0

In [582]:
for i in range(46520):
    if '1' in ndf14['SEPARATED'].iloc[i]: 
        ndf14['SEPARATED'].iloc[i] = '1'       
    else:
        ndf14['SEPARATED'].iloc[i] = '0'
ndf14.head()

           SEPARATED
SUBJECT_ID
2                  0
3                  0
4                  0
5                  0
6                  0

In [583]:
for i in range(46520):
    if '1' in ndf15['SINGLE'].iloc[i]: 
        ndf15['SINGLE'].iloc[i] = '1'       
    else:
        ndf15['SINGLE'].iloc[i] = '0'
ndf15.head()

           SINGLE
SUBJECT_ID
2               0
3               0
4               1
5               0
6               0

In [584]:
for i in range(46520):
    if '1' in ndf16['UNKNOWN'].iloc[i]: 
        ndf16['UNKNOWN'].iloc[i] = '1'       
    else:
        ndf16['UNKNOWN'].iloc[i] = '0'
ndf16.head()

           UNKNOWN
SUBJECT_ID
2                0
3                0
4                0
5                0
6                0

In [585]:
for i in range(46520):
    if '1' in ndf17['WIDOWED'].iloc[i]: 
        ndf17['WIDOWED'].iloc[i] = '1'       
    else:
        ndf17['WIDOWED'].iloc[i] = '0'
ndf17.head()

           WIDOWED
SUBJECT_ID
2                0
3                0
4                0
5                0
6                0

# Inner join onehotcoding dataframe

In [586]:
new = pd.merge(ndf, ndf2, how='inner', on='SUBJECT_ID' )
new.head()

           ELECTIVE EMERGENCY
SUBJECT_ID
2                 0         0
3                 0         1
4                 0         1
5                 0         0
6                 1         0

In [587]:
new = pd.merge(new, ndf3, how='inner', on='SUBJECT_ID' )
new = pd.merge(new, ndf4, how='inner', on='SUBJECT_ID' )
new = pd.merge(new, ndf5, how='inner', on='SUBJECT_ID' )
new = pd.merge(new, ndf6, how='inner', on='SUBJECT_ID' )
new = pd.merge(new, ndf7, how='inner', on='SUBJECT_ID' )
new = pd.merge(new, ndf8, how='inner', on='SUBJECT_ID' )
new = pd.merge(new, ndf9, how='inner', on='SUBJECT_ID' )
new = pd.merge(new, ndf10, how='inner', on='SUBJECT_ID' )
new = pd.merge(new, ndf11, how='inner', on='SUBJECT_ID' )

new = pd.merge(new, ndf12, how='inner', on='SUBJECT_ID' )
new = pd.merge(new, ndf13, how='inner', on='SUBJECT_ID' )
new = pd.merge(new, ndf14, how='inner', on='SUBJECT_ID' )
new = pd.merge(new, ndf15, how='inner', on='SUBJECT_ID' )
new = pd.merge(new, ndf16, how='inner', on='SUBJECT_ID' )
new = pd.merge(new, ndf17, how='inner', on='SUBJECT_ID' )
new.head(20)

,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,Private,Self Pay,DIVORCED,LIFE PARTNER,MARRIED,NAN,SEPARATED,SINGLE,UNKNOWN,WIDOWED
SUBJECT_ID,,,,,,,,,,,,,,,,,
2,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0
3,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
4,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
5,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0
6,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
7,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0
8,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0
9,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
10,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
11,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
12,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
13,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
16,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0
17,1,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
18,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
19,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
20,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
21,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
22,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
23,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0

#ndf['SUBJECT_ID']
data3 = dfpart.drop_duplicates(subset='SUBJECT_ID', keep='first', inplace=False)
data3['SUBJECT_ID']

In [588]:

#newdf = pd.DataFrame({ndf.iloc[:, 0] ,ndf[:, 1], ndf2[:, 1] })
#newdf.head()

In [589]:
#newdf= dfpart.copy()
#newdf.head(20)
#different number of rows newdf row = patient, dfpart row = admission
#or innerjoinr with subjecct ID?

In [590]:
#ndf.iloc[:, 1]

In [591]:
#ndf2['SUBJECT_ID']

In [592]:
#newdf['SUBJECT_ID'] = ndf['SUBJECT_ID']
#newdf['SUBJECT_ID'] = ndf.iloc[:, 0]
#newdf['ELECTIVE'] = ndf.iloc[:, 1]

In [593]:
 new

,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,Private,Self Pay,DIVORCED,LIFE PARTNER,MARRIED,NAN,SEPARATED,SINGLE,UNKNOWN,WIDOWED
SUBJECT_ID,,,,,,,,,,,,,,,,,
2,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0
3,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
4,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
5,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0
6,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99985,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
99991,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
99992,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
99995,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
99999,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0

# Ethnicity

In [594]:
edf = data2.drop_duplicates(subset='SUBJECT_ID', keep='first', inplace=False)

edf.shape
edf.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1
5,26,26,197661,2126-05-06 15:16:00,2126-05-13 15:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Medicare,NaN,CATHOLIC,SINGLE,UNKNOWN/NOT SPECIFIED,NaN,NaN,V-TACH,0,1

In [595]:
edf = edf[['SUBJECT_ID','ETHNICITY' ]]
edf.head()

   SUBJECT_ID              ETHNICITY
0          22                  WHITE
1          23                  WHITE
3          24                  WHITE
4          25                  WHITE
5          26  UNKNOWN/NOT SPECIFIED

In [596]:
le = LabelEncoder() 
edf['ETHNICITYc']= le.fit_transform(edf['ETHNICITY']) 

edf.head()

   SUBJECT_ID              ETHNICITY  ETHNICITYc
0          22                  WHITE          36
1          23                  WHITE          36
3          24                  WHITE          36
4          25                  WHITE          36
5          26  UNKNOWN/NOT SPECIFIED          35

In [597]:
edf.fillna("NAN", inplace = True)
edf.head(20)

    SUBJECT_ID              ETHNICITY  ETHNICITYc
0           22                  WHITE          36
1           23                  WHITE          36
3           24                  WHITE          36
4           25                  WHITE          36
5           26  UNKNOWN/NOT SPECIFIED          35
6           27                  WHITE          36
7           28                  WHITE          36
8           30  UNKNOWN/NOT SPECIFIED          35
9           31                  WHITE          36
10          32                  WHITE          36
11          33  UNKNOWN/NOT SPECIFIED          35
12          34                  WHITE          36
14          35                  WHITE          36
15          36                  WHITE          36
18          37                  WHITE          36
19          38                  WHITE          36
20          39  UNKNOWN/NOT SPECIFIED          35
21          41                  WHITE          36
22         357                  WHITE          36
27         358                  WHITE          36

In [598]:
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')

# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df2 = pd.DataFrame(enc.fit_transform(edf[['ETHNICITYc']]).toarray())

enc_df2.head(30)

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [599]:
#remove decimals
enc_df2 = enc_df2.astype(int)
enc_df2 = enc_df2.astype(str)
enc_df2.head()

  0  1  2  3  4  5  6  7  8  9   ... 31 32 33 34 35 36 37 38 39 40
0  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  1  0  0  0  0
1  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  1  0  0  0  0
2  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  1  0  0  0  0
3  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  1  0  0  0  0
4  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  1  0  0  0  0  0

[5 rows x 41 columns]

In [600]:
enc_df2[enc_df2.isna().any(axis=1)]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]
Index: []

[0 rows x 41 columns]

In [601]:
new.dtypes

ELECTIVE        object
EMERGENCY       object
NEWBORN         object
URGENT          object
Government      object
Medicaid        object
Medicare        object
Private         object
Self Pay        object
DIVORCED        object
LIFE PARTNER    object
MARRIED         object
NAN             object
SEPARATED       object
SINGLE          object
UNKNOWN         object
WIDOWED         object
dtype: object

#delete 0 -40 exisiting columns? 
cols = [0,2,3,4,5,6,7,8,9,10,11]
dfpart= df.drop(df.columns[cols],axis=1)
#dfpart = df.iloc[:, 8:]
dfpart.head()

# FIX THIS

In [692]:
# add ethnicity to new
#new = new.iloc[:, :18]

new = new.join(enc_df2)
new.head()

ValueError: columns overlap but no suffix specified: Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 39, 40],
      dtype='object')

In [603]:
new.isnull().values.any()

True

In [604]:
new.shape

(46520, 58)

In [605]:
new[new.isna().any(axis=1)]

,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,Private,Self Pay,DIVORCED,...,31,32,33,34,35,36,37,38,39,40
SUBJECT_ID,,,,,,,,,,,,,,,,,,,,,
46521,0,1,0,0,0,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46523,0,1,0,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46527,0,1,0,0,0,0,1,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46528,0,1,0,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46532,1,0,0,0,0,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99985,0,1,0,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99991,1,0,0,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99992,0,1,0,0,0,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99995,1,0,0,0,0,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,1,0,0,0,0,0,1,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Gender

In [606]:
grouped = pd.read_csv('icd_grouped2.csv')
grouped.shape

/Users/kathy908000/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (1,2,3,4,6,8,9,12,13,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(1048575, 16)

In [607]:
gdata = grouped.drop_duplicates(subset='SUBJECT_ID', keep='first', inplace=False)
gdata.shape
gdata.head()

,ROW_ID_x,ICD9_CODE,SHORT_TITLE_x,LONG_TITLE_x,group,group2,lv.1_code,lv.2_code,lv.1_group,lv.2_group,SUBJECT_ID,HADM_ID,GENDER,DOB,DOD,DOD_HOSP
0,241.0,30,Salmonella enteritis,Salmonella gastroenteritis,0,1.0,001-009,3.0,INTESTINAL INFECTIOUS DISEASES,Other salmonella infections,27367.0,136441.0,F,5/26/21 0:00,1.0,9/29/02 0:00
1,241.0,30,Salmonella enteritis,Salmonella gastroenteritis,0,1.0,001-009,3.0,INTESTINAL INFECTIOUS DISEASES,Other salmonella infections,65733.0,168926.0,M,1/17/95 0:00,1.0,1/5/67 0:00
2,242.0,31,Salmonella septicemia,Salmonella septicemia,0,1.0,001-009,3.0,INTESTINAL INFECTIOUS DISEASES,Other salmonella infections,69141.0,136542.0,M,2/25/19 0:00,0.0,NaN
3,249.0,38,Salmonella infection NEC,Other specified salmonella infections,0,1.0,001-009,3.0,INTESTINAL INFECTIOUS DISEASES,Other salmonella infections,44437.0,181557.0,F,12/28/43 0:00,0.0,NaN
4,249.0,38,Salmonella infection NEC,Other specified salmonella infections,0,1.0,001-009,3.0,INTESTINAL INFECTIOUS DISEASES,Other salmonella infections,83908.0,180356.0,M,2/13/49 0:00,0.0,NaN

In [608]:
#genderdf = gdata['GENDER'] 
#genderdf.head()

In [609]:
#gdata['GENDER'] .fillna("NAN", inplace = True)

In [610]:
#gdata['GENDERc']= le.fit_transform(gdata['GENDER'])
#gdata.head(10)

In [611]:
#gdata.loc[gdata['GENDERc']==2]
#row 634709 has every call NA drop

In [612]:
gdata.shape

(46518, 16)

In [613]:
gdata = gdata.drop(634709)

In [614]:
gdata.shape
#d=gdata.dropna()
#d.shape

(46517, 16)

In [615]:
#gdata.loc[gdata['GENDERc']==2]

In [616]:
gdata['GENDER'] = gdata['GENDER'].map({'F':0, 'M': 1})
gdata.head()

,ROW_ID_x,ICD9_CODE,SHORT_TITLE_x,LONG_TITLE_x,group,group2,lv.1_code,lv.2_code,lv.1_group,lv.2_group,SUBJECT_ID,HADM_ID,GENDER,DOB,DOD,DOD_HOSP
0,241.0,30,Salmonella enteritis,Salmonella gastroenteritis,0,1.0,001-009,3.0,INTESTINAL INFECTIOUS DISEASES,Other salmonella infections,27367.0,136441.0,0,5/26/21 0:00,1.0,9/29/02 0:00
1,241.0,30,Salmonella enteritis,Salmonella gastroenteritis,0,1.0,001-009,3.0,INTESTINAL INFECTIOUS DISEASES,Other salmonella infections,65733.0,168926.0,1,1/17/95 0:00,1.0,1/5/67 0:00
2,242.0,31,Salmonella septicemia,Salmonella septicemia,0,1.0,001-009,3.0,INTESTINAL INFECTIOUS DISEASES,Other salmonella infections,69141.0,136542.0,1,2/25/19 0:00,0.0,NaN
3,249.0,38,Salmonella infection NEC,Other specified salmonella infections,0,1.0,001-009,3.0,INTESTINAL INFECTIOUS DISEASES,Other salmonella infections,44437.0,181557.0,0,12/28/43 0:00,0.0,NaN
4,249.0,38,Salmonella infection NEC,Other specified salmonella infections,0,1.0,001-009,3.0,INTESTINAL INFECTIOUS DISEASES,Other salmonella infections,83908.0,180356.0,1,2/13/49 0:00,0.0,NaN

In [617]:
gdata = gdata.sort_values(by=['SUBJECT_ID'])
gdata.head()

,ROW_ID_x,ICD9_CODE,SHORT_TITLE_x,LONG_TITLE_x,group,group2,lv.1_code,lv.2_code,lv.1_group,lv.2_group,SUBJECT_ID,HADM_ID,GENDER,DOB,DOD,DOD_HOSP
562539,12202.0,V053,Need prphyl vc vrl hepat,Need for prophylactic vaccination and inoculat...,V0,18.0,V01-V06,1005.0,PERSONS WITH POTENTIAL HEALTHHAZARDS RELATED T...,Need for prophylactic vaccination and inoculat...,2.0,163353.0,1,7/17/38 0:00,0.0,NaN
4473,660.0,389,Septicemia NOS,Unspecified septicemia,3,1.0,030-041,38.0,OTHER BACTERIAL DISEASES,Septicemia,3.0,145834.0,1,4/11/25 0:00,1.0,NaN
8456,493.0,4111,Mth sus Stph aur els/NOS,Methicillin susceptible Staphylococcus aureus ...,4,1.0,030-041,41.0,OTHER BACTERIAL DISEASES,Bacterial infection in conditions classified e...,4.0,185777.0,0,5/12/43 0:00,0.0,NaN
562540,12202.0,V053,Need prphyl vc vrl hepat,Need for prophylactic vaccination and inoculat...,V0,18.0,V01-V06,1005.0,PERSONS WITH POTENTIAL HEALTHHAZARDS RELATED T...,Need for prophylactic vaccination and inoculat...,5.0,178980.0,1,2/2/03 0:00,0.0,NaN
79722,2777.0,2753,Dis phosphorus metabol,Disorders of phosphorus metabolism,27,3.0,270-279,275.0,OTHER METABOLIC AND IMMUNITY DISORDERS,Disorders of mineral metabolism,6.0,107064.0,0,6/21/09 0:00,0.0,NaN

In [618]:
gdf = gdata[['SUBJECT_ID', 'GENDER']]
gdf.head()

        SUBJECT_ID  GENDER
562539         2.0       1
4473           3.0       1
8456           4.0       0
562540         5.0       1
79722          6.0       0

In [619]:
gdf.isnull().values.any()

False

In [620]:
gdf = gdf.astype(int)
gdf = gdf.astype(str)
gdf = gdf.astype({'SUBJECT_ID': int})
gdf.head()
## na values

        SUBJECT_ID GENDER
562539           2      1
4473             3      1
8456             4      0
562540           5      1
79722            6      0

In [621]:
gdf.dtypes

SUBJECT_ID     int64
GENDER        object
dtype: object

In [622]:
new = pd.merge(new, gdf, how='inner', on='SUBJECT_ID' )
new.head()

,SUBJECT_ID,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,Private,Self Pay,...,32,33,34,35,36,37,38,39,40,GENDER
0,2,0,0,1,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
1,3,0,1,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
2,4,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
3,5,0,0,1,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
4,6,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0

In [623]:
new[new.isna().any(axis=1)]

,SUBJECT_ID,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,Private,Self Pay,...,32,33,34,35,36,37,38,39,40,GENDER
32501,46521,0,1,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
32502,46523,0,1,0,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
32503,46527,0,1,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
32504,46528,0,1,0,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
32505,46532,1,0,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46512,99985,0,1,0,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
46513,99991,1,0,0,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
46514,99992,0,1,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
46515,99995,1,0,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
46516,99999,1,0,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

# Add Diagnosis Matrix

In [624]:
# diagnosis not grouped
didf= pd.read_csv('all_diag_matrix.csv')
didf.head()

,Unnamed: 0,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,DIAGNOSES,...,72991,80119,2140,V6107,1838,17341,2982,9994,5644,nan
0,0,1,2,M,2138-07-17 00:00:00,NaN,NaN,NaN,0,"['Single liveborn, born in hospital, delivered...",...,0,0,0,0,0,0,0,0,0,NaN
1,1,2,3,M,2025-04-11 00:00:00,2102-06-14 00:00:00,NaN,2102-06-14 00:00:00,1,"['Unspecified protein-calorie malnutrition', '...",...,0,0,0,0,0,0,0,0,0,NaN
2,2,3,4,F,2143-05-12 00:00:00,NaN,NaN,NaN,0,['Antiviral drugs causing adverse effects in t...,...,0,0,0,0,0,0,0,0,0,NaN
3,3,4,5,M,2103-02-02 00:00:00,NaN,NaN,NaN,0,['Need for prophylactic vaccination and inocul...,...,0,0,0,0,0,0,0,0,0,NaN
4,4,5,6,F,2109-06-21 00:00:00,NaN,NaN,NaN,0,"['Hypertensive chronic kidney disease, unspeci...",...,0,0,0,0,0,0,0,0,0,NaN

In [625]:
didf. dtypes

Unnamed: 0      int64
ROW_ID          int64
SUBJECT_ID      int64
GENDER         object
DOB            object
               ...
17341           int64
2982            int64
9994            int64
5644            int64
nan           float64
Length: 6999, dtype: object

In [626]:
didf.iloc[:, 2] # subject id

0            2
1            3
2            4
3            5
4            6
         ...
46515    99985
46516    99991
46517    99992
46518    99995
46519    99999
Name: SUBJECT_ID, Length: 46520, dtype: int64

In [627]:
col = [0,1,3,4,5,6,7,8,9, 10, 11, 12]
#col = [0,1,3,4,5,6,7,8,9,10]
didf2= didf.drop(didf.columns[col],axis=1)

In [628]:
didf2.head()

,SUBJECT_ID,00845,0380,03811,0382,0383,03842,03849,0388,0389,...,72991,80119,2140,V6107,1838,17341,2982,9994,5644,nan
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,3,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,NaN
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [629]:
didf2['SUBJECT_ID']

0            2
1            3
2            4
3            5
4            6
         ...
46515    99985
46516    99991
46517    99992
46518    99995
46519    99999
Name: SUBJECT_ID, Length: 46520, dtype: int64

In [630]:
#n = didf2['nan']
#didf2.iloc[:, -1]
col2= [-1]

In [631]:
didf2= didf2.drop(didf.columns[col2],axis=1)
#didf= didf.drop( didf.columns[-1],axis=1)
didf2.head()

,SUBJECT_ID,00845,0380,03811,0382,0383,03842,03849,0388,0389,...,61882,72991,80119,2140,V6107,1838,17341,2982,9994,5644
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [632]:

didf2.shape

(46520, 6986)

In [633]:
didf2.isnull().values.any()

False

In [634]:
new[new.isna().any(axis=1)]

,SUBJECT_ID,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,Private,Self Pay,...,32,33,34,35,36,37,38,39,40,GENDER
32501,46521,0,1,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
32502,46523,0,1,0,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
32503,46527,0,1,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
32504,46528,0,1,0,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
32505,46532,1,0,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46512,99985,0,1,0,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
46513,99991,1,0,0,0,0,0,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
46514,99992,0,1,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
46515,99995,1,0,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
46516,99999,1,0,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [635]:
didf2[didf2.isna().any(axis=1)]

Empty DataFrame
Columns: [SUBJECT_ID, 00845, 0380, 03811, 0382, 0383, 03842, 03849, 0388, 0389, 04104, 04109, 04111, 04112, 04119, 0413, 0414, 0416, 04186, 042, 0549, 0701, 07020, 07044, 07051, 07054, 07070, 0785, 07989, 07999, 0880, 1120, 1122, 1124, 1125, 11289, 135, 1363, 1505, 1508, 1534, 1550, 1552, 1562, 1570, 1623, 1625, 1628, 1629, 1642, 185, 1890, 1913, 1915, 1916, 1917, 1919, 1940, 1961, 1970, 1971, 1972, 1977, 1982, 1983, 1985, 19889, 20008, 20190, 20210, 20280, 20300, 20301, 2113, 2148, 2156, 2161, 2181, 2252, 22801, 22804, 22809, 2387, 23875, 24200, 24290, 2449, 25000, 25001, 25002, 25011, 25040, 25041, 25043, 25053, 25060, 25063, 25073, 25080, 25082, ...]
Index: []

[0 rows x 6986 columns]

In [636]:
matrix = pd.merge(new, didf2, how='inner', on='SUBJECT_ID' )
matrix.head()

,SUBJECT_ID,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,Private,Self Pay,...,61882,72991,80119,2140,V6107,1838,17341,2982,9994,5644
0,2,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,3,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,6,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [637]:
#matrix.to_csv(r'/Users/kathy908000/github/Health-Care-Research/matrix.csv', index = False)

# Add ICU stay length / Hopistalization length

In [638]:
#ldf= pd.read_csv('TRANSFERS.csv')
icudf = pd.read_csv('ICUSTAYS.csv')

#ldf.head(20)
icudf.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38,2198-02-18 05:26:11,3.2490
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29,2170-11-08 17:46:57,3.2788
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20,2128-06-27 12:32:29,2.8939
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42,2120-08-10 00:39:04,2.0600
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04,2186-12-27 12:01:13,1.6202

In [639]:
#ldf.drop_duplicates(subset='SUBJECT_ID', keep='first', inplace=False) #46520 rows, patients

In [640]:
#diff careunit
#ldf.drop_duplicates(subset='CURR_CAREUNIT', keep='first', inplace=False)

In [641]:
#ldf = ldf.sort_values(by=['SUBJECT_ID'])
#ldf.head()

In [642]:
#ldf2= ldf.groupby(['SUBJECT_ID']).sum()
#ldf2.head()

icudf2 = icudf.groupby(['SUBJECT_ID']).sum()
icudf2.head()

            ROW_ID  HADM_ID  ICUSTAY_ID  FIRST_WARDID  LAST_WARDID     LOS
SUBJECT_ID
2                1   163353      243653            56           56  0.0918
3                2   145834      211552            12           12  6.0646
4                3   185777      294638            52           52  1.6785
5                4   178980      214757            56           56  0.0844
6                5   107064      228232            33           33  3.6729

In [643]:
icudf2.dtypes

ROW_ID            int64
HADM_ID           int64
ICUSTAY_ID        int64
FIRST_WARDID      int64
LAST_WARDID       int64
LOS             float64
dtype: object

In [644]:
#d3 = icudf2[['SUBJECT_ID', 'LOS']]
col3 = [0,1,2,3,4]

d3= icudf2.drop(icudf2.columns[col3],axis=1)
d3.head()

               LOS
SUBJECT_ID
2           0.0918
3           6.0646
4           1.6785
5           0.0844
6           3.6729

# Number of Hopistalization

In [645]:
d= pd.read_csv('ADMISSIONS.csv')
d.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1

In [646]:
d['HADM_ID'].is_unique

True

In [647]:
d = d.sort_values(by=['SUBJECT_ID'])
d.head(20)

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
211,1,2,163353,2138-07-17 19:04:00,2138-07-21 15:48:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,NOT SPECIFIED,NaN,ASIAN,NaN,NaN,NEWBORN,0,1
212,2,3,145834,2101-10-20 19:08:00,2101-10-31 13:58:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,NaN,CATHOLIC,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1
213,3,4,185777,2191-03-16 00:28:00,2191-03-23 18:41:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME WITH HOME IV PROVIDR,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,2191-03-15 13:10:00,2191-03-16 01:10:00,"FEVER,DEHYDRATION,FAILURE TO THRIVE",0,1
214,4,5,178980,2103-02-02 04:31:00,2103-02-04 12:15:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,BUDDHIST,NaN,ASIAN,NaN,NaN,NEWBORN,0,1
215,5,6,107064,2175-05-30 07:15:00,2175-06-15 16:00:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,CHRONIC RENAL FAILURE/SDA,0,1
216,6,7,118037,2121-05-23 15:05:00,2121-05-27 11:57:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,CATHOLIC,NaN,WHITE,NaN,NaN,NEWBORN,0,1
217,7,8,159514,2117-11-20 10:22:00,2117-11-24 14:20:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,CATHOLIC,NaN,WHITE,NaN,NaN,NEWBORN,0,1
218,8,9,150750,2149-11-09 13:06:00,2149-11-14 10:15:00,2149-11-14 10:15:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicaid,NaN,UNOBTAINABLE,NaN,UNKNOWN/NOT SPECIFIED,2149-11-09 11:13:00,2149-11-09 13:18:00,HEMORRHAGIC CVA,1,1
219,9,10,184167,2103-06-28 11:36:00,2103-07-06 12:10:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,SHORT TERM HOSPITAL,Medicaid,NaN,UNOBTAINABLE,NaN,BLACK/AFRICAN AMERICAN,NaN,NaN,NEWBORN,0,1
220,10,11,194540,2178-04-16 06:18:00,2178-05-11 19:00:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Private,NaN,OTHER,MARRIED,WHITE,2178-04-15 20:46:00,2178-04-16 06:53:00,BRAIN MASS,0,1
221,11,12,112213,2104-08-07 10:15:00,2104-08-20 02:57:00,2104-08-20 02:57:00,ELECTIVE,PHYS REFERRAL/NORMAL DELI,DEAD/EXPIRED,Medicare,NaN,JEWISH,MARRIED,WHITE,NaN,NaN,PANCREATIC CANCER/SDA,1,1
222,12,13,143045,2167-01-08 18:43:00,2167-01-15 15:15:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicaid,NaN,OTHER,NaN,WHITE,NaN,NaN,CORONARY ARTERY DISEASE,0,1
223,13,16,103251,2178-02-03 06:35:00,2178-02-05 10:51:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,UNOBTAINABLE,NaN,WHITE,NaN,NaN,NEWBORN,0,1
224,14,17,194023,2134-12-27 07:15:00,2134-12-31 16:05:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,PATIENT FORAMEN OVALE\ PATENT FORAMEN OVALE MI...,0,1
225,15,17,161087,2135-05-09 14:11:00,2135-05-13 14:40:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Private,ENGL,CATHOLIC,MARRIED,WHITE,2135-05-09 11:27:00,2135-05-09 13:45:00,PERICARDIAL EFFUSION,0,1
226,16,18,188822,2167-10-02 11:18:00,2167-10-04 16:15:00,NaN,EMERGENCY,PHYS REFERRAL/NORMAL DELI,HOME,Private,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,HYPOGLYCEMIA;SEIZURES,0,1
227,17,19,109235,2108-08-05 16:25:00,2108-08-11 11:29:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Medicare,NaN,UNOBTAINABLE,NaN,WHITE,2108-08-05 08:01:00,2108-08-05 20:12:00,C-2 FRACTURE,0,1
228,18,20,157681,2183-04-28 09:45:00,2183-05-03 14:45:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Medicare,NaN,CATHOLIC,WIDOWED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
229,19,21,109451,2134-09-11 12:17:00,2134-09-24 16:15:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Medicare,NaN,JEWISH,MARRIED,WHITE,2134-09-11 09:22:00,2134-09-11 22:30:00,CONGESTIVE HEART FAILURE,0,1
230,20,21,111970,2135-01-30 20:50:00,2135-02-08 02:08:00,2135-02-08 02:08:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,NaN,JEWISH,MARRIED,WHITE,2135-01-30 18:46:00,2135-01-30 22:05:00,SEPSIS,1,1

In [648]:
d2= d.groupby(['SUBJECT_ID']).count() # number of rows = number of hospitalization/admission per patient
d2.head(20)

,ROW_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
SUBJECT_ID,,,,,,,,,,,,,,,,,,
2,1,1,1,1,0,1,1,1,1,0,1,0,1,0,0,1,1,1
3,1,1,1,1,0,1,1,1,1,0,1,1,1,1,1,1,1,1
4,1,1,1,1,0,1,1,1,1,0,1,1,1,1,1,1,1,1
5,1,1,1,1,0,1,1,1,1,0,1,0,1,0,0,1,1,1
6,1,1,1,1,0,1,1,1,1,1,1,1,1,0,0,1,1,1
7,1,1,1,1,0,1,1,1,1,0,1,0,1,0,0,1,1,1
8,1,1,1,1,0,1,1,1,1,0,1,0,1,0,0,1,1,1
9,1,1,1,1,1,1,1,1,1,0,1,0,1,1,1,1,1,1
10,1,1,1,1,0,1,1,1,1,0,1,0,1,0,0,1,1,1
11,1,1,1,1,0,1,1,1,1,0,1,1,1,1,1,1,1,1
12,1,1,1,1,1,1,1,1,1,0,1,1,1,0,0,1,1,1
13,1,1,1,1,0,1,1,1,1,0,1,0,1,0,0,1,1,1
16,1,1,1,1,0,1,1,1,1,0,1,0,1,0,0,1,1,1
17,2,2,2,2,0,2,2,2,2,2,2,2,2,1,1,2,2,2
18,1,1,1,1,0,1,1,1,1,0,1,1,1,0,0,1,1,1
19,1,1,1,1,0,1,1,1,1,0,1,0,1,1,1,1,1,1
20,1,1,1,1,0,1,1,1,1,0,1,1,1,0,0,1,1,1
21,2,2,2,2,1,2,2,2,2,0,2,2,2,2,2,2,2,2
22,1,1,1,1,0,1,1,1,1,0,1,1,1,1,1,1,1,1
23,2,2,2,2,0,2,2,2,2,1,2,2,2,0,0,2,2,2

In [649]:
d2.loc[d2['ROW_ID']==10]

,ROW_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
SUBJECT_ID,,,,,,,,,,,,,,,,,,
8799,10,10,10,10,0,10,10,10,10,7,10,10,10,9,9,10,10,10
16200,10,10,10,10,1,10,10,10,10,6,10,10,10,10,10,10,10,10
16994,10,10,10,10,0,10,10,10,10,0,10,10,10,10,10,10,10,10
20124,10,10,10,10,1,10,10,10,10,10,10,10,10,9,9,10,10,10
24573,10,10,10,10,0,10,10,10,10,10,10,10,10,9,9,10,10,10
24995,10,10,10,10,0,10,10,10,10,9,10,10,10,10,10,10,10,10
25941,10,10,10,10,0,10,10,10,10,9,10,10,10,10,10,10,10,10
27362,10,10,10,10,0,10,10,10,10,10,10,10,10,9,9,10,10,10
29137,10,10,10,10,1,10,10,10,10,10,10,10,10,3,3,10,10,10
31260,10,10,10,10,1,10,10,10,10,10,10,10,10,6,6,10,10,10
61667,10,10,10,10,1,10,10,10,10,10,10,10,10,10,10,10,10,10
94597,10,10,10,10,0,10,10,10,10,10,10,10,10,10,10,10,10,10
95895,10,10,10,10,0,10,10,10,10,10,10,10,10,9,9,10,10,10
96686,10,10,10,10,0,10,10,10,10,10,10,10,10,9,9,10,10,10

In [650]:
d2.dtypes

ROW_ID                  int64
HADM_ID                 int64
ADMITTIME               int64
DISCHTIME               int64
DEATHTIME               int64
ADMISSION_TYPE          int64
ADMISSION_LOCATION      int64
DISCHARGE_LOCATION      int64
INSURANCE               int64
LANGUAGE                int64
RELIGION                int64
MARITAL_STATUS          int64
ETHNICITY               int64
EDREGTIME               int64
EDOUTTIME               int64
DIAGNOSIS               int64
HOSPITAL_EXPIRE_FLAG    int64
HAS_CHARTEVENTS_DATA    int64
dtype: object

In [651]:
col4= [1,2, 3,4,5,6,7,8,9, 10, 11, 12, 13,14,15,16,17]
#col = [0,1,3,4,5,6,7,8,9,10]
d4= d2.drop(d2.columns[col4],axis=1)
d4.head()

            ROW_ID
SUBJECT_ID
2                1
3                1
4                1
5                1
6                1

In [652]:
d4 = d4.rename({'ROW_ID': 'HOSPITALIZATION'}, axis=1)
d4.head()

            HOSPITALIZATION
SUBJECT_ID
2                         1
3                         1
4                         1
5                         1
6                         1

In [653]:
yval= pd.merge(d3, d4, how='inner', on='SUBJECT_ID')
yval.head()

               LOS  HOSPITALIZATION
SUBJECT_ID
2           0.0918                1
3           6.0646                1
4           1.6785                1
5           0.0844                1
6           3.6729                1

In [654]:
matrix2 = pd.merge(yval, new, how='inner', on='SUBJECT_ID')

In [655]:
matrix2.head()

,SUBJECT_ID,LOS,HOSPITALIZATION,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,...,32,33,34,35,36,37,38,39,40,GENDER
0,2,0.0918,1,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,3,6.0646,1,0,1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
2,4,1.6785,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,5,0.0844,1,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,6,3.6729,1,1,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0

# Join Diabetes Matrix

In [656]:
diadf= pd.read_csv('diabetes_binary.csv')
diadf.head()

,Unnamed: 0,SUBJECT_ID,GENDER,DIAGNOSES,ICD9_CODE,SEQ_NUM,HADM_ID,001,002,003,...,M9970,V85,a,V88,V87,V90,E000,E001,E016,V86
0,0,13,F,"['Pure hypercholesterolemia', 'Unspecified ess...","['2720', '4019', '4111', '41401', '25000']","[5.0, 4.0, 2.0, 1.0, 3.0]","[143045, 143045, 143045, 143045, 143045]",0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,18,M,"['Pure hypercholesterolemia', 'Right bundle br...","['2720', '4264', '4019', '78321', '78057', '47...","[12.0, 11.0, 10.0, 9.0, 8.0, 7.0, 13.0, 4.0, 3...","[188822, 188822, 188822, 188822, 188822, 18882...",0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,20,F,['Coronary atherosclerosis of native coronary ...,"['41401', '4111', '25000', '2724', '4019']","[1.0, 2.0, 3.0, 4.0, 5.0]","[157681, 157681, 157681, 157681, 157681]",0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,21,M,"['Abscess of liver', 'Intestinal infection due...","['5720', '00845', '70709', '6823', '5119', '99...","[10.0, 9.0, 5.0, 7.0, 6.0, 11.0, 8.0, 12.0, 4....","[111970, 111970, 111970, 111970, 111970, 11197...",0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,24,M,['Diabetes mellitus without mention of complic...,"['25000', '41401', '41041', '53081']","[4.0, 2.0, 1.0, 3.0]","[161859, 161859, 161859, 161859]",0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [657]:
diadf.shape

(10318, 3268)

In [658]:
ex = diadf.dropna()
ex.shape

(0, 3268)

In [659]:
diadf.dtypes

Unnamed: 0      int64
SUBJECT_ID      int64
GENDER         object
DIAGNOSES      object
ICD9_CODE      object
               ...
V90           float64
E000          float64
E001          float64
E016          float64
V86           float64
Length: 3268, dtype: object

In [660]:
list(diadf.columns)

['Unnamed: 0',
 'SUBJECT_ID',
 'GENDER',
 'DIAGNOSES',
 'ICD9_CODE',
 'SEQ_NUM',
 'HADM_ID',
 '001',
 '002',
 '003',
 '004',
 '005',
 '006',
 '007',
 '008',
 '009',
 '010',
 '011',
 '012',
 '013',
 '014',
 '015',
 '016',
 '017',
 '018',
 '019',
 '020',
 '021',
 '022',
 '023',
 '024',
 '025',
 '026',
 '027',
 '028',
 '029',
 '030',
 '031',
 '032',
 '033',
 '034',
 '035',
 '036',
 '037',
 '038',
 '039',
 '040',
 '041',
 '042',
 '043',
 '044',
 '045',
 '046',
 '047',
 '048',
 '049',
 '050',
 '051',
 '052',
 '053',
 '054',
 '055',
 '056',
 '057',
 '058',
 '059',
 '060',
 '061',
 '062',
 '063',
 '064',
 '065',
 '066',
 '067',
 '068',
 '069',
 '070',
 '071',
 '072',
 '073',
 '074',
 '075',
 '076',
 '077',
 '078',
 '079',
 '080',
 '081',
 '082',
 '083',
 '084',
 '085',
 '086',
 '087',
 '088',
 '089',
 '090',
 '091',
 '092',
 '093',
 '094',
 '095',
 '096',
 '097',
 '098',
 '099',
 '100',
 '101',
 '102',
 '103',
 '104',
 '105',
 '106',
 '107',
 '108',
 '109',
 '110',
 '111',
 '112',
 '113',
 '114',
 '115',
 '116',
 '117',
 '118',
 '119',
 '120',
 '121',
 '122',
 '123',
 '124',
 '125',
 '126',
 '127',
 '128',
 '129',
 '130',
 '131',
 '132',
 '133',
 '134',
 '135',
 '136',
 '137',
 '138',
 '139',
 '140',
 '141',
 '142',
 '143',
 '144',
 '145',
 '146',
 '147',
 '148',
 '149',
 '150',
 '151',
 '152',
 '153',
 '154',
 '155',
 '156',
 '157',
 '158',
 '159',
 '160',
 '161',
 '162',
 '163',
 '164',
 '165',
 '166',
 '167',
 '168',
 '169',
 '170',
 '171',
 '172',
 '173',
 '174',
 '175',
 '176',
 '177',
 '178',
 '179',
 '180',
 '181',
 '182',
 '183',
 '184',
 '185',
 '186',
 '187',
 '188',
 '189',
 '190',
 '191',
 '192',
 '193',
 '194',
 '195',
 '196',
 '197',
 '198',
 '199',
 '200',
 '201',
 '202',
 '203',
 '204',
 '205',
 '206',
 '207',
 '208',
 '209',
 '210',
 '211',
 '212',
 '213',
 '214',
 '215',
 '216',
 '217',
 '218',
 '219',
 '220',
 '221',
 '222',
 '223',
 '224',
 '225',
 '226',
 '227',
 '228',
 '229',
 '230',
 '231',
 '232',
 '233',
 '234',
 '235',
 '236',
 '237',
 '238',
 '239',
 '240',
 '241',
 '242',
 '243',
 '244',
 '245',
 '246',
 '247',
 '248',
 '249',
 '250',
 '251',
 '252',
 '253',
 '254',
 '255',
 '256',
 '257',
 '258',
 '259',
 '260',
 '261',
 '262',
 '263',
 '264',
 '265',
 '266',
 '267',
 '268',
 '269',
 '270',
 '271',
 '272',
 '273',
 '274',
 '275',
 '276',
 '277',
 '278',
 '279',
 '280',
 '281',
 '282',
 '283',
 '284',
 '285',
 '286',
 '287',
 '288',
 '289',
 '290',
 '291',
 '292',
 '293',
 '294',
 '295',
 '296',
 '297',
 '298',
 '299',
 '300',
 '301',
 '302',
 '303',
 '304',
 '305',
 '306',
 '307',
 '308',
 '309',
 '310',
 '311',
 '312',
 '313',
 '314',
 '315',
 '316',
 '317',
 '318',
 '319',
 '320',
 '321',
 '322',
 '323',
 '324',
 '325',
 '326',
 '327',
 '328',
 '329',
 '330',
 '331',
 '332',
 '333',
 '334',
 '335',
 '336',
 '337',
 '338',
 '339',
 '340',
 '341',
 '342',
 '343',
 '344',
 '345',
 '346',
 '347',
 '348',
 '349',
 '350',
 '351',
 '352',
 '353',
 '354',
 '355',
 '356',
 '357',
 '358',
 '359',
 '360',
 '361',
 '362',
 '363',
 '364',
 '365',
 '366',
 '367',
 '368',
 '369',
 '370',
 '371',
 '372',
 '373',
 '374',
 '375',
 '376',
 '377',
 '378',
 '379',
 '380',
 '381',
 '382',
 '383',
 '384',
 '385',
 '386',
 '387',
 '388',
 '389',
 '390',
 '391',
 '392',
 '393',
 '394',
 '395',
 '396',
 '397',
 '398',
 '399',
 '400',
 '401',
 '402',
 '403',
 '404',
 '405',
 '406',
 '407',
 '408',
 '409',
 '410',
 '411',
 '412',
 '413',
 '414',
 '415',
 '416',
 '417',
 '418',
 '419',
 '420',
 '421',
 '422',
 '423',
 '424',
 '425',
 '426',
 '427',
 '428',
 '429',
 '430',
 '431',
 '432',
 '433',
 '434',
 '435',
 '436',
 '437',
 '438',
 '439',
 '440',
 '441',
 '442',
 '443',
 '444',
 '445',
 '446',
 '447',
 '448',
 '449',
 '450',
 '451',
 '452',
 '453',
 '454',
 '455',
 '456',
 '457',
 '458',
 '459',
 '460',
 '461',
 '462',
 '463',
 '464',
 '465',
 '466',
 '467',
 '468',
 '469',
 '470',
 '471',
 '472',
 '473',
 '474',
 '475',
 '476',
 '477',
 '478',
 '479',
 '480',
 '481',
 '482',
 '483',
 '484',
 '485',
 '486',
 '487',
 '488',
 '489',
 '490',
 '491',
 '492',
 '493',
 '494',
 '495',
 '496',
 '497',
 '498',
 '499',
 '500',
 '501',
 '502',
 '503',
 '504',
 '505',
 '506',
 '507',
 '508',
 '509',
 '510',
 '511',
 '512',
 '513',
 '514',
 '515',
 '516',
 '517',
 '518',
 '519',
 '520',
 '521',
 '522',
 '523',
 '524',
 '525',
 '526',
 '527',
 '528',
 '529',
 '530',
 '531',
 '532',
 '533',
 '534',
 '535',
 '536',
 '537',
 '538',
 '539',
 '540',
 '541',
 '542',
 '543',
 '544',
 '545',
 '546',
 '547',
 '548',
 '549',
 '550',
 '551',
 '552',
 '553',
 '554',
 '555',
 '556',
 '557',
 '558',
 '559',
 '560',
 '561',
 '562',
 '563',
 '564',
 '565',
 '566',
 '567',
 '568',
 '569',
 '570',
 '571',
 '572',
 '573',
 '574',
 '575',
 '576',
 '577',
 '578',
 '579',
 '580',
 '581',
 '582',
 '583',
 '584',
 '585',
 '586',
 '587',
 '588',
 '589',
 '590',
 '591',
 '592',
 '593',
 '594',
 '595',
 '596',
 '597',
 '598',
 '599',
 '600',
 '601',
 '602',
 '603',
 '604',
 '605',
 '606',
 '607',
 '608',
 '609',
 '610',
 '611',
 '612',
 '613',
 '614',
 '615',
 '616',
 '617',
 '618',
 '619',
 '620',
 '621',
 '622',
 '623',
 '624',
 '625',
 '626',
 '627',
 '628',
 '629',
 '630',
 '631',
 '632',
 '633',
 '634',
 '635',
 '636',
 '637',
 '638',
 '639',
 '640',
 '641',
 '642',
 '643',
 '644',
 '645',
 '646',
 '647',
 '648',
 '649',
 '650',
 '651',
 '652',
 '653',
 '654',
 '655',
 '656',
 '657',
 '658',
 '659',
 '660',
 '661',
 '662',
 '663',
 '664',
 '665',
 '666',
 '667',
 '668',
 '669',
 '670',
 '671',
 '672',
 '673',
 '674',
 '675',
 '676',
 '677',
 '678',
 '679',
 '680',
 '681',
 '682',
 '683',
 '684',
 '685',
 '686',
 '687',
 '688',
 '689',
 '690',
 '691',
 '692',
 '693',
 '694',
 '695',
 '696',
 '697',
 '698',
 '699',
 '700',
 '701',
 '702',
 '703',
 '704',
 '705',
 '706',
 '707',
 '708',
 '709',
 '710',
 '711',
 '712',
 '713',
 '714',
 '715',
 '716',
 '717',
 '718',
 '719',
 '720',
 '721',
 '722',
 '723',
 '724',
 '725',
 '726',
 '727',
 '728',
 '729',
 '730',
 '731',
 '732',
 '733',
 '734',
 '735',
 '736',
 '737',
 '738',
 '739',
 '740',
 '741',
 '742',
 '743',
 '744',
 '745',
 '746',
 '747',
 '748',
 '749',
 '750',
 '751',
 '752',
 '753',
 '754',
 '755',
 '756',
 '757',
 '758',
 '759',
 '760',
 '761',
 '762',
 '763',
 '764',
 '765',
 '766',
 '767',
 '768',
 '769',
 '770',
 '771',
 '772',
 '773',
 '774',
 '775',
 '776',
 '777',
 '778',
 '779',
 '780',
 '781',
 '782',
 '783',
 '784',
 '785',
 '786',
 '787',
 '788',
 '789',
 '790',
 '791',
 '792',
 '793',
 '794',
 '795',
 '796',
 '797',
 '798',
 '799',
 '800',
 '801',
 '802',
 '803',
 '804',
 '805',
 '806',
 '807',
 '808',
 '809',
 '810',
 '811',
 '812',
 '813',
 '814',
 '815',
 '816',
 '817',
 '818',
 '819',
 '820',
 '821',
 '822',
 '823',
 '824',
 '825',
 '826',
 '827',
 '828',
 '829',
 '830',
 '831',
 '832',
 '833',
 '834',
 '835',
 '836',
 '837',
 '838',
 '839',
 '840',
 '841',
 '842',
 '843',
 '844',
 '845',
 '846',
 '847',
 '848',
 '849',
 '850',
 '851',
 '852',
 '853',
 '854',
 '855',
 '856',
 '857',
 '858',
 '859',
 '860',
 '861',
 '862',
 '863',
 '864',
 '865',
 '866',
 '867',
 '868',
 '869',
 '870',
 '871',
 '872',
 '873',
 '874',
 '875',
 '876',
 '877',
 '878',
 '879',
 '880',
 '881',
 '882',
 '883',
 '884',
 '885',
 '886',
 '887',
 '888',
 '889',
 '890',
 '891',
 '892',
 '893',
 '894',
 '895',
 '896',
 '897',
 '898',
 '899',
 '900',
 '901',
 '902',
 '903',
 '904',
 '905',
 '906',
 '907',
 '908',
 '909',
 '910',
 '911',
 '912',
 '913',
 '914',
 '915',
 '916',
 '917',
 '918',
 '919',
 '920',
 '921',
 '922',
 '923',
 '924',
 '925',
 '926',
 '927',
 '928',
 '929',
 '930',
 '931',
 '932',
 '933',
 '934',
 '935',
 '936',
 '937',
 '938',
 '939',
 '940',
 '941',
 '942',
 '943',
 '944',
 '945',
 '946',
 '947',
 '948',
 '949',
 '950',
 '951',
 '952',
 '953',
 '954',
 '955',
 '956',
 '957',
 '958',
 '959',
 '960',
 '961',
 '962',
 '963',
 '964',
 '965',
 '966',
 '967',
 '968',
 '969',
 '970',
 '971',
 '972',
 '973',
 '974',
 '975',
 '976',
 '977',
 '978',
 '979',
 '980',
 '981',
 '982',
 '983',
 '984',
 '985',
 '986',
 '987',
 '988',
 '989',
 '990',
 '991',
 '992',
 '993',
 ...]

In [661]:
for col in diadf.columns: 
    print(col)

Unnamed: 0
SUBJECT_ID
GENDER
DIAGNOSES
ICD9_CODE
SEQ_NUM
HADM_ID
001
002
003
004
005
006
007
008
009
010
011
012
013
014
015
016
017
018
019
020
021
022
023
024
025
026
027
028
029
030
031
032
033
034
035
036
037
038
039
040
041
042
043
044
045
046
047
048
049
050
051
052
053
054
055
056
057
058
059
060
061
062
063
064
065
066
067
068
069
070
071
072
073
074
075
076
077
078
079
080
081
082
083
084
085
086
087
088
089
090
091
092
093
094
095
096
097
098
099
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
E800
E801
E802
E803
E804
E805
E806
E807
E808
E809
E810
E811
E812
E813
E814
E815
E816
E817
E818
E819
E820
E821
E822
E823
E824
E825
E826
E827
E828
E829
E830
E831
E832
E833
E834
E835
E836
E837
E838
E839
E840
E841
E842
E843
E844
E845
E846
E847
E848
E849
E850
E851
E852
E853
E854
E855
E856
E857
E858
E859
E860
E861
E862
E863
E864
E865
E866
E867
E868
E869
E870
E871
E872
E873
E874
E875
E876
E877
E878
E879
E880
E881
E882
E883
E884
E885
E886
E887
E888
E889
E890
E891
E892
E893
E894
E895
E896
E897
E898
E899
E900
E901
E902
E903
E904
E905
E906
E907
E908
E909
E910
E911
E912
E913
E914
E915
E916
E917
E918
E919
E920
E921
E922
E923
E924
E925
E926
E927
E928
E929
E930
E931
E932
E933
E934
E935
E936
E937
E938
E939
E940
E941
E942
E943
E944
E945
E946
E947
E948
E949
E950
E951
E952
E953
E954
E955
E956
E957
E958
E959
E960
E961
E962
E963
E964
E965
E966
E967
E968
E969
E970
E971
E972
E973
E974
E975
E976
E977
E978
E979
E980
E981
E982
E983
E984
E985
E986
E987
E988
E989
E990
E991
E992
E993
E994
E995
E996
E997
E998
E999
V01
V02
V03
V04
V05
V06
V07
V08
V09
V10
V11
V12
V13
V14
V15
V16
V17
V18
V19
V20
V21
V22
V23
V24
V25
V26
V27
V28
V29
V30
V31
V32
V33
V34
V35
V36
V37
V38
V39
V40
V41
V42
V43
V44
V45
V46
V47
V48
V49
V50
V51
V52
V53
V54
V55
V56
V57
V58
V59
V60
V61
V62
V63
V64
V65
V66
V67
V68
V69
V70
V71
V72
V73
V74
V75
V76
V77
V78
V79
V80
V81
V82
M8000
M8001
M8002
M8003
M8004
M8005
M8006
M8007
M8008
M8009
M8010
M8011
M8012
M8013
M8014
M8015
M8016
M8017
M8018
M8019
M8020
M8021
M8022
M8023
M8024
M8025
M8026
M8027
M8028
M8029
M8030
M8031
M8032
M8033
M8034
M8035
M8036
M8037
M8038
M8039
M8040
M8041
M8042
M8043
M8044
M8045
M8046
M8047
M8048
M8049
M8050
M8051
M8052
M8053
M8054
M8055
M8056
M8057
M8058
M8059
M8060
M8061
M8062
M8063
M8064
M8065
M8066
M8067
M8068
M8069
M8070
M8071
M8072
M8073
M8074
M8075
M8076
M8077
M8078
M8079
M8080
M8081
M8082
M8083
M8084
M8085
M8086
M8087
M8088
M8089
M8090
M8091
M8092
M8093
M8094
M8095
M8096
M8097
M8098
M8099
M8100
M8101
M8102
M8103
M8104
M8105
M8106
M8107
M8108
M8109
M8110
M8111
M8112
M8113
M8114
M8115
M8116
M8117
M8118
M8119
M8120
M8121
M8122
M8123
M8124
M8125
M8126
M8127
M8128
M8129
M8130
M8131
M8132
M8133
M8134
M8135
M8136
M8137
M8138
M8139
M8140
M8141
M8142
M8143
M8144
M8145
M8146
M8147
M8148
M8149
M8150
M8151
M8152
M8153
M8154
M8155
M8156
M8157
M8158
M8159
M8160
M8161
M8162
M8163
M8164
M8165
M8166
M8167
M8168
M8169
M8170
M8171
M8172
M8173
M8174
M8175
M8176
M8177
M8178
M8179
M8180
M8181
M8182
M8183
M8184
M8185
M8186
M8187
M8188
M8189
M8190
M8191
M8192
M8193
M8194
M8195
M8196
M8197
M8198
M8199
M8200
M8201
M8202
M8203
M8204
M8205
M8206
M8207
M8208
M8209
M8210
M8211
M8212
M8213
M8214
M8215
M8216
M8217
M8218
M8219
M8220
M8221
M8222
M8223
M8224
M8225
M8226
M8227
M8228
M8229
M8230
M8231
M8232
M8233
M8234
M8235
M8236
M8237
M8238
M8239
M8240
M8241
M8242
M8243
M8244
M8245
M8246
M8247
M8248
M8249
M8250
M8251
M8252
M8253
M8254
M8255
M8256
M8257
M8258
M8259
M8260
M8261
M8262
M8263
M8264
M8265
M8266
M8267
M8268
M8269
M8270
M8271
M8272
M8273
M8274
M8275
M8276
M8277
M8278
M8279
M8280
M8281
M8282
M8283
M8284
M8285
M8286
M8287
M8288
M8289
M8290
M8291
M8292
M8293
M8294
M8295
M8296
M8297
M8298
M8299
M8300
M8301
M8302
M8303
M8304
M8305
M8306
M8307
M8308
M8309
M8310
M8311
M8312
M8313
M8314
M8315
M8316
M8317
M8318
M8319
M8320
M8321
M8322
M8323
M8324
M8325
M8326
M8327
M8328
M8329
M8330
M8331
M8332
M8333
M8334
M8335
M8336
M8337
M8338
M8339
M8340
M8341
M8342
M8343
M8344
M8345
M8346
M8347
M8348
M8349
M8350
M8351
M8352
M8353
M8354
M8355
M8356
M8357
M8358
M8359
M8360
M8361
M8362
M8363
M8364
M8365
M8366
M8367
M8368
M8369
M8370
M8371
M8372
M8373
M8374
M8375
M8376
M8377
M8378
M8379
M8380
M8381
M8382
M8383
M8384
M8385
M8386
M8387
M8388
M8389
M8390
M8391
M8392
M8393
M8394
M8395
M8396
M8397
M8398
M8399
M8400
M8401
M8402
M8403
M8404
M8405
M8406
M8407
M8408
M8409
M8410
M8411
M8412
M8413
M8414
M8415
M8416
M8417
M8418
M8419
M8420
M8421
M8422
M8423
M8424
M8425
M8426
M8427
M8428
M8429
M8430
M8431
M8432
M8433
M8434
M8435
M8436
M8437
M8438
M8439
M8440
M8441
M8442
M8443
M8444
M8445
M8446
M8447
M8448
M8449
M8450
M8451
M8452
M8453
M8454
M8455
M8456
M8457
M8458
M8459
M8460
M8461
M8462
M8463
M8464
M8465
M8466
M8467
M8468
M8469
M8470
M8471
M8472
M8473
M8474
M8475
M8476
M8477
M8478
M8479
M8480
M8481
M8482
M8483
M8484
M8485
M8486
M8487
M8488
M8489
M8490
M8491
M8492
M8493
M8494
M8495
M8496
M8497
M8498
M8499
M8500
M8501
M8502
M8503
M8504
M8505
M8506
M8507
M8508
M8509
M8510
M8511
M8512
M8513
M8514
M8515
M8516
M8517
M8518
M8519
M8520
M8521
M8522
M8523
M8524
M8525
M8526
M8527
M8528
M8529
M8530
M8531
M8532
M8533
M8534
M8535
M8536
M8537
M8538
M8539
M8540
M8541
M8542
M8543
M8544
M8545
M8546
M8547
M8548
M8549
M8550
M8551
M8552
M8553
M8554
M8555
M8556
M8557
M8558
M8559
M8560
M8561
M8562
M8563
M8564
M8565
M8566
M8567
M8568
M8569
M8570
M8571
M8572
M8573
M8574
M8575
M8576
M8577
M8578
M8579
M8580
M8581
M8582
M8583
M8584
M8585
M8586
M8587
M8588
M8589
M8590
M8591
M8592
M8593
M8594
M8595
M8596
M8597
M8598
M8599
M8600
M8601
M8602
M8603
M8604
M8605
M8606
M8607
M8608
M8609
M8610
M8611
M8612
M8613
M8614
M8615
M8616
M8617
M8618
M8619
M8620
M8621
M8622
M8623
M8624
M8625
M8626
M8627
M8628
M8629
M8630
M8631
M8632
M8633
M8634
M8635
M8636
M8637
M8638
M8639
M8640
M8641
M8642
M8643
M8644
M8645
M8646
M8647
M8648
M8649
M8650
M8651
M8652
M8653
M8654
M8655
M8656
M8657
M8658
M8659
M8660
M8661
M8662
M8663
M8664
M8665
M8666
M8667
M8668
M8669
M8670
M8671
M8672
M8673
M8674
M8675
M8676
M8677
M8678
M8679
M8680
M8681
M8682
M8683
M8684
M8685
M8686
M8687
M8688
M8689
M8690
M8691
M8692
M8693
M8694
M8695
M8696
M8697
M8698
M8699
M8700
M8701
M8702
M8703
M8704
M8705
M8706
M8707
M8708
M8709
M8710
M8711
M8712
M8713
M8714
M8715
M8716
M8717
M8718
M8719
M8720
M8721
M8722
M8723
M8724
M8725
M8726
M8727
M8728
M8729
M8730
M8731
M8732
M8733
M8734
M8735
M8736
M8737
M8738
M8739
M8740
M8741
M8742
M8743
M8744
M8745
M8746
M8747
M8748
M8749
M8750
M8751
M8752
M8753
M8754
M8755
M8756
M8757
M8758
M8759
M8760
M8761
M8762
M8763
M8764
M8765
M8766
M8767
M8768
M8769
M8770
M8771
M8772
M8773
M8774
M8775
M8776
M8777
M8778
M8779
M8780
M8781
M8782
M8783
M8784
M8785
M8786
M8787
M8788
M8789
M8790
M8791
M8792
M8793
M8794
M8795
M8796
M8797
M8798
M8799
M8800
M8801
M8802
M8803
M8804
M8805
M8806
M8807
M8808
M8809
M8810
M8811
M8812
M8813
M8814
M8815
M8816
M8817
M8818
M8819
M8820
M8821
M8822
M8823
M8824
M8825
M8826
M8827
M8828
M8829
M8830
M8831
M8832
M8833
M8834
M8835
M8836
M8837
M8838
M8839
M8840
M8841
M8842
M8843
M8844
M8845
M8846
M8847
M8848
M8849
M8850
M8851
M8852
M8853
M8854
M8855
M8856
M8857
M8858
M8859
M8860
M8861
M8862
M8863
M8864
M8865
M8866
M8867
M8868
M8869
M8870
M8871
M8872
M8873
M8874
M8875
M8876
M8877
M8878
M8879
M8880
M8881
M8882
M8883
M8884
M8885
M8886
M8887
M8888
M8889
M8890
M8891
M8892
M8893
M8894
M8895
M8896
M8897
M8898
M8899
M8900
M8901
M8902
M8903
M8904
M8905
M8906
M8907
M8908
M8909
M8910
M8911
M8912
M8913
M8914
M8915
M8916
M8917
M8918
M8919
M8920
M8921
M8922
M8923
M8924
M8925
M8926
M8927
M8928
M8929
M8930
M8931
M8932
M8933
M8934
M8935
M8936
M8937
M8938
M8939
M8940
M8941
M8942
M8943
M8944
M8945
M8946
M8947
M8948
M8949
M8950
M8951
M8952
M8953
M8954
M8955
M8956
M8957
M8958
M8959
M8960
M8961
M8962
M8963
M8964
M8965
M8966
M8967
M8968
M8969
M8970
M8971
M8972
M8973
M8974
M8975
M8976
M8977
M8978
M8979
M8980
M8981
M8982
M8983
M8984
M8985
M8986
M8987
M8988
M8989
M8990
M8991
M8992
M8993
M8994
M8995
M8996
M8997
M8998
M8999
M9000
M9001
M9002
M9003
M9004
M9005
M9006
M9007
M9008
M9009
M9010
M9011
M9012
M9013
M9014
M9015
M9016
M9017
M9018
M9019
M9020
M9021
M9022
M9023
M9024
M9025
M9026
M9027
M9028
M9029
M9030
M9031
M9032
M9033
M9034
M9035
M9036
M9037
M9038
M9039
M9040
M9041
M9042
M9043
M9044
M9045
M9046
M9047
M9048
M9049
M9050
M9051
M9052
M9053
M9054
M9055
M9056
M9057
M9058
M9059
M9060
M9061
M9062
M9063
M9064
M9065
M9066
M9067
M9068
M9069
M9070
M9071
M9072
M9073
M9074
M9075
M9076
M9077
M9078
M9079
M9080
M9081
M9082
M9083
M9084
M9085
M9086
M9087
M9088
M9089
M9090
M9091
M9092
M9093
M9094
M9095
M9096
M9097
M9098
M9099
M9100
M9101
M9102
M9103
M9104
M9105
M9106
M9107
M9108
M9109
M9110
M9111
M9112
M9113
M9114
M9115
M9116
M9117
M9118
M9119
M9120
M9121
M9122
M9123
M9124
M9125
M9126
M9127
M9128
M9129
M9130
M9131
M9132
M9133
M9134
M9135
M9136
M9137
M9138
M9139
M9140
M9141
M9142
M9143
M9144
M9145
M9146
M9147
M9148
M9149
M9150
M9151
M9152
M9153
M9154
M9155
M9156
M9157
M9158
M9159
M9160
M9161
M9162
M9163
M9164

M9165
M9166
M9167
M9168
M9169
M9170
M9171
M9172
M9173
M9174
M9175
M9176
M9177
M9178
M9179
M9180
M9181
M9182
M9183
M9184
M9185
M9186
M9187
M9188
M9189
M9190
M9191
M9192
M9193
M9194
M9195
M9196
M9197
M9198
M9199
M9200
M9201
M9202
M9203
M9204
M9205
M9206
M9207
M9208
M9209
M9210
M9211
M9212
M9213
M9214
M9215
M9216
M9217
M9218
M9219
M9220
M9221
M9222
M9223
M9224
M9225
M9226
M9227
M9228
M9229
M9230
M9231
M9232
M9233
M9234
M9235
M9236
M9237
M9238
M9239
M9240
M9241
M9242
M9243
M9244
M9245
M9246
M9247
M9248
M9249
M9250
M9251
M9252
M9253
M9254
M9255
M9256
M9257
M9258
M9259
M9260
M9261
M9262
M9263
M9264
M9265
M9266
M9267
M9268
M9269
M9270
M9271
M9272
M9273
M9274
M9275
M9276
M9277
M9278
M9279
M9280
M9281
M9282
M9283
M9284
M9285
M9286
M9287
M9288
M9289
M9290
M9291
M9292
M9293
M9294
M9295
M9296
M9297
M9298
M9299
M9300
M9301
M9302
M9303
M9304
M9305
M9306
M9307
M9308
M9309
M9310
M9311
M9312
M9313
M9314
M9315
M9316
M9317
M9318
M9319
M9320
M9321
M9322
M9323
M9324
M9325
M9326
M9327
M9328
M9329
M9330
M9331
M9332
M9333
M9334
M9335
M9336
M9337
M9338
M9339
M9340
M9341
M9342
M9343
M9344
M9345
M9346
M9347
M9348
M9349
M9350
M9351
M9352
M9353
M9354
M9355
M9356
M9357
M9358
M9359
M9360
M9361
M9362
M9363
M9364
M9365
M9366
M9367
M9368
M9369
M9370
M9371
M9372
M9373
M9374
M9375
M9376
M9377
M9378
M9379
M9380
M9381
M9382
M9383
M9384
M9385
M9386
M9387
M9388
M9389
M9390
M9391
M9392
M9393
M9394
M9395
M9396
M9397
M9398
M9399
M9400
M9401
M9402
M9403
M9404
M9405
M9406
M9407
M9408
M9409
M9410
M9411
M9412
M9413
M9414
M9415
M9416
M9417
M9418
M9419
M9420
M9421
M9422
M9423
M9424
M9425
M9426
M9427
M9428
M9429
M9430
M9431
M9432
M9433
M9434
M9435
M9436
M9437
M9438
M9439
M9440
M9441
M9442
M9443
M9444
M9445
M9446
M9447
M9448
M9449
M9450
M9451
M9452
M9453
M9454
M9455
M9456
M9457
M9458
M9459
M9460
M9461
M9462
M9463
M9464
M9465
M9466
M9467
M9468
M9469
M9470
M9471
M9472
M9473
M9474
M9475
M9476
M9477
M9478
M9479
M9480
M9481
M9482
M9483
M9484
M9485
M9486
M9487
M9488
M9489
M9490
M9491
M9492
M9493
M9494
M9495
M9496
M9497
M9498
M9499
M9500
M9501
M9502
M9503
M9504
M9505
M9506
M9507
M9508
M9509
M9510
M9511
M9512
M9513
M9514
M9515
M9516
M9517
M9518
M9519
M9520
M9521
M9522
M9523
M9524
M9525
M9526
M9527
M9528
M9529
M9530
M9531
M9532
M9533
M9534
M9535
M9536
M9537
M9538
M9539
M9540
M9541
M9542
M9543
M9544
M9545
M9546
M9547
M9548
M9549
M9550
M9551
M9552
M9553
M9554
M9555
M9556
M9557
M9558
M9559
M9560
M9561
M9562
M9563
M9564
M9565
M9566
M9567
M9568
M9569
M9570
M9571
M9572
M9573
M9574
M9575
M9576
M9577
M9578
M9579
M9580
M9581
M9582
M9583
M9584
M9585
M9586
M9587
M9588
M9589
M9590
M9591
M9592
M9593
M9594
M9595
M9596
M9597
M9598
M9599
M9600
M9601
M9602
M9603
M9604
M9605
M9606
M9607
M9608
M9609
M9610
M9611
M9612
M9613
M9614
M9615
M9616
M9617
M9618
M9619
M9620
M9621
M9622
M9623
M9624
M9625
M9626
M9627
M9628
M9629
M9630
M9631
M9632
M9633
M9634
M9635
M9636
M9637
M9638
M9639
M9640
M9641
M9642
M9643
M9644
M9645
M9646
M9647
M9648
M9649
M9650
M9651
M9652
M9653
M9654
M9655
M9656
M9657
M9658
M9659
M9660
M9661
M9662
M9663
M9664
M9665
M9666
M9667
M9668
M9669
M9670
M9671
M9672
M9673
M9674
M9675
M9676
M9677
M9678
M9679
M9680
M9681
M9682
M9683
M9684
M9685
M9686
M9687
M9688
M9689
M9690
M9691
M9692
M9693
M9694
M9695
M9696
M9697
M9698
M9699
M9700
M9701
M9702
M9703
M9704
M9705
M9706
M9707
M9708
M9709
M9710
M9711
M9712
M9713
M9714
M9715
M9716
M9717
M9718
M9719
M9720
M9721
M9722
M9723
M9724
M9725
M9726
M9727
M9728
M9729
M9730
M9731
M9732
M9733
M9734
M9735
M9736
M9737
M9738
M9739
M9740
M9741
M9742
M9743
M9744
M9745
M9746
M9747
M9748
M9749
M9750
M9751
M9752
M9753
M9754
M9755
M9756
M9757
M9758
M9759
M9760
M9761
M9762
M9763
M9764
M9765
M9766
M9767
M9768
M9769
M9770
M9771
M9772
M9773
M9774
M9775
M9776
M9777
M9778
M9779
M9780
M9781
M9782
M9783
M9784
M9785
M9786
M9787
M9788
M9789
M9790
M9791
M9792
M9793
M9794
M9795
M9796
M9797
M9798
M9799
M9800
M9801
M9802
M9803
M9804
M9805
M9806
M9807
M9808
M9809
M9810
M9811
M9812
M9813
M9814
M9815
M9816
M9817
M9818
M9819
M9820
M9821
M9822
M9823
M9824
M9825
M9826
M9827
M9828
M9829
M9830
M9831
M9832
M9833
M9834
M9835
M9836
M9837
M9838
M9839
M9840
M9841
M9842
M9843
M9844
M9845
M9846
M9847
M9848
M9849
M9850
M9851
M9852
M9853
M9854
M9855
M9856
M9857
M9858
M9859
M9860
M9861
M9862
M9863
M9864
M9865
M9866
M9867
M9868
M9869
M9870
M9871
M9872
M9873
M9874
M9875
M9876
M9877
M9878
M9879
M9880
M9881
M9882
M9883
M9884
M9885
M9886
M9887
M9888
M9889
M9890
M9891
M9892
M9893
M9894
M9895
M9896
M9897
M9898
M9899
M9900
M9901
M9902
M9903
M9904
M9905
M9906
M9907
M9908
M9909
M9910
M9911
M9912
M9913
M9914
M9915
M9916
M9917
M9918
M9919
M9920
M9921
M9922
M9923
M9924
M9925
M9926
M9927
M9928
M9929
M9930
M9931
M9932
M9933
M9934
M9935
M9936
M9937
M9938
M9939
M9940
M9941
M9942
M9943
M9944
M9945
M9946
M9947
M9948
M9949
M9950
M9951
M9952
M9953
M9954
M9955
M9956
M9957
M9958
M9959
M9960
M9961
M9962
M9963
M9964
M9965
M9966
M9967
M9968
M9969
M9970
V85
a
V88
V87
V90
E000
E001
E016
V86

In [662]:
#drop columns  0
col5 = [3267, 3266, 3265, 3264, 3263, 3262, 3261, 3260, 3259, 0, 2,3,4,5,6]

diadf2= diadf.drop(diadf.columns[col5],axis=1)
diadf2.head()

,SUBJECT_ID,001,002,003,004,005,006,007,008,009,...,M9961,M9962,M9963,M9964,M9965,M9966,M9967,M9968,M9969,M9970
0,13,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,18,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,21,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [663]:
diadf2.shape

(10318, 3253)

In [664]:
ex2 = diadf2.dropna()
ex2.shape

(10318, 3253)

In [665]:
#no nan rows 
diadf2[diadf2.isna().any(axis=1)]

Empty DataFrame
Columns: [SUBJECT_ID, 001, 002, 003, 004, 005, 006, 007, 008, 009, 010, 011, 012, 013, 014, 015, 016, 017, 018, 019, 020, 021, 022, 023, 024, 025, 026, 027, 028, 029, 030, 031, 032, 033, 034, 035, 036, 037, 038, 039, 040, 041, 042, 043, 044, 045, 046, 047, 048, 049, 050, 051, 052, 053, 054, 055, 056, 057, 058, 059, 060, 061, 062, 063, 064, 065, 066, 067, 068, 069, 070, 071, 072, 073, 074, 075, 076, 077, 078, 079, 080, 081, 082, 083, 084, 085, 086, 087, 088, 089, 090, 091, 092, 093, 094, 095, 096, 097, 098, 099, ...]
Index: []

[0 rows x 3253 columns]

In [666]:
diabetesm= pd.merge(matrix2, diadf2, how='inner', on='SUBJECT_ID')

In [667]:
diabetesm.head()

,SUBJECT_ID,LOS,HOSPITALIZATION,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,...,M9961,M9962,M9963,M9964,M9965,M9966,M9967,M9968,M9969,M9970
0,13,3.6660,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,18,1.2885,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,20,1.0508,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,21,14.2664,2,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,24,0.5124,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [668]:
diabetesm[diabetesm.isna().any(axis=1)]

,SUBJECT_ID,LOS,HOSPITALIZATION,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,...,M9961,M9962,M9963,M9964,M9965,M9966,M9967,M9968,M9969,M9970
6530,46521,6.5167,2,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6531,46550,5.0924,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6532,46569,6.6128,2,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6533,46588,36.3330,2,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6534,46590,2.9003,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10305,99955,5.6719,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10306,99957,2.8684,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10307,99991,3.1426,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10308,99995,2.1615,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10309,99999,1.1242,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [669]:
diabetesm.shape

(10310, 3314)

In [670]:
diabetesm.loc[diabetesm['LOS']=='0']

/Users/kathy908000/anaconda3/lib/python3.7/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [SUBJECT_ID, LOS, HOSPITALIZATION, ELECTIVE, EMERGENCY, NEWBORN, URGENT, Government, Medicaid, Medicare, Private, Self Pay, DIVORCED, LIFE PARTNER, MARRIED, NAN, SEPARATED, SINGLE, UNKNOWN, WIDOWED, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, GENDER, 001, 002, 003, 004, 005, 006, 007, 008, 009, 010, 011, 012, 013, 014, 015, 016, 017, 018, 019, 020, 021, 022, 023, 024, 025, 026, 027, 028, 029, 030, 031, 032, 033, 034, 035, 036, 037, 038, ...]
Index: []

[0 rows x 3314 columns]

In [671]:
diabetesm= diabetesm.sort_values(by=['LOS'])
diabetesm.head()

,SUBJECT_ID,LOS,HOSPITALIZATION,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,...,M9961,M9962,M9963,M9964,M9965,M9966,M9967,M9968,M9969,M9970
5366,29285,0.0006,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4760,26509,0.0164,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1256,6963,0.0281,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
32,235,0.0394,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3751,20960,0.0431,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [672]:
diabetesm= diabetesm.sort_values(by=['LOS'], ascending=False)
diabetesm.head()

,SUBJECT_ID,LOS,HOSPITALIZATION,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,...,M9961,M9962,M9963,M9964,M9965,M9966,M9967,M9968,M9969,M9970
3811,21280,207.1306,8,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3571,19911,152.7318,3,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
8793,78076,134.1599,5,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4102,22818,130.2998,2,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4763,26519,128.9605,4,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [673]:
#nan rows 
diabetesm[diabetesm.isna().any(axis=1)]

,SUBJECT_ID,LOS,HOSPITALIZATION,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,...,M9961,M9962,M9963,M9964,M9965,M9966,M9967,M9968,M9969,M9970
8793,78076,134.1599,5,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8177,69745,90.9013,4,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6762,49555,88.9090,2,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
6717,48872,86.9965,4,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10262,99383,79.9952,4,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9525,88691,0.1921,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9226,84113,0.1902,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7492,59594,0.1421,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6742,49274,0.0679,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8208,70147,0.0605,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [674]:

#diabetesm.to_csv(r'/Users/kathy908000/github/Health-Care-Research/diabetesmatrix.csv', index = False)

In [675]:
diabetesm.shape

(10310, 3314)

In [676]:
#for col in diabetesm.columns: 
   # print(col)

# Drop All 0 Columns

In [677]:
f= pd.read_csv("diabetesmatrix.csv")
f.head()

,SUBJECT_ID,LOS,HOSPITALIZATION,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,...,M9961,M9962,M9963,M9964,M9965,M9966,M9967,M9968,M9969,M9970
0,21280,207.1306,8,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,19911,152.7318,3,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,78076,134.1599,5,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,22818,130.2998,2,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,26519,128.9605,4,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [678]:
#nan rows 
#row with nan
f[f.isna().any(axis=1)]

,SUBJECT_ID,LOS,HOSPITALIZATION,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,...,M9961,M9962,M9963,M9964,M9965,M9966,M9967,M9968,M9969,M9970
2,78076,134.1599,5,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
18,69745,90.9013,4,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19,49555,88.9090,2,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
22,48872,86.9965,4,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
32,99383,79.9952,4,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10286,88691,0.1921,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10287,84113,0.1902,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10292,59594,0.1421,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10302,49274,0.0679,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
10303,70147,0.0605,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [679]:
#drop columns if all rows have 0 value for icd groups
newdia= f.loc[:, (f != 0).any(axis=0)]
newdia.head()

,SUBJECT_ID,LOS,HOSPITALIZATION,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,...,V62,V63,V64,V65,V66,V69,V70,V72,V74,V76
0,21280,207.1306,8,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,19911,152.7318,3,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,78076,134.1599,5,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,22818,130.2998,2,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,26519,128.9605,4,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [680]:
for col in newdia.columns: 
   print(col)

SUBJECT_ID
LOS
HOSPITALIZATION
ELECTIVE
EMERGENCY
NEWBORN
URGENT
Government
Medicaid
Medicare
Private
Self Pay
DIVORCED
LIFE PARTNER
MARRIED
NAN
SEPARATED
SINGLE
UNKNOWN
WIDOWED
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
GENDER
003
004
005
007
008
009
010
011
012
013
014
018
027
031
032
034
035
038
039
040
041
042
046
047
048
049
052
053
054
057
058
066
070
075
078
079
082
086
088
094
096
097
110
111
112
117
120
121
127
130
131
135
136
137
138
139
140
141
142
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
161
162
163
164
171
172
173
174
175
176
180
182
183
184
185
186
187
188
189
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
207
208
209
210
211
212
213
214
215
216
217
218
220
221
223
225
226
227
228
229
230
232
233
235
236
237
238
239
240
241
242
244
245
246
249
250
251
252
253
254
255
256
257
258
259
261
262
263
265
266
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
303
304
305
306
307
308
309
310
311
312
313
314
315
317
318
319
320
321
322
323
324
325
327
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
382
383
385
386
387
388
389
390
391
394
395
396
397
398
401
402
403
404
405
410
411
412
413
414
415
416
417
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
440
441
442
443
444
445
446
447
448
449
451
452
453
454
455
456
457
458
459
461
462
463
464
465
466
471
472
473
475
477
478
480
481
482
483
484
485
486
487
488
490
491
492
493
494
495
496
500
501
502
506
507
508
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
540
541
542
543
550
551
552
553
555
556
557
558
560
562
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
607
608
611
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
632
633
634
642
644
646
647
648
649
652
654
666
670
674
680
681
682
683
684
685
686
690
692
693
694
695
696
697
698
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
741
742
745
746
747
748
750
751
752
753
754
755
756
757
758
759
765
766
770
774
775
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
799
800
801
802
803
804
805
806
807
808
810
811
812
813
814
815
816
817
820
821
822
823
824
825
826
830
831
833
834
835
836
839
840
842
845
846
847
850
851
852
853
854
860
861
862
863
864
865
866
867
868
869
870
872
873
874
875
879
880
881
882
883
884
886
887
890
891
892
893
894
896
897
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
916
917
918
919
920
921
922
923
924
926
927
933
934
935
936
937
939
941
942
944
945
947
948
950
951
952
953
954
955
956
958
959
961
962
964
965
966
967
968
969
970
971
972
974
975
977
983
987
989
990
991
992
994
995
996
997
998
999
E812
E813
E814
E815
E816
E817
E818
E819
E821
E822
E823
E824
E825
E826
E838
E848
E849
E850
E851
E852
E853
E854
E855
E857
E858
E866
E869
E870
E871
E874
E876
E878
E879
E880
E881
E882
E884
E885
E887
E888
E890
E899
E900
E901
E906
E910
E911
E912
E915
E916
E917
E918
E920
E922
E924
E927
E928
E929
E930
E931
E932
E933
E934
E935
E936
E937
E938
E939
E940
E941
E942
E943
E944
E945
E946
E947
E950
E953
E955
E956
E957
E958
E960
E965
E966
E967
E968
E969
E980
E988
E989
V01
V02
V03
V04
V05
V06
V07
V08
V09
V10
V11
V12
V13
V14
V15
V16
V17
V18
V19
V23
V26
V27
V29
V30
V42
V43
V44
V45
V46
V49
V50
V53
V54
V55
V56
V58
V60
V61
V62
V63
V64
V65
V66
V69
V70
V72
V74
V76

In [681]:
newdia.isnull().values.any()

True

In [682]:
#row with nan
newdia[newdia.isna().any(axis=1)]

,SUBJECT_ID,LOS,HOSPITALIZATION,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,...,V62,V63,V64,V65,V66,V69,V70,V72,V74,V76
2,78076,134.1599,5,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
18,69745,90.9013,4,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19,49555,88.9090,2,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
22,48872,86.9965,4,1,1,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
32,99383,79.9952,4,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10286,88691,0.1921,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10287,84113,0.1902,1,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10292,59594,0.1421,1,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10302,49274,0.0679,1,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
10303,70147,0.0605,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [683]:
newdia.isnull().sum()

SUBJECT_ID         0
LOS                0
HOSPITALIZATION    0
ELECTIVE           0
EMERGENCY          0
                  ..
V69                0
V70                0
V72                0
V74                0
V76                0
Length: 919, dtype: int64

In [684]:
print("No. of columns containing null values")
print(len(newdia.columns[newdia.isna().any()]))

print("No. of columns not containing null values")
print(len(newdia.columns[newdia.notna().all()]))

print("Total no. of columns in the dataframe")
print(len(newdia.columns))

No. of columns containing null values
41
No. of columns not containing null values
878
Total no. of columns in the dataframe
919

In [685]:
newdia.shape

(10310, 919)

In [686]:
#for col in newdia.columns: 
   # print(col)

In [687]:
newdia.columns[20]

'0'

In [688]:
co = [20,21,22, 23,24,25,26,27,28,29,30, 31,32, 33,34,35,36,37,38,39, 
     40,41,42, 43,44,45,46,47,48,49,50, 51,52, 53,54,55,56,57,58,59, 60]
newdia2= newdia.drop(newdia.columns[co],axis=1)
#dfpart = df.iloc[:, 8:]
newdia2.head()

,SUBJECT_ID,LOS,HOSPITALIZATION,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,...,V62,V63,V64,V65,V66,V69,V70,V72,V74,V76
0,21280,207.1306,8,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,19911,152.7318,3,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,78076,134.1599,5,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,22818,130.2998,2,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,26519,128.9605,4,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [689]:
for col in newdia2.columns: 
    print(col)

SUBJECT_ID
LOS
HOSPITALIZATION
ELECTIVE
EMERGENCY
NEWBORN
URGENT
Government
Medicaid
Medicare
Private
Self Pay
DIVORCED
LIFE PARTNER
MARRIED
NAN
SEPARATED
SINGLE
UNKNOWN
WIDOWED
GENDER
003
004
005
007
008
009
010
011
012
013
014
018
027
031
032
034
035
038
039
040
041
042
046
047
048
049
052
053
054
057
058
066
070
075
078
079
082
086
088
094
096
097
110
111
112
117
120
121
127
130
131
135
136
137
138
139
140
141
142
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
161
162
163
164
171
172
173
174
175
176
180
182
183
184
185
186
187
188
189
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
207
208
209
210
211
212
213
214
215
216
217
218
220
221
223
225
226
227
228
229
230
232
233
235
236
237
238
239
240
241
242
244
245
246
249
250
251
252
253
254
255
256
257
258
259
261
262
263
265
266
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
303
304
305
306
307
308
309
310
311
312
313
314
315
317
318
319
320
321
322
323
324
325
327
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
382
383
385
386
387
388
389
390
391
394
395
396
397
398
401
402
403
404
405
410
411
412
413
414
415
416
417
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
440
441
442
443
444
445
446
447
448
449
451
452
453
454
455
456
457
458
459
461
462
463
464
465
466
471
472
473
475
477
478
480
481
482
483
484
485
486
487
488
490
491
492
493
494
495
496
500
501
502
506
507
508
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
540
541
542
543
550
551
552
553
555
556
557
558
560
562
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
607
608
611
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
632
633
634
642
644
646
647
648
649
652
654
666
670
674
680
681
682
683
684
685
686
690
692
693
694
695
696
697
698
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
741
742
745
746
747
748
750
751
752
753
754
755
756
757
758
759
765
766
770
774
775
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
799
800
801
802
803
804
805
806
807
808
810
811
812
813
814
815
816
817
820
821
822
823
824
825
826
830
831
833
834
835
836
839
840
842
845
846
847
850
851
852
853
854
860
861
862
863
864
865
866
867
868
869
870
872
873
874
875
879
880
881
882
883
884
886
887
890
891
892
893
894
896
897
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
916
917
918
919
920
921
922
923
924
926
927
933
934
935
936
937
939
941
942
944
945
947
948
950
951
952
953
954
955
956
958
959
961
962
964
965
966
967
968
969
970
971
972
974
975
977
983
987
989
990
991
992
994
995
996
997
998
999
E812
E813
E814
E815
E816
E817
E818
E819
E821
E822
E823
E824
E825
E826
E838
E848
E849
E850
E851
E852
E853
E854
E855
E857
E858
E866
E869
E870
E871
E874
E876
E878
E879
E880
E881
E882
E884
E885
E887
E888
E890
E899
E900
E901
E906
E910
E911
E912
E915
E916
E917
E918
E920
E922
E924
E927
E928
E929
E930
E931
E932
E933
E934
E935
E936
E937
E938
E939
E940
E941
E942
E943
E944
E945
E946
E947
E950
E953
E955
E956
E957
E958
E960
E965
E966
E967
E968
E969
E980
E988
E989
V01
V02
V03
V04
V05
V06
V07
V08
V09
V10
V11
V12
V13
V14
V15
V16
V17
V18
V19
V23
V26
V27
V29
V30
V42
V43
V44
V45
V46
V49
V50
V53
V54
V55
V56
V58
V60
V61
V62
V63
V64
V65
V66
V69
V70
V72
V74
V76

In [690]:
newdia2[newdia2.isna().any(axis=1)]

Empty DataFrame
Columns: [SUBJECT_ID, LOS, HOSPITALIZATION, ELECTIVE, EMERGENCY, NEWBORN, URGENT, Government, Medicaid, Medicare, Private, Self Pay, DIVORCED, LIFE PARTNER, MARRIED, NAN, SEPARATED, SINGLE, UNKNOWN, WIDOWED, GENDER, 003, 004, 005, 007, 008, 009, 010, 011, 012, 013, 014, 018, 027, 031, 032, 034, 035, 038, 039, 040, 041, 042, 046, 047, 048, 049, 052, 053, 054, 057, 058, 066, 070, 075, 078, 079, 082, 086, 088, 094, 096, 097, 110, 111, 112, 117, 120, 121, 127, 130, 131, 135, 136, 137, 138, 139, 140, 141, 142, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 161, 162, 163, 164, ...]
Index: []

[0 rows x 878 columns]

In [691]:
newdia2.shape

(10310, 878)

In [693]:
for col in newdia2.columns: 
    print(col)

SUBJECT_ID
LOS
HOSPITALIZATION
ELECTIVE
EMERGENCY
NEWBORN
URGENT
Government
Medicaid
Medicare
Private
Self Pay
DIVORCED
LIFE PARTNER
MARRIED
NAN
SEPARATED
SINGLE
UNKNOWN
WIDOWED
GENDER
003
004
005
007
008
009
010
011
012
013
014
018
027
031
032
034
035
038
039
040
041
042
046
047
048
049
052
053
054
057
058
066
070
075
078
079
082
086
088
094
096
097
110
111
112
117
120
121
127
130
131
135
136
137
138
139
140
141
142
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
161
162
163
164
171
172
173
174
175
176
180
182
183
184
185
186
187
188
189
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
207
208
209
210
211
212
213
214
215
216
217
218
220
221
223
225
226
227
228
229
230
232
233
235
236
237
238
239
240
241
242
244
245
246
249
250
251
252
253
254
255
256
257
258
259
261
262
263
265
266
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
303
304
305
306
307
308
309
310
311
312
313
314
315
317
318
319
320
321
322
323
324
325
327
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
382
383
385
386
387
388
389
390
391
394
395
396
397
398
401
402
403
404
405
410
411
412
413
414
415
416
417
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
440
441
442
443
444
445
446
447
448
449
451
452
453
454
455
456
457
458
459
461
462
463
464
465
466
471
472
473
475
477
478
480
481
482
483
484
485
486
487
488
490
491
492
493
494
495
496
500
501
502
506
507
508
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
540
541
542
543
550
551
552
553
555
556
557
558
560
562
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
607
608
611
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
632
633
634
642
644
646
647
648
649
652
654
666
670
674
680
681
682
683
684
685
686
690
692
693
694
695
696
697
698
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
741
742
745
746
747
748
750
751
752
753
754
755
756
757
758
759
765
766
770
774
775
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
799
800
801
802
803
804
805
806
807
808
810
811
812
813
814
815
816
817
820
821
822
823
824
825
826
830
831
833
834
835
836
839
840
842
845
846
847
850
851
852
853
854
860
861
862
863
864
865
866
867
868
869
870
872
873
874
875
879
880
881
882
883
884
886
887
890
891
892
893
894
896
897
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
916
917
918
919
920
921
922
923
924
926
927
933
934
935
936
937
939
941
942
944
945
947
948
950
951
952
953
954
955
956
958
959
961
962
964
965
966
967
968
969
970
971
972
974
975
977
983
987
989
990
991
992
994
995
996
997
998
999
E812
E813
E814
E815
E816
E817
E818
E819
E821
E822
E823
E824
E825
E826
E838
E848
E849
E850
E851
E852
E853
E854
E855
E857
E858
E866
E869
E870
E871
E874
E876
E878
E879
E880
E881
E882
E884
E885
E887
E888
E890
E899
E900
E901
E906
E910
E911
E912
E915
E916
E917
E918
E920
E922
E924
E927
E928
E929
E930
E931
E932
E933
E934
E935
E936
E937
E938
E939
E940
E941
E942
E943
E944
E945
E946
E947
E950
E953
E955
E956
E957
E958
E960
E965
E966
E967
E968
E969
E980
E988
E989
V01
V02
V03
V04
V05
V06
V07
V08
V09
V10
V11
V12
V13
V14
V15
V16
V17
V18
V19
V23
V26
V27
V29
V30
V42
V43
V44
V45
V46
V49
V50
V53
V54
V55
V56
V58
V60
V61
V62
V63
V64
V65
V66
V69
V70
V72
V74
V76

In [694]:
newdia2.to_csv(r'/Users/kathy908000/github/Health-Care-Research/newdia2.csv', index = False)

In [695]:
newdia2[newdia2.isna().any(axis=1)]

Empty DataFrame
Columns: [SUBJECT_ID, LOS, HOSPITALIZATION, ELECTIVE, EMERGENCY, NEWBORN, URGENT, Government, Medicaid, Medicare, Private, Self Pay, DIVORCED, LIFE PARTNER, MARRIED, NAN, SEPARATED, SINGLE, UNKNOWN, WIDOWED, GENDER, 003, 004, 005, 007, 008, 009, 010, 011, 012, 013, 014, 018, 027, 031, 032, 034, 035, 038, 039, 040, 041, 042, 046, 047, 048, 049, 052, 053, 054, 057, 058, 066, 070, 075, 078, 079, 082, 086, 088, 094, 096, 097, 110, 111, 112, 117, 120, 121, 127, 130, 131, 135, 136, 137, 138, 139, 140, 141, 142, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 161, 162, 163, 164, ...]
Index: []

[0 rows x 878 columns]

In [222]:
# 4k rows have nan value? 
#newdia = newdia.dropna()
#newdia.head()

,SUBJECT_ID,LOS,HOSPITALIZATION,ELECTIVE,EMERGENCY,NEWBORN,URGENT,Government,Medicaid,Medicare,...,V62,V63,V64,V65,V66,V69,V70,V72,V74,V76
0,21280,207.1306,8,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,19911,152.7318,3,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,22818,130.2998,2,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,26519,128.9605,4,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,2187,123.0242,7,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [223]:
#newdia.shape

(6530, 919)

In [ ]:
#delete ethnicity columns

In [224]:
#newdia.to_csv(r'/Users/kathy908000/github/Health-Care-Research/newdia.csv', index = False)