In [428]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline
import json
import datetime


from scipy.cluster.hierarchy import dendrogram, linkage

from sklearn.cluster import AgglomerativeClustering
#import scipy.cluster.hierarchy as sch

#import April12.ipynb
#%store -r icd_grouped 
import statsmodels.api as sm
from patsy import dmatrices 

# model selection
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LassoCV

import seaborn
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Demographics

In [429]:
data2= pd.read_csv('ADMISSIONS.csv')
data2.head()
data2.shape # doesn't have empty rows
#data.head()
#data['SUBJECT_ID'].head(10)

(58976, 19)

In [430]:
data2.dtypes

ROW_ID                   int64
SUBJECT_ID               int64
HADM_ID                  int64
ADMITTIME               object
DISCHTIME               object
DEATHTIME               object
ADMISSION_TYPE          object
ADMISSION_LOCATION      object
DISCHARGE_LOCATION      object
INSURANCE               object
LANGUAGE                object
RELIGION                object
MARITAL_STATUS          object
ETHNICITY               object
EDREGTIME               object
EDOUTTIME               object
DIAGNOSIS               object
HOSPITAL_EXPIRE_FLAG     int64
HAS_CHARTEVENTS_DATA     int64
dtype: object

In [431]:
df = data2[['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'ADMISSION_TYPE', 'INSURANCE', 'MARITAL_STATUS', 'ETHNICITY', 'DIAGNOSIS']]
df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ADMISSION_TYPE,INSURANCE,MARITAL_STATUS,ETHNICITY,DIAGNOSIS
0,21,22,165315,EMERGENCY,Private,MARRIED,WHITE,BENZODIAZEPINE OVERDOSE
1,22,23,152223,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...
2,23,23,124321,EMERGENCY,Medicare,MARRIED,WHITE,BRAIN MASS
3,24,24,161859,EMERGENCY,Private,SINGLE,WHITE,INTERIOR MYOCARDIAL INFARCTION
4,25,25,129635,EMERGENCY,Private,MARRIED,WHITE,ACUTE CORONARY SYNDROME

# Label Encoding

In [432]:
le = LabelEncoder()
df['ADMISSION_TYPEc']= le.fit_transform(df['ADMISSION_TYPE']) 
df.head(10)
#df.loc[df['ADMISSION_TYPEc']=='4']

/Users/kathy908000/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ROW_ID,SUBJECT_ID,HADM_ID,ADMISSION_TYPE,INSURANCE,MARITAL_STATUS,ETHNICITY,DIAGNOSIS,ADMISSION_TYPEc
0,21,22,165315,EMERGENCY,Private,MARRIED,WHITE,BENZODIAZEPINE OVERDOSE,1
1,22,23,152223,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0
2,23,23,124321,EMERGENCY,Medicare,MARRIED,WHITE,BRAIN MASS,1
3,24,24,161859,EMERGENCY,Private,SINGLE,WHITE,INTERIOR MYOCARDIAL INFARCTION,1
4,25,25,129635,EMERGENCY,Private,MARRIED,WHITE,ACUTE CORONARY SYNDROME,1
5,26,26,197661,EMERGENCY,Medicare,SINGLE,UNKNOWN/NOT SPECIFIED,V-TACH,1
6,27,27,134931,NEWBORN,Private,NaN,WHITE,NEWBORN,2
7,28,28,162569,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0
8,29,30,104557,URGENT,Medicare,MARRIED,UNKNOWN/NOT SPECIFIED,UNSTABLE ANGINA\CATH,3
9,30,31,128652,EMERGENCY,Medicare,MARRIED,WHITE,STATUS EPILEPTICUS,1

In [453]:
#check onehotencoding
df[['SUBJECT_ID', 'ADMISSION_TYPE']].head(30)

     SUBJECT_ID ADMISSION_TYPE
211           2        NEWBORN
212           3      EMERGENCY
213           4      EMERGENCY
214           5        NEWBORN
215           6       ELECTIVE
216           7        NEWBORN
217           8        NEWBORN
218           9      EMERGENCY
219          10        NEWBORN
220          11      EMERGENCY
221          12       ELECTIVE
222          13      EMERGENCY
223          16        NEWBORN
224          17       ELECTIVE
225          17      EMERGENCY
226          18      EMERGENCY
227          19      EMERGENCY
228          20       ELECTIVE
229          21      EMERGENCY
230          21      EMERGENCY
0            22      EMERGENCY
1            23       ELECTIVE
2            23      EMERGENCY
3            24      EMERGENCY
4            25      EMERGENCY
5            26      EMERGENCY
6            27        NEWBORN
7            28       ELECTIVE
8            30         URGENT
9            31      EMERGENCY

onehotencoder = OneHotEncoder()
columnTransformer = ColumnTransformer([('encoder', 
                                        OneHotEncoder(), 
                                        [0])], 
                                      remainder='passthrough') 
df = np.array(columnTransformer.fit_transform(df), dtype = np.str)

In [433]:
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')

# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(df[['ADMISSION_TYPEc']]).toarray())

enc_df.head(20)

      0    1    2    3
0   0.0  1.0  0.0  0.0
1   1.0  0.0  0.0  0.0
2   0.0  1.0  0.0  0.0
3   0.0  1.0  0.0  0.0
4   0.0  1.0  0.0  0.0
5   0.0  1.0  0.0  0.0
6   0.0  0.0  1.0  0.0
7   1.0  0.0  0.0  0.0
8   0.0  0.0  0.0  1.0
9   0.0  1.0  0.0  0.0
10  1.0  0.0  0.0  0.0
11  0.0  1.0  0.0  0.0
12  0.0  1.0  0.0  0.0
13  0.0  1.0  0.0  0.0
14  1.0  0.0  0.0  0.0
15  0.0  1.0  0.0  0.0
16  0.0  1.0  0.0  0.0
17  1.0  0.0  0.0  0.0
18  0.0  1.0  0.0  0.0
19  0.0  1.0  0.0  0.0

In [434]:
# merge with main df bridge_df on key values
df = df.join(enc_df)
df.head(10)

,ROW_ID,SUBJECT_ID,HADM_ID,ADMISSION_TYPE,INSURANCE,MARITAL_STATUS,ETHNICITY,DIAGNOSIS,ADMISSION_TYPEc,0,1,2,3
0,21,22,165315,EMERGENCY,Private,MARRIED,WHITE,BENZODIAZEPINE OVERDOSE,1,0.0,1.0,0.0,0.0
1,22,23,152223,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1.0,0.0,0.0,0.0
2,23,23,124321,EMERGENCY,Medicare,MARRIED,WHITE,BRAIN MASS,1,0.0,1.0,0.0,0.0
3,24,24,161859,EMERGENCY,Private,SINGLE,WHITE,INTERIOR MYOCARDIAL INFARCTION,1,0.0,1.0,0.0,0.0
4,25,25,129635,EMERGENCY,Private,MARRIED,WHITE,ACUTE CORONARY SYNDROME,1,0.0,1.0,0.0,0.0
5,26,26,197661,EMERGENCY,Medicare,SINGLE,UNKNOWN/NOT SPECIFIED,V-TACH,1,0.0,1.0,0.0,0.0
6,27,27,134931,NEWBORN,Private,NaN,WHITE,NEWBORN,2,0.0,0.0,1.0,0.0
7,28,28,162569,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1.0,0.0,0.0,0.0
8,29,30,104557,URGENT,Medicare,MARRIED,UNKNOWN/NOT SPECIFIED,UNSTABLE ANGINA\CATH,3,0.0,0.0,0.0,1.0
9,30,31,128652,EMERGENCY,Medicare,MARRIED,WHITE,STATUS EPILEPTICUS,1,0.0,1.0,0.0,0.0

In [435]:
#rename onehotencoded columns
df = df.rename({0: 'ELECTIVE', 1: 'EMERGENCY', 2: 'NEWBORN', 3: 'URGENT'}, axis=1)
df.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ADMISSION_TYPE,INSURANCE,MARITAL_STATUS,ETHNICITY,DIAGNOSIS,ADMISSION_TYPEc,ELECTIVE,EMERGENCY,NEWBORN,URGENT
0,21,22,165315,EMERGENCY,Private,MARRIED,WHITE,BENZODIAZEPINE OVERDOSE,1,0.0,1.0,0.0,0.0
1,22,23,152223,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1.0,0.0,0.0,0.0
2,23,23,124321,EMERGENCY,Medicare,MARRIED,WHITE,BRAIN MASS,1,0.0,1.0,0.0,0.0
3,24,24,161859,EMERGENCY,Private,SINGLE,WHITE,INTERIOR MYOCARDIAL INFARCTION,1,0.0,1.0,0.0,0.0
4,25,25,129635,EMERGENCY,Private,MARRIED,WHITE,ACUTE CORONARY SYNDROME,1,0.0,1.0,0.0,0.0

In [452]:
df = df.sort_values(by=['SUBJECT_ID'])
#mergednodup = mergednodup.sort_values(by=['SUBJECT_ID'])
df[['SUBJECT_ID', 'ELECTIVE']].head(30)

     SUBJECT_ID ELECTIVE
211           2        0
212           3        0
213           4        0
214           5        0
215           6        1
216           7        0
217           8        0
218           9        0
219          10        0
220          11        0
221          12        1
222          13        0
223          16        0
224          17        1
225          17        0
226          18        0
227          19        0
228          20        1
229          21        0
230          21        0
0            22        0
1            23        1
2            23        0
3            24        0
4            25        0
5            26        0
6            27        0
7            28        1
8            30        0
9            31        0

# Check weather groupby works

In [436]:
df.dtypes

ROW_ID               int64
SUBJECT_ID           int64
HADM_ID              int64
ADMISSION_TYPE      object
INSURANCE           object
MARITAL_STATUS      object
ETHNICITY           object
DIAGNOSIS           object
ADMISSION_TYPEc      int64
ELECTIVE           float64
EMERGENCY          float64
NEWBORN            float64
URGENT             float64
dtype: object

In [437]:
#round, remove the decimal points

df = df.astype({'ELECTIVE': int, 'EMERGENCY': int, 'NEWBORN': int, 'URGENT': int  })
df = df.astype({'ELECTIVE': str, 'EMERGENCY': str, 'NEWBORN': str, 'URGENT': str })




#df['ELECTIVE'].apply(np.ceil)

#df['ELECTIVE'] = df['ELECTIVE'].round(decimals=0)
#df['ELECTIVE'] = (df['ELECTIVE'] // 1e-5) * 1e-5
#df = df.astype ({'ELECTIVE': 'int' }) 
#df['ELECTIVE'] = df['ELECTIVE'].astype(int)
#df['ELECTIVE'] = (df['ELECTIVE'] * 1e2).astype(int) / 1e2

#df.style.set_precision(1)
#df.style.format({ 'ELECTIVE': '{:,.1f}'.format, 'EMERGENCY': '{:,.3f}'.format, })

#df.round()
#df = df.astype ({'ELECTIVE': 'int32' }) 
#df = df.astype ({'ELECTIVE': str }) 
#df['ELECTIVE'].head()
df.head(20)

,ROW_ID,SUBJECT_ID,HADM_ID,ADMISSION_TYPE,INSURANCE,MARITAL_STATUS,ETHNICITY,DIAGNOSIS,ADMISSION_TYPEc,ELECTIVE,EMERGENCY,NEWBORN,URGENT
0,21,22,165315,EMERGENCY,Private,MARRIED,WHITE,BENZODIAZEPINE OVERDOSE,1,0,1,0,0
1,22,23,152223,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1,0,0,0
2,23,23,124321,EMERGENCY,Medicare,MARRIED,WHITE,BRAIN MASS,1,0,1,0,0
3,24,24,161859,EMERGENCY,Private,SINGLE,WHITE,INTERIOR MYOCARDIAL INFARCTION,1,0,1,0,0
4,25,25,129635,EMERGENCY,Private,MARRIED,WHITE,ACUTE CORONARY SYNDROME,1,0,1,0,0
5,26,26,197661,EMERGENCY,Medicare,SINGLE,UNKNOWN/NOT SPECIFIED,V-TACH,1,0,1,0,0
6,27,27,134931,NEWBORN,Private,NaN,WHITE,NEWBORN,2,0,0,1,0
7,28,28,162569,ELECTIVE,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1,0,0,0
8,29,30,104557,URGENT,Medicare,MARRIED,UNKNOWN/NOT SPECIFIED,UNSTABLE ANGINA\CATH,3,0,0,0,1
9,30,31,128652,EMERGENCY,Medicare,MARRIED,WHITE,STATUS EPILEPTICUS,1,0,1,0,0
10,31,32,175413,ELECTIVE,Medicaid,NaN,WHITE,TRACHEAL STENOSIS/SDA,0,1,0,0,0
11,32,33,176176,EMERGENCY,Medicare,MARRIED,UNKNOWN/NOT SPECIFIED,SEPSIS;TELEMETRY,1,0,1,0,0
12,33,34,115799,EMERGENCY,Medicare,MARRIED,WHITE,CHEST PAIN\CATH,1,0,1,0,0
13,34,34,144319,EMERGENCY,Medicare,MARRIED,WHITE,BRADYCARDIA,1,0,1,0,0
14,35,35,166707,ELECTIVE,Medicare,DIVORCED,WHITE,AORTIC VALVE DISEASE\CORONARY ARTERY BYPASS GR...,0,1,0,0,0
15,36,36,182104,EMERGENCY,Medicare,MARRIED,WHITE,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,1,0,1,0,0
16,37,36,122659,EMERGENCY,Medicare,MARRIED,WHITE,CHEST PAIN/SHORTNESS OF BREATH,1,0,1,0,0
17,38,36,165660,ELECTIVE,Medicare,MARRIED,WHITE,VENTRAL HERNIA/SDA,0,1,0,0,0
18,39,37,188670,EMERGENCY,Medicare,MARRIED,WHITE,CONGESTIVE HEART FAILURE,1,0,1,0,0
19,40,38,185910,EMERGENCY,Medicare,WIDOWED,WHITE,ACUTE MYOCARDIAL INFARCTION-SEPSIS,1,0,1,0,0

In [438]:
df.dtypes # not string, type object

ROW_ID              int64
SUBJECT_ID          int64
HADM_ID             int64
ADMISSION_TYPE     object
INSURANCE          object
MARITAL_STATUS     object
ETHNICITY          object
DIAGNOSIS          object
ADMISSION_TYPEc     int64
ELECTIVE           object
EMERGENCY          object
NEWBORN            object
URGENT             object
dtype: object

In [439]:
#check join 
ndf = df.groupby('SUBJECT_ID').agg({'ELECTIVE' : lambda x: ''.join(x)})
ndf.head(30)
#ndf['ELECTIVE'].head(30)

           ELECTIVE
SUBJECT_ID
2                 0
3                 0
4                 0
5                 0
6                 1
7                 0
8                 0
9                 0
10                0
11                0
12                1
13                0
16                0
17               10
18                0
19                0
20                1
21               00
22                0
23               10
24                0
25                0
26                0
27                0
28                1
30                0
31                0
32                1
33                0
34               00

ndf.dtypes

#ndf = ndf.astype(str)
ndf = ndf.astype ({'ELECTIVE': str })

ndf.dtypes

df['ELECTIVE'] = ndf['ELECTIVE']
df.head(30)

#check regex
a  = 
#ndf.loc[ndf['ELECTIVE']str.contains('1'), ELECTIVE'] = 1

print(ndf)

In [440]:
#elective = ndf['ELECTIVE']
#elective.head(20)

In [441]:
ndf.dtypes

ELECTIVE    object
dtype: object

In [442]:
#ndf = ndf.to_string()
ndf = ndf.astype({'ELECTIVE': int })
ndf= ndf.applymap(str) # whole dataframe is string

#ndf = ndf['ELECTIVE'].apply(str)

#ndf = ndf.astype({'ELECTIVE': str })



#ndf = ndf['ELECTIVE'].astype(int)

#ndf = ndf['ELECTIVE'].astype(str)
ndf.head(20)

           ELECTIVE
SUBJECT_ID
2                 0
3                 0
4                 0
5                 0
6                 1
7                 0
8                 0
9                 0
10                0
11                0
12                1
13                0
16                0
17               10
18                0
19                0
20                1
21                0
22                0
23               10

In [443]:
ndf.dtypes

ELECTIVE    object
dtype: object

In [444]:
elective = ndf['ELECTIVE']
elective.head(20)

SUBJECT_ID
2      0
3      0
4      0
5      0
6      1
7      0
8      0
9      0
10     0
11     0
12     1
13     0
16     0
17    10
18     0
19     0
20     1
21     0
22     0
23    10
Name: ELECTIVE, dtype: object

In [445]:
if '0' in '1011':
    print('yes')
else:
    print('no')

yes

In [446]:
elective.iloc[13 ]

'10'

In [447]:
ndf['ELECTIVE'][13]

'0'

In [448]:

for i in range(46520):
    #row  = elective.iloc[i]
    #if  row.contains('1'):
    if '1' in elective.iloc[i]: 
        elective.iloc[i] = '1'       
    else:
        elective.iloc[i] = '0'

In [449]:
ndf['ELECTIVE'] = elective
ndf.head(30)

           ELECTIVE
SUBJECT_ID
2                 0
3                 0
4                 0
5                 0
6                 1
7                 0
8                 0
9                 0
10                0
11                0
12                1
13                0
16                0
17                1
18                0
19                0
20                1
21                0
22                0
23                1
24                0
25                0
26                0
27                0
28                1
30                0
31                0
32                1
33                0
34                0


for i in range(46520):
    row  = elective.iloc[i]
    #if  row.contains('1'):
    if '1' in row: 
        ndf['ELECTIVE'][i] = '1'       
    else:
        ndf['ELECTIVE'][i] = '0'

In [4]:
data2.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1

In [5]:
# multiple rows for each patient? yes
dup = data2[data2.duplicated(['SUBJECT_ID'])]
dup.tail(30)

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
58851,57780,96260,110058,2196-08-24 17:05:00,2196-10-03 14:25:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,LONG TERM CARE HOSPITAL,Private,ENGL,PROTESTANT QUAKER,SINGLE,BLACK/AFRICAN AMERICAN,NaN,NaN,STEVENS JOHNSON SYNDROME,0,1
58853,55962,90676,103021,2143-05-28 07:15:00,2143-06-05 13:30:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,REHAB/DISTINCT PART HOSP,Medicare,ENGL,JEWISH,MARRIED,WHITE,NaN,NaN,DRUG REFRACTORY ATRIAL FIBRILLATION\PULMONARY ...,0,1
58858,55967,90688,107472,2153-10-09 08:10:00,2153-10-12 17:31:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2153-10-09 05:16:00,2153-10-09 09:18:00,PNEUMONIA,0,1
58859,55968,90688,127169,2154-05-16 07:15:00,2154-05-16 16:15:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,NaN,NaN,OSTEROARTHRITIS OF LEFT WRIST/SDA,0,0
58860,55969,90688,112686,2154-11-09 11:29:00,2154-11-13 17:30:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,LONG TERM CARE HOSPITAL,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2154-11-09 05:33:00,2154-11-09 12:50:00,SEPSIS,0,1
58865,55974,90699,174425,2201-02-24 19:33:00,2201-03-02 16:30:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,Medicare,ENGL,JEWISH,MARRIED,WHITE,2201-02-24 17:36:00,2201-02-24 20:22:00,HYDROCEPHALUS,0,1
58872,56884,93535,121562,2188-08-05 20:27:00,2188-08-07 16:48:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,SNF,Medicare,ENGL,JEWISH,SINGLE,WHITE,2188-08-05 17:56:00,2188-08-05 18:06:00,ASTHMA;COPD EXACERBATION,0,1
58878,56890,93560,140159,2156-06-11 07:30:00,2156-06-22 16:25:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,REHAB/DISTINCT PART HOSP,Private,ENGL,CATHOLIC,SINGLE,WHITE,NaN,NaN,"TRAUMATIC BRAIN HEMORRHAGE, LEFT /SDA",0,1
58886,57479,95372,171027,2123-04-22 17:14:00,2123-04-29 17:09:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,SPAN,OTHER,MARRIED,HISPANIC OR LATINO,2123-04-22 13:17:00,2123-04-22 19:05:00,ANEMIA/THROMBOCYTOPNEIA/FEVER,0,1
58887,57480,95372,128486,2123-05-16 12:20:00,2123-05-18 13:50:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Medicare,SPAN,OTHER,MARRIED,HISPANIC OR LATINO,2123-05-16 07:02:00,2123-05-16 14:54:00,WEAKNESS,0,1
58888,57481,95372,145708,2123-10-08 22:18:00,2123-10-20 14:34:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,SPAN,OTHER,MARRIED,HISPANIC OR LATINO,2123-10-08 20:03:00,2123-10-08 23:12:00,HYPONATREMIA,0,1
58889,57482,95372,172631,2123-10-23 21:58:00,2123-10-26 14:39:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Medicare,SPAN,OTHER,MARRIED,HISPANIC OR LATINO,2123-10-23 20:07:00,2123-10-24 01:12:00,LOWER GI BLEED,0,1
58890,57483,95372,181449,2124-04-17 16:11:00,2124-04-24 15:38:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,SPAN,OTHER,MARRIED,HISPANIC OR LATINO,2124-04-17 09:52:00,2124-04-17 17:17:00,SEPSIS,0,1
58891,57484,95372,166743,2124-06-30 01:24:00,2124-07-06 16:25:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,SPAN,OTHER,MARRIED,HISPANIC OR LATINO,2124-06-29 23:04:00,2124-06-30 04:13:00,THROMBOCYTOPENIA,0,1
58894,57487,95377,103529,2190-09-08 07:15:00,2190-09-08 22:40:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Government,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,CEREBRAL ANEURYSM/SDA,0,0
58895,57488,95377,161179,2191-09-28 08:00:00,2191-09-29 12:30:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,BRAIN ANEURYSM/SDA,0,1
58897,57490,95380,187198,2196-10-10 20:09:00,2196-10-15 15:40:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Private,ENGL,CATHOLIC,SINGLE,WHITE,2196-10-10 16:12:00,2196-10-11 00:40:00,HYPONATREMIA,0,1
58898,57491,95380,198194,2196-10-28 21:19:00,2196-11-09 17:40:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Private,ENGL,CATHOLIC,SINGLE,WHITE,NaN,NaN,KIDNEY FAILURE,0,1
58926,58549,98666,127829,2151-11-24 03:07:00,2151-12-01 17:30:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,LONG TERM CARE HOSPITAL,Medicaid,ENGL,CATHOLIC,SINGLE,BLACK/AFRICAN AMERICAN,2151-11-24 01:37:00,2151-11-24 05:50:00,CARDIAC ARREST,0,1
58947,58570,98744,156671,2127-03-25 16:52:00,2127-04-02 13:25:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,HYDRATION; PAIN MANAGEMENT; INFECTION,0,1
58948,58571,98744,168288,2127-06-10 19:22:00,2127-06-18 11:51:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,2127-06-10 13:52:00,2127-06-10 21:58:00,FEVER,0,1
58949,58572,98744,116892,2127-06-27 13:30:00,2127-06-27 20:00:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,RIGHT URETERAL STRICTURE/SDA,0,0
58950,58573,98744,184410,2127-06-30 20:19:00,2127-07-04 14:35:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,2127-06-30 14:28:00,2127-07-01 04:39:00,ABDOMINAL PAIN,0,1
58951,58574,98744,153703,2127-10-21 12:43:00,2127-10-31 12:35:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,SEPSIS,0,1
58952,58575,98744,104396,2128-01-23 07:45:00,2128-02-04 12:07:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,BILATERAL URETERAL OBSTRUCTION/SDA,0,1
58961,58584,98759,175386,2165-06-05 11:30:00,2165-06-07 12:00:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Private,ENGL,CATHOLIC,WIDOWED,WHITE,NaN,NaN,BRAIN ANEURYSM/SDA,0,1
58963,58586,98761,182540,2186-02-08 12:30:00,2186-02-08 20:21:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,SHORT GUT SYNDROME/SDA,0,0
58964,58587,98761,175884,2189-07-10 18:08:00,2189-07-17 14:57:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,2189-07-10 14:46:00,2189-07-10 20:28:00,DEHYDRATION,0,1
58974,58597,98813,170407,2128-11-11 02:29:00,2128-12-22 13:11:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,ENGL,CATHOLIC,MARRIED,WHITE,2128-11-10 23:48:00,2128-11-11 03:16:00,S/P FALL,0,0
58975,58598,98813,190264,2131-10-25 03:09:00,2131-10-26 17:44:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,CATHOLIC,MARRIED,WHITE,2131-10-25 00:08:00,2131-10-25 04:35:00,INTRACRANIAL HEMORRHAGE,0,1

In [6]:
#merged2.iloc[40000:40050]
data2.loc[data2['SUBJECT_ID']==23]

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1

In [7]:
data2.shape

(58976, 19)

In [8]:
# duplicate rows?, no
nodup = data2.drop_duplicates(subset=None, keep='first', inplace=False)
nodup.shape

(58976, 19)

In [9]:
data2 = data2.astype ({'ROW_ID': str })

In [10]:
#can'get group by with row ids, type error
data6 = data2.groupby('SUBJECT_ID').agg({'ROW_ID' : lambda x: ', '.join(x)})
data6.head(20)

            ROW_ID
SUBJECT_ID
2                1
3                2
4                3
5                4
6                5
7                6
8                7
9                8
10               9
11              10
12              11
13              12
16              13
17          14, 15
18              16
19              17
20              18
21          19, 20
22              21
23          22, 23

In [11]:
data3 = data2.drop_duplicates(subset='SUBJECT_ID', keep='first', inplace=False)
data3.shape

(46520, 19)

In [12]:
#Matrix Description
#ethinicty doesn't change, same patient duplicate droped, kept ethnicity in the top row 


#data3 = data2.drop_duplicates(subset='ETHNICITY' , keep='first', inplace=False)
#data3 = data2.groupby('SUBJECT_ID').agg({'ETHNICITY' : lambda x: ', '.join(x)})
#return first value for ethnicity not white twice 

data3 = data3[['SUBJECT_ID','ETHNICITY' ]]

data3.head(30)

    SUBJECT_ID               ETHNICITY
0           22                   WHITE
1           23                   WHITE
3           24                   WHITE
4           25                   WHITE
5           26   UNKNOWN/NOT SPECIFIED
6           27                   WHITE
7           28                   WHITE
8           30   UNKNOWN/NOT SPECIFIED
9           31                   WHITE
10          32                   WHITE
11          33   UNKNOWN/NOT SPECIFIED
12          34                   WHITE
14          35                   WHITE
15          36                   WHITE
18          37                   WHITE
19          38                   WHITE
20          39   UNKNOWN/NOT SPECIFIED
21          41                   WHITE
22         357                   WHITE
27         358                   WHITE
28         359   UNKNOWN/NOT SPECIFIED
29         360                   WHITE
30         361    MULTI RACE ETHNICITY
32         362                   WHITE
34         363  BLACK/AFRICAN AMERICAN
35         364   UNKNOWN/NOT SPECIFIED
36         365                   WHITE
37         366      HISPANIC OR LATINO
38         367                   WHITE
39         368                   WHITE

In [13]:
## group by each colummn and join?

In [14]:
data4 = data2.groupby('SUBJECT_ID').agg({'INSURANCE' : lambda x: ', '.join(x)})
data4.head()

           INSURANCE
SUBJECT_ID
2            Private
3           Medicare
4            Private
5            Private
6           Medicare

In [15]:
data5 = data2.groupby('SUBJECT_ID').agg({'ADMISSION_TYPE' : lambda x: ', '.join(x)})
data5.head()

           ADMISSION_TYPE
SUBJECT_ID
2                 NEWBORN
3               EMERGENCY
4               EMERGENCY
5                 NEWBORN
6                ELECTIVE

In [16]:
demodata= pd.merge(data3, data4, how='inner', on='SUBJECT_ID')
demodata.head()

   SUBJECT_ID              ETHNICITY           INSURANCE
0          22                  WHITE             Private
1          23                  WHITE  Medicare, Medicare
2          24                  WHITE             Private
3          25                  WHITE             Private
4          26  UNKNOWN/NOT SPECIFIED            Medicare

In [17]:
demodata= pd.merge(demodata, data5, how='inner', on='SUBJECT_ID')
demodata.head()

   SUBJECT_ID              ETHNICITY           INSURANCE       ADMISSION_TYPE
0          22                  WHITE             Private            EMERGENCY
1          23                  WHITE  Medicare, Medicare  ELECTIVE, EMERGENCY
2          24                  WHITE             Private            EMERGENCY
3          25                  WHITE             Private            EMERGENCY
4          26  UNKNOWN/NOT SPECIFIED            Medicare            EMERGENCY

In [18]:
demodata= pd.merge(demodata, data6, how='inner', on='SUBJECT_ID')
demodata.head(30)

,SUBJECT_ID,ETHNICITY,INSURANCE,ADMISSION_TYPE,ROW_ID
0,22,WHITE,Private,EMERGENCY,21
1,23,WHITE,"Medicare, Medicare","ELECTIVE, EMERGENCY","22, 23"
2,24,WHITE,Private,EMERGENCY,24
3,25,WHITE,Private,EMERGENCY,25
4,26,UNKNOWN/NOT SPECIFIED,Medicare,EMERGENCY,26
5,27,WHITE,Private,NEWBORN,27
6,28,WHITE,Medicare,ELECTIVE,28
7,30,UNKNOWN/NOT SPECIFIED,Medicare,URGENT,29
8,31,WHITE,Medicare,EMERGENCY,30
9,32,WHITE,Medicaid,ELECTIVE,31
10,33,UNKNOWN/NOT SPECIFIED,Medicare,EMERGENCY,32
11,34,WHITE,"Medicare, Medicare","EMERGENCY, EMERGENCY","33, 34"
12,35,WHITE,Medicare,ELECTIVE,35
13,36,WHITE,"Medicare, Medicare, Medicare","EMERGENCY, EMERGENCY, ELECTIVE","36, 37, 38"
14,37,WHITE,Medicare,EMERGENCY,39
15,38,WHITE,Medicare,EMERGENCY,40
16,39,UNKNOWN/NOT SPECIFIED,Private,NEWBORN,41
17,41,WHITE,Private,ELECTIVE,42
18,357,WHITE,"Private, Private, Private, Private, Private","EMERGENCY, EMERGENCY, EMERGENCY, EMERGENCY, EM...","456, 457, 458, 459, 460"
19,358,WHITE,Private,NEWBORN,461
20,359,UNKNOWN/NOT SPECIFIED,Self Pay,EMERGENCY,462
21,360,WHITE,Medicare,EMERGENCY,463
22,361,MULTI RACE ETHNICITY,"Medicare, Medicare","EMERGENCY, EMERGENCY","464, 465"
23,362,WHITE,"Medicare, Medicare","EMERGENCY, EMERGENCY","466, 467"
24,363,BLACK/AFRICAN AMERICAN,Government,NEWBORN,468
25,364,UNKNOWN/NOT SPECIFIED,Medicare,EMERGENCY,469
26,365,WHITE,Private,EMERGENCY,470
27,366,HISPANIC OR LATINO,Medicare,EMERGENCY,471
28,367,WHITE,Private,EMERGENCY,472
29,368,WHITE,"Medicare, Medicare","EMERGENCY, EMERGENCY","473, 474"

In [19]:
data2 = data2.astype({'DIAGNOSIS': str })     # ['group2'].astype(str)
#data = data.astype ({'ICD9_CODE': str })

In [20]:
data7 = data2.groupby('SUBJECT_ID').agg({'DIAGNOSIS' : lambda x: ', '.join(x)})
data7.head(40)

                                                    DIAGNOSIS
SUBJECT_ID
2                                                     NEWBORN
3                                                 HYPOTENSION
4                         FEVER,DEHYDRATION,FAILURE TO THRIVE
5                                                     NEWBORN
6                                   CHRONIC RENAL FAILURE/SDA
7                                                     NEWBORN
8                                                     NEWBORN
9                                             HEMORRHAGIC CVA
10                                                    NEWBORN
11                                                 BRAIN MASS
12                                      PANCREATIC CANCER/SDA
13                                    CORONARY ARTERY DISEASE
16                                                    NEWBORN
17          PATIENT FORAMEN OVALE\ PATENT FORAMEN OVALE MI...
18                                      HYPOGLYCEMIA;SEIZURES
19                                               C-2 FRACTURE
20          CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...
21                           CONGESTIVE HEART FAILURE, SEPSIS
22                                    BENZODIAZEPINE OVERDOSE
23          CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...
24                             INTERIOR MYOCARDIAL INFARCTION
25                                    ACUTE CORONARY SYNDROME
26                                                     V-TACH
27                                                    NEWBORN
28          CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...
30                                       UNSTABLE ANGINA\CATH
31                                         STATUS EPILEPTICUS
32                                      TRACHEAL STENOSIS/SDA
33                                           SEPSIS;TELEMETRY
34                               CHEST PAIN\CATH, BRADYCARDIA
35          AORTIC VALVE DISEASE\CORONARY ARTERY BYPASS GR...
36          CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...
37                                   CONGESTIVE HEART FAILURE
38                         ACUTE MYOCARDIAL INFARCTION-SEPSIS
39                                                    NEWBORN
41                                RIGHT BRAIN STEM LESION/SDA
42                                   CONGESTIVE HEART FAILURE
43                                               T12 FRACTURE
44                               CORONARY ARTERY DISEASE\CATH
45                                 S/P MOTOR VEHICLE ACCIDENT

In [21]:
demodata= pd.merge(demodata, data7, how='inner', on='SUBJECT_ID')
demodata.head(30)

,SUBJECT_ID,ETHNICITY,INSURANCE,ADMISSION_TYPE,ROW_ID,DIAGNOSIS
0,22,WHITE,Private,EMERGENCY,21,BENZODIAZEPINE OVERDOSE
1,23,WHITE,"Medicare, Medicare","ELECTIVE, EMERGENCY","22, 23",CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...
2,24,WHITE,Private,EMERGENCY,24,INTERIOR MYOCARDIAL INFARCTION
3,25,WHITE,Private,EMERGENCY,25,ACUTE CORONARY SYNDROME
4,26,UNKNOWN/NOT SPECIFIED,Medicare,EMERGENCY,26,V-TACH
5,27,WHITE,Private,NEWBORN,27,NEWBORN
6,28,WHITE,Medicare,ELECTIVE,28,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...
7,30,UNKNOWN/NOT SPECIFIED,Medicare,URGENT,29,UNSTABLE ANGINA\CATH
8,31,WHITE,Medicare,EMERGENCY,30,STATUS EPILEPTICUS
9,32,WHITE,Medicaid,ELECTIVE,31,TRACHEAL STENOSIS/SDA
10,33,UNKNOWN/NOT SPECIFIED,Medicare,EMERGENCY,32,SEPSIS;TELEMETRY
11,34,WHITE,"Medicare, Medicare","EMERGENCY, EMERGENCY","33, 34","CHEST PAIN\CATH, BRADYCARDIA"
12,35,WHITE,Medicare,ELECTIVE,35,AORTIC VALVE DISEASE\CORONARY ARTERY BYPASS GR...
13,36,WHITE,"Medicare, Medicare, Medicare","EMERGENCY, EMERGENCY, ELECTIVE","36, 37, 38",CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...
14,37,WHITE,Medicare,EMERGENCY,39,CONGESTIVE HEART FAILURE
15,38,WHITE,Medicare,EMERGENCY,40,ACUTE MYOCARDIAL INFARCTION-SEPSIS
16,39,UNKNOWN/NOT SPECIFIED,Private,NEWBORN,41,NEWBORN
17,41,WHITE,Private,ELECTIVE,42,RIGHT BRAIN STEM LESION/SDA
18,357,WHITE,"Private, Private, Private, Private, Private","EMERGENCY, EMERGENCY, EMERGENCY, EMERGENCY, EM...","456, 457, 458, 459, 460","GASTROINTESTINAL BLEED, SEIZURE, SEPSIS, PNEUM..."
19,358,WHITE,Private,NEWBORN,461,NEWBORN
20,359,UNKNOWN/NOT SPECIFIED,Self Pay,EMERGENCY,462,R/O MYOCARDIAL INFARCTION
21,360,WHITE,Medicare,EMERGENCY,463,CEREBROVASCULAR ACCIDENT;TELEMETRY
22,361,MULTI RACE ETHNICITY,"Medicare, Medicare","EMERGENCY, EMERGENCY","464, 465","HYPOTENSION, DEEP VEIN THROMBOSIS;HEMOCULT POS..."
23,362,WHITE,"Medicare, Medicare","EMERGENCY, EMERGENCY","466, 467",HYPONATREMIA-R/O MYOCARDIAL INFARCTION-RHABDOM...
24,363,BLACK/AFRICAN AMERICAN,Government,NEWBORN,468,NEWBORN
25,364,UNKNOWN/NOT SPECIFIED,Medicare,EMERGENCY,469,MASSIVE HEMOPTYSIS
26,365,WHITE,Private,EMERGENCY,470,CORONARY ARTERY DISEASE\CARDIAC CATH
27,366,HISPANIC OR LATINO,Medicare,EMERGENCY,471,SEPSIS
28,367,WHITE,Private,EMERGENCY,472,NECROTIZING FASCITITIS
29,368,WHITE,"Medicare, Medicare","EMERGENCY, EMERGENCY","473, 474","PNEUMONIA, PNEUMONIA"

In [22]:
demodata.loc[demodata['SUBJECT_ID']==36]

,SUBJECT_ID,ETHNICITY,INSURANCE,ADMISSION_TYPE,ROW_ID,DIAGNOSIS
13,36,WHITE,"Medicare, Medicare, Medicare","EMERGENCY, EMERGENCY, ELECTIVE","36, 37, 38",CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...

In [23]:
data7 = data2.groupby('SUBJECT_ID').agg({'ADMISSION_LOCATION' : lambda x: ', '.join(x)})
#data7.head()
demodata= pd.merge(demodata, data7, how='inner', on='SUBJECT_ID')
demodata.head()

,SUBJECT_ID,ETHNICITY,INSURANCE,ADMISSION_TYPE,ROW_ID,DIAGNOSIS,ADMISSION_LOCATION
0,22,WHITE,Private,EMERGENCY,21,BENZODIAZEPINE OVERDOSE,EMERGENCY ROOM ADMIT
1,23,WHITE,"Medicare, Medicare","ELECTIVE, EMERGENCY","22, 23",CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,"PHYS REFERRAL/NORMAL DELI, TRANSFER FROM HOSP/..."
2,24,WHITE,Private,EMERGENCY,24,INTERIOR MYOCARDIAL INFARCTION,TRANSFER FROM HOSP/EXTRAM
3,25,WHITE,Private,EMERGENCY,25,ACUTE CORONARY SYNDROME,EMERGENCY ROOM ADMIT
4,26,UNKNOWN/NOT SPECIFIED,Medicare,EMERGENCY,26,V-TACH,TRANSFER FROM HOSP/EXTRAM

In [24]:
data8 = data2.groupby('SUBJECT_ID').agg({'DISCHARGE_LOCATION' : lambda x: ', '.join(x)})
#data8.head()
demodata= pd.merge(demodata, data8, how='inner', on='SUBJECT_ID')
demodata.head()

,SUBJECT_ID,ETHNICITY,INSURANCE,ADMISSION_TYPE,ROW_ID,DIAGNOSIS,ADMISSION_LOCATION,DISCHARGE_LOCATION
0,22,WHITE,Private,EMERGENCY,21,BENZODIAZEPINE OVERDOSE,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H
1,23,WHITE,"Medicare, Medicare","ELECTIVE, EMERGENCY","22, 23",CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,"PHYS REFERRAL/NORMAL DELI, TRANSFER FROM HOSP/...","HOME HEALTH CARE, HOME HEALTH CARE"
2,24,WHITE,Private,EMERGENCY,24,INTERIOR MYOCARDIAL INFARCTION,TRANSFER FROM HOSP/EXTRAM,HOME
3,25,WHITE,Private,EMERGENCY,25,ACUTE CORONARY SYNDROME,EMERGENCY ROOM ADMIT,HOME
4,26,UNKNOWN/NOT SPECIFIED,Medicare,EMERGENCY,26,V-TACH,TRANSFER FROM HOSP/EXTRAM,HOME

In [25]:
data2.dtypes

ROW_ID                  object
SUBJECT_ID               int64
HADM_ID                  int64
ADMITTIME               object
DISCHTIME               object
DEATHTIME               object
ADMISSION_TYPE          object
ADMISSION_LOCATION      object
DISCHARGE_LOCATION      object
INSURANCE               object
LANGUAGE                object
RELIGION                object
MARITAL_STATUS          object
ETHNICITY               object
EDREGTIME               object
EDOUTTIME               object
DIAGNOSIS               object
HOSPITAL_EXPIRE_FLAG     int64
HAS_CHARTEVENTS_DATA     int64
dtype: object

In [26]:
data2 = data2.astype ({'MARITAL_STATUS': str })

In [27]:
data9 = data2.groupby('SUBJECT_ID').agg({'MARITAL_STATUS' : lambda x: ', '.join(x)})
#data8.head()
demodata= pd.merge(demodata, data9, how='inner', on='SUBJECT_ID')
demodata.head()

,SUBJECT_ID,ETHNICITY,INSURANCE,ADMISSION_TYPE,ROW_ID,DIAGNOSIS,ADMISSION_LOCATION,DISCHARGE_LOCATION,MARITAL_STATUS
0,22,WHITE,Private,EMERGENCY,21,BENZODIAZEPINE OVERDOSE,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,MARRIED
1,23,WHITE,"Medicare, Medicare","ELECTIVE, EMERGENCY","22, 23",CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,"PHYS REFERRAL/NORMAL DELI, TRANSFER FROM HOSP/...","HOME HEALTH CARE, HOME HEALTH CARE","MARRIED, MARRIED"
2,24,WHITE,Private,EMERGENCY,24,INTERIOR MYOCARDIAL INFARCTION,TRANSFER FROM HOSP/EXTRAM,HOME,SINGLE
3,25,WHITE,Private,EMERGENCY,25,ACUTE CORONARY SYNDROME,EMERGENCY ROOM ADMIT,HOME,MARRIED
4,26,UNKNOWN/NOT SPECIFIED,Medicare,EMERGENCY,26,V-TACH,TRANSFER FROM HOSP/EXTRAM,HOME,SINGLE

In [28]:
data2 = data2.astype ({'HADM_ID': str })

In [29]:
data10 = data2.groupby('SUBJECT_ID').agg({'HADM_ID' : lambda x: ', '.join(x)})
#data7.head()
demodata= pd.merge(demodata, data10, how='inner', on='SUBJECT_ID')
demodata.tail(50)

,SUBJECT_ID,ETHNICITY,INSURANCE,ADMISSION_TYPE,ROW_ID,DIAGNOSIS,ADMISSION_LOCATION,DISCHARGE_LOCATION,MARITAL_STATUS,HADM_ID
46470,98636,BLACK/AFRICAN AMERICAN,Medicaid,EMERGENCY,58537,ASTHMA;CHRONIC OBST PULM DISEASE,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,SINGLE,143528
46471,98639,WHITE,Medicare,ELECTIVE,58538,CONGESTIVE HEART FAILURE\Transcatheter Aortic ...,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,MARRIED,167385
46472,98640,WHITE,Private,EMERGENCY,58539,INTRACRANIAL HEMORRHAGE,CLINIC REFERRAL/PREMATURE,HOME,SINGLE,104073
46473,98642,WHITE,Medicare,EMERGENCY,58540,ACUTE CORONARY SYNDROME,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,SINGLE,162213
46474,98643,PATIENT DECLINED TO ANSWER,Private,ELECTIVE,58541,ATRIAL FIBILLATION\BILATERAL THORACOSCOPIC MIN...,PHYS REFERRAL/NORMAL DELI,HOME,MARRIED,177932
46475,98644,BLACK/AFRICAN AMERICAN,Medicare,EMERGENCY,58542,ACUTE RENAL FAILURE,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,MARRIED,109643
46476,98647,WHITE,Medicare,EMERGENCY,58543,LEFT FEMUR FRACTURE,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,SINGLE,167391
46477,98649,ASIAN - ASIAN INDIAN,Medicaid,EMERGENCY,58544,PNEUMONIA,CLINIC REFERRAL/PREMATURE,HOME HEALTH CARE,WIDOWED,110990
46478,98656,WHITE,Medicare,EMERGENCY,58545,ABDOMINAL PAIN,CLINIC REFERRAL/PREMATURE,LONG TERM CARE HOSPITAL,WIDOWED,138450
46479,98664,WHITE,Private,EMERGENCY,58546,CHEST PAIN,EMERGENCY ROOM ADMIT,SNF,SEPARATED,150793
46480,98665,WHITE,Private,EMERGENCY,58547,LIVER FAILURE,EMERGENCY ROOM ADMIT,SNF,MARRIED,145585
46481,98666,BLACK/AFRICAN AMERICAN,"Medicaid, Medicaid","EMERGENCY, EMERGENCY","58548, 58549","FEVER, CARDIAC ARREST","EMERGENCY ROOM ADMIT, EMERGENCY ROOM ADMIT","LONG TERM CARE HOSPITAL, LONG TERM CARE HOSPITAL","SINGLE, SINGLE","161654, 127829"
46482,98669,UNABLE TO OBTAIN,Medicare,EMERGENCY,58550,SUBARACHNOID HEMORRHAGE,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,nan,108710
46483,98673,WHITE,Private,EMERGENCY,58551,BLUNT TRAUMA,EMERGENCY ROOM ADMIT,REHAB/DISTINCT PART HOSP,MARRIED,137415
46484,98674,BLACK/AFRICAN AMERICAN,Government,EMERGENCY,58552,AIRWAY OBSTRUCTION,CLINIC REFERRAL/PREMATURE,HOME,MARRIED,126383
46485,98685,WHITE,Private,EMERGENCY,58553,POST OP BLEEDING,CLINIC REFERRAL/PREMATURE,HOME,MARRIED,165094
46486,98686,WHITE,Medicare,EMERGENCY,58554,UPPER GI BLEED,CLINIC REFERRAL/PREMATURE,HOME,DIVORCED,121161
46487,98687,WHITE,Private,ELECTIVE,58555,DRUG REFRACTORY ATRIAL FIBRILLATION\PULMONARY ...,PHYS REFERRAL/NORMAL DELI,HOME,MARRIED,178032
46488,98697,WHITE,Medicare,EMERGENCY,58556,PNEUMONIA,CLINIC REFERRAL/PREMATURE,HOME,MARRIED,166893
46489,98698,WHITE,Government,EMERGENCY,58557,SEPSIS,EMERGENCY ROOM ADMIT,HOME,MARRIED,134977
46490,98701,WHITE,Private,EMERGENCY,58558,BLEEDING,CLINIC REFERRAL/PREMATURE,HOSPICE-HOME,MARRIED,124568
46491,98702,UNABLE TO OBTAIN,Medicaid,EMERGENCY,58559,RESPIRATORY DISTRESS,CLINIC REFERRAL/PREMATURE,SNF,SINGLE,159247
46492,98709,HISPANIC OR LATINO,Medicaid,EMERGENCY,58560,POLYTRAUMA,CLINIC REFERRAL/PREMATURE,HOME,MARRIED,164644
46493,98710,WHITE,Private,EMERGENCY,58561,STEMI,PHYS REFERRAL/NORMAL DELI,HOME,MARRIED,123372
46494,98713,WHITE,Medicare,EMERGENCY,58562,ST-SEGMENT ELEVATION MYOCARDIAL INFARCTION\CAR...,TRANSFER FROM HOSP/EXTRAM,HOME,WIDOWED,105148
46495,98714,WHITE,Medicare,EMERGENCY,58563,CORONARY ARTERY DISEASE\RIGHT CORONARY ARTERY ...,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,UNKNOWN (DEFAULT),171885
46496,98717,PATIENT DECLINED TO ANSWER,Private,EMERGENCY,58564,S/P FALL,CLINIC REFERRAL/PREMATURE,REHAB/DISTINCT PART HOSP,LIFE PARTNER,174054
46497,98720,WHITE,Medicare,EMERGENCY,58565,BRADYCARDIA,CLINIC REFERRAL/PREMATURE,LONG TERM CARE HOSPITAL,WIDOWED,131917
46498,98724,WHITE,Medicare,EMERGENCY,58566,CELLULITIS,CLINIC REFERRAL/PREMATURE,REHAB/DISTINCT PART HOSP,MARRIED,186754
46499,98733,WHITE,Private,EMERGENCY,58567,CORONARY ARTERY DISEASE,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,MARRIED,152232
46500,98734,WHITE,Medicare,EMERGENCY,58568,UTI;PYELONEPHRITIS,EMERGENCY ROOM ADMIT,HOME,DIVORCED,123336
46501,98744,WHITE,"Medicare, Medicare, Medicare, Medicare, Medica...","ELECTIVE, EMERGENCY, EMERGENCY, ELECTIVE, EMER...","58569, 58570, 58571, 58572, 58573, 58574, 58575","BLADDER MASS/SDA, HYDRATION; PAIN MANAGEMENT; ...","PHYS REFERRAL/NORMAL DELI, CLINIC REFERRAL/PRE...","HOME, HOME HEALTH CARE, HOME HEALTH CARE, HOME...","MARRIED, MARRIED, MARRIED, MARRIED, MARRIED, M...","186076, 156671, 168288, 116892, 184410, 153703..."
46502,98746,WHITE,Private,EMERGENCY,58576,LOWER GI BLEED,CLINIC REFERRAL/PREMATURE,HOME,SINGLE,150868
46503,98748,HISPANIC OR LATINO,Medicare,ELECTIVE,58577,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,PHYS REFERRAL/NORMAL DELI,SNF,SINGLE,122488
46504,98749,BLACK/AFRICAN AMERICAN,Medicaid,EMERGENCY,58578,DIABETIC KETOACIDOSIS,EMERGENCY ROOM ADMIT,LEFT AGAINST MEDICAL ADVI,SINGLE,158912
46505,98751,WHITE,Medicare,EMERGENCY,58579,HYPOTENSION,EMERGENCY ROOM ADMIT,HOME,MARRIED,156499
46506,98753,WHITE,Medicare,EMERGENCY,58580,R/O METASTASIS,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,MARRIED,185764
46507,98755,WHITE,Medicare,EMERGENCY,58581,ASTHMA/COPD EXACERBATION,EMERGENCY ROOM ADMIT,LONG TERM CARE HOSPITAL,WIDOWED,184156
46508,98758,WHITE,Private,ELECTIVE,58582,CHIARI MALFORMATION/SDA,PHYS REFERRAL/NORMAL DELI,HOME,MARRIED,182231
46509,98759,WHITE,"Private, Private","EMERGENCY, ELECTIVE","58583, 58584","BRAIN ANEURYSM, BRAIN ANEURYSM/SDA","CLINIC REFERRAL/PREMATURE, PHYS REFERRAL/NORMA...","HOME, HOME","WIDOWED, WIDOWED","109836, 175386"
46510,98761,WHITE,"Private, Medicare, Medicare","ELECTIVE, ELECTIVE, EMERGENCY","58585, 58586, 58587",GASTROPARESIS\PLACEMENT OF G-TUBE **REMOTE WES...,"PHYS REFERRAL/NORMAL DELI, PHYS REFERRAL/NORMA...","HOME, HOME, HOME HEALTH CARE","MARRIED, MARRIED, MARRIED","184477, 182540, 175884"
46511,98762,WHITE,Private,EMERGENCY,58588,ACUTE RENAL FAILURE,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,MARRIED,192767
46512,98768,WHITE,Medicare,EMERGENCY,58589,LEUKOCYTOSIS,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,WIDOWED,127022
46513,98769,WHITE,Medicare,EMERGENCY,58590,ISCHEMIC COLITIS,CLINIC REFERRAL/PREMATURE,SNF,WIDOWED,141860
46514,98790,WHITE,Private,EMERGENCY,58591,JOINT EFFUSION,EMERGENCY ROOM ADMIT,HOME HEALTH CARE,MARRIED,187987
46515,98794,WHITE,Medicare,ELECTIVE,58592,AORTIC STENOSIS\AORTIC VALVE REPLACEMENT /SDA,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,MARRIED,190603
46516,98797,WHITE,Medicare,EMERGENCY,58593,ALTERED MENTAL STATUS,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,WIDOWED,105447
46517,98800,WHITE,Private,EMERGENCY,58594,TRAUMA,CLINIC REFERRAL/PREMATURE,HOME,SINGLE,191113
46518,98802,WHITE,Medicare,EMERGENCY,58595,SAH,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,WIDOWED,101071
46519,98805,WHITE,Private,ELECTIVE,58596,RENAL CANCER/SDA,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,MARRIED,122631

In [30]:
# match with ICD9 code using HADMID? 
demodata.shape

(46520, 10)

# Check if Regex to find row works

In [31]:
sample = demodata.loc[demodata['SUBJECT_ID']==34]
sample['ROW_ID']

11    33, 34
Name: ROW_ID, dtype: object

In [33]:
#doesn't work
#demodata.loc[demodata['ROW_ID']==[33,34]]

In [37]:
#change groupby to make 1 and 0 regex work, no comma, a string
sample2 = data2.groupby('SUBJECT_ID').agg({'ADMISSION_TYPE' : lambda x: ''.join(x)})
data5.head(30)

                ADMISSION_TYPE
SUBJECT_ID
2                      NEWBORN
3                    EMERGENCY
4                    EMERGENCY
5                      NEWBORN
6                     ELECTIVE
7                      NEWBORN
8                      NEWBORN
9                    EMERGENCY
10                     NEWBORN
11                   EMERGENCY
12                    ELECTIVE
13                   EMERGENCY
16                     NEWBORN
17           ELECTIVEEMERGENCY
18                   EMERGENCY
19                   EMERGENCY
20                    ELECTIVE
21          EMERGENCYEMERGENCY
22                   EMERGENCY
23           ELECTIVEEMERGENCY
24                   EMERGENCY
25                   EMERGENCY
26                   EMERGENCY
27                     NEWBORN
28                    ELECTIVE
30                      URGENT
31                   EMERGENCY
32                    ELECTIVE
33                   EMERGENCY
34          EMERGENCYEMERGENCY

In [33]:
#sample2.loc[sample2['ADMISSION_TYPE'].str.contains('NEW'), 'ADMISSION_TYPE'] = 1
#sample2.head(10)

#rows = sample2[sample2['ADMISSION_TYPE'].str.contains('NEW')]
#dataframe with selected rows 
#rows['ADMISSION_TYPE'].iloc['']

#df.b.str.contains('^f')

#groups to int

#only numeric columns datamap['group'] = datamap['group'].str.replace('V','10',regex=True) datamap['group'] = datamap['group'].str.replace('E','11',regex=True)

#datamap['group'] = datamap['group'].astype(np.int) datamap['group'] = datamap['group'].astype(np.float) datamap.head(30)

In [49]:
#with random dataframe
train = pd.DataFrame({'Cabin':[10,20,30,40,50], 'Pclass':[1,2,3,1,2]})
print (train)

   Cabin  Pclass
0     10       1
1     20       2
2     30       3
3     40       1
4     50       2

In [50]:
train.loc[train['Pclass'] == 1, 'Pclass'] = 2
print(train)

   Cabin  Pclass
0     10       2
1     20       2
2     30       3
3     40       2
4     50       2

# Age

In [161]:
agedata= pd.read_csv('PATIENTS.csv')
agedata.shape

(46520, 8)

In [162]:
#admission and patient.csv date of admission - doB

# LabelEncoding

In [163]:
le = LabelEncoder()

In [164]:
demodata['ETHNICITYc']= le.fit_transform(demodata['ETHNICITY']) 

demodata.head()

,SUBJECT_ID,ETHNICITY,INSURANCE,ADMISSION_TYPE,ROW_ID,DIAGNOSIS,ADMISSION_LOCATION,DISCHARGE_LOCATION,MARITAL_STATUS,HADM_ID,ETHNICITYc
0,22,WHITE,Private,EMERGENCY,21,BENZODIAZEPINE OVERDOSE,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,MARRIED,165315,36
1,23,WHITE,"Medicare, Medicare","ELECTIVE, EMERGENCY","22, 23",CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,"PHYS REFERRAL/NORMAL DELI, TRANSFER FROM HOSP/...","HOME HEALTH CARE, HOME HEALTH CARE","MARRIED, MARRIED","152223, 124321",36
2,24,WHITE,Private,EMERGENCY,24,INTERIOR MYOCARDIAL INFARCTION,TRANSFER FROM HOSP/EXTRAM,HOME,SINGLE,161859,36
3,25,WHITE,Private,EMERGENCY,25,ACUTE CORONARY SYNDROME,EMERGENCY ROOM ADMIT,HOME,MARRIED,129635,36
4,26,UNKNOWN/NOT SPECIFIED,Medicare,EMERGENCY,26,V-TACH,TRANSFER FROM HOSP/EXTRAM,HOME,SINGLE,197661,35

In [167]:
demodata['INSURANCEc']= le.fit_transform(demodata['INSURANCE']) 
demodata.head(10)

,SUBJECT_ID,ETHNICITY,INSURANCE,ADMISSION_TYPE,ROW_ID,DIAGNOSIS,ADMISSION_LOCATION,DISCHARGE_LOCATION,MARITAL_STATUS,HADM_ID,ETHNICITYc,INSURANCEc
0,22,WHITE,Private,EMERGENCY,21,BENZODIAZEPINE OVERDOSE,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,MARRIED,165315,36,154
1,23,WHITE,"Medicare, Medicare","ELECTIVE, EMERGENCY","22, 23",CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,"PHYS REFERRAL/NORMAL DELI, TRANSFER FROM HOSP/...","HOME HEALTH CARE, HOME HEALTH CARE","MARRIED, MARRIED","152223, 124321",36,105
2,24,WHITE,Private,EMERGENCY,24,INTERIOR MYOCARDIAL INFARCTION,TRANSFER FROM HOSP/EXTRAM,HOME,SINGLE,161859,36,154
3,25,WHITE,Private,EMERGENCY,25,ACUTE CORONARY SYNDROME,EMERGENCY ROOM ADMIT,HOME,MARRIED,129635,36,154
4,26,UNKNOWN/NOT SPECIFIED,Medicare,EMERGENCY,26,V-TACH,TRANSFER FROM HOSP/EXTRAM,HOME,SINGLE,197661,35,98
5,27,WHITE,Private,NEWBORN,27,NEWBORN,PHYS REFERRAL/NORMAL DELI,HOME,nan,134931,36,154
6,28,WHITE,Medicare,ELECTIVE,28,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,MARRIED,162569,36,98
7,30,UNKNOWN/NOT SPECIFIED,Medicare,URGENT,29,UNSTABLE ANGINA\CATH,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,MARRIED,104557,35,98
8,31,WHITE,Medicare,EMERGENCY,30,STATUS EPILEPTICUS,TRANSFER FROM HOSP/EXTRAM,DEAD/EXPIRED,MARRIED,128652,36,98
9,32,WHITE,Medicaid,ELECTIVE,31,TRACHEAL STENOSIS/SDA,PHYS REFERRAL/NORMAL DELI,HOME,nan,175413,36,35

# Diagnosis

In [36]:
data= pd.read_csv('group19gender.csv')
data.shape # doesn't have empty rows
#data.head()
#data['SUBJECT_ID'].head(10)

/Users/kathy908000/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (1,4,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(634709, 35)

In [37]:
data.loc[6:11].head(10)

,ROW_ID_x,ICD9_CODE,SHORT_TITLE_x,LONG_TITLE_x,group,group2,lv.1_code,lv.2_code,lv.1_group,lv.2_group,...,bg10,bg11,bg12,bg13,bg14,bg15,bg16,bg17,bg18,bg19
6,252.0,41,Shigella flexneri,Shigella flexneri,0,1.0,001-009,4.0,INTESTINAL INFECTIOUS DISEASES,Shigellosis,...,0,0,0,0,0,0,0,0,0,0
7,252.0,41,Shigella flexneri,Shigella flexneri,0,1.0,001-009,4.0,INTESTINAL INFECTIOUS DISEASES,Shigellosis,...,0,0,0,0,0,0,0,0,0,0
8,252.0,41,Shigella flexneri,Shigella flexneri,0,1.0,001-009,4.0,INTESTINAL INFECTIOUS DISEASES,Shigellosis,...,0,0,0,0,0,0,0,0,0,0
9,255.0,48,Shigella infection NEC,Other specified shigella infections,0,1.0,001-009,4.0,INTESTINAL INFECTIOUS DISEASES,Shigellosis,...,0,0,0,0,0,0,0,0,0,0
10,256.0,49,Shigellosis NOS,"Shigellosis, unspecified",0,1.0,001-009,4.0,INTESTINAL INFECTIOUS DISEASES,Shigellosis,...,0,0,0,0,0,0,0,0,0,0
11,258.0,51,Botulism food poisoning,Botulism food poisoning,0,1.0,001-009,5.0,INTESTINAL INFECTIOUS DISEASES,Other food poisoning (bacterial),...,0,0,0,0,0,0,0,0,0,0

In [38]:
data = data.drop_duplicates(subset=None, keep='first', inplace=False)
data.shape

(634649, 35)

# Each Row Patient

In [39]:
#data['group2'] = data['group2'].astype(str)
data = data.astype({'group2': str })     # ['group2'].astype(str)
data = data.astype ({'ICD9_CODE': str })

In [40]:
data.dtypes

ROW_ID_x         float64
ICD9_CODE         object
SHORT_TITLE_x     object
LONG_TITLE_x      object
group             object
group2            object
lv.1_code         object
lv.2_code        float64
lv.1_group        object
lv.2_group        object
SUBJECT_ID       float64
HADM_ID          float64
GENDER             int64
DOB               object
DOD              float64
DOD_HOSP          object
bg1                int64
bg2                int64
bg3                int64
bg4                int64
bg5                int64
bg6                int64
bg7                int64
bg8                int64
bg9                int64
bg10               int64
bg11               int64
bg12               int64
bg13               int64
bg14               int64
bg15               int64
bg16               int64
bg17               int64
bg18               int64
bg19               int64
dtype: object

In [41]:
#group by groupconcacat
#data = data.groupby('SUBJECT_ID').agg({'group2' : lambda x: ', '.join(x)})
#data = data.groupby('SUBJECT_ID').agg({'group2' : lambda x: ', '.join(x)}, {'ICD9_CODE' :lambda x: ', '.join(x) })

#data = data.groupby('SUBJECT_ID').agg({'group2' : lambda x: ', '.join(x), 'ICD9_CODE' :lambda x: ', '.join(x) })
#data.head()

In [42]:
pdata = data.groupby('SUBJECT_ID')['ICD9_CODE'].apply(lambda group_series: group_series.tolist()).reset_index()
pdata.head(10)

   SUBJECT_ID                                          ICD9_CODE
0         2.0                                [V053, V290, V3001]
1         3.0  [389, 2639, 41071, 4254, 4275, 4280, 5849, 682...
2         4.0  [4111, 42, 1363, 2763, 5715, 7994, 7907, E9317...
3         5.0                                [V053, V290, V3000]
4         6.0             [2753, 2767, 2859, 40391, 9972, V1582]
5         7.0                                [V053, V290, V3001]
6         8.0              [7706, 7746, V053, V290, V3001, V502]
7         9.0                      [4019, 4280, 431, 5070, 5849]
8        10.0                  [76525, 76515, 7742, V290, V3000]
9        11.0                                             [1913]

In [43]:
#to group based on ICD9-code, one hot encoding each category first 2 digits

#pdata['2dgroup'] = list(map(lambda x: x[0:2], list(pdata['ICD9_CODE'])))
#pdata.head()

# find all diagnoses of single patient, make a list, make new dataframe

In [44]:
icd9 = pdata['ICD9_CODE']
icd9

0                                      [V053, V290, V3001]
1        [389, 2639, 41071, 4254, 4275, 4280, 5849, 682...
2        [4111, 42, 1363, 2763, 5715, 7994, 7907, E9317...
3                                      [V053, V290, V3000]
4                   [2753, 2767, 2859, 40391, 9972, V1582]
                               ...
46512    [389, 23871, 2449, 2724, 2859, 48241, 4870, 51...
46513    [389, 25000, 27651, 40291, 4280, 5538, 5570, 5...
46514    [2721, 2851, 3004, 4019, 53081, 56881, 5699, 5...
46515    [25000, 2724, 2851, 41401, 4241, 4280, 42833, ...
46516                     [25000, 4019, 4139, 75612, 7861]
Name: ICD9_CODE, Length: 46517, dtype: object

digit = []
row = []
a = []

for i in range(634650):
    for j in icd9.iloc[i]:
        digit = j[0:2]
        row.append(digit)
    a.append(row)

a